<div class="performance-card-wrapper">
  <cd-productive-card
    headerTitle="Performance"
    i18n-headerTitle
    [applyShadow]="false"
  >
  <ng-template #header>
    <h2 class="cds--type-heading-compact-02"
        i18n>Performance</h2>
     @if(!emptyStateText) {
    <div cdsStack="horizontal"
         gap="2">
      <cd-time-picker
        [dropdownSize]="'sm'"
        [label]="'Time Span'"
        (selectedTime)="loadCharts($event)"
      ></cd-time-picker>
    </div>
    }
  </ng-template>
  @if(emptyStateText) {
    <cd-empty-state [emptyStateText]="emptyStateText"></cd-empty-state>
  } @else {
  <div cdsGrid
       [narrow]="true"
       [condensed]="false"
       [fullWidth]="true"
       class="cds-mt-5 cds-mb-5">
    <div cdsRow
         [narrow]="true">
      <div cdsCol
           class="cds-mb-5"
           [columnNumbers]="{lg: 5, md: 8, sm: 12}">
        <cd-area-chart
          chartTitle="IOPS"
          i18n-chartTitle
          [chartKey]="performanceTypes?.IOPS"
          [dataUnit]="metricUnitMap?.iops"
          [rawData]="chartDataSignal()?.iops">
        </cd-area-chart>
      </div>
      <div cdsCol
           [columnNumbers]="{lg: 5, md: 8, sm: 12}"
           class="cds-mb-5 performance-card-latency-chart">
        <cd-area-chart
          chartTitle="Latency"
          i18n-chartTitle
          [chartKey]="performanceTypes?.Latency"
          [dataUnit]="metricUnitMap?.latency"
          [rawData]="chartDataSignal()?.latency">
        </cd-area-chart>
      </div>
      <div cdsCol
           class="cds-mb-5"
           [columnNumbers]="{lg: 5, md: 8, sm: 12}">
        <cd-area-chart
          chartTitle="Throughput"
          i18n-chartTitle
          [chartKey]="performanceTypes?.Throughput"
          [dataUnit]="metricUnitMap?.throughput"
          [rawData]="chartDataSignal()?.throughput">
        </cd-area-chart>
      </div>
    </div>
  </div>
  }
  </cd-productive-card>
</div>
