@use './src/styles/defaults/bootstrap-defaults' as bd;

.bg-info {
  background-color: bd.$color-progress-bar-info-bg !important;
}

.bg-freespace {
  background-color: bd.$color-progress-bar-freespace-bg !important;
}

.progress {
  height: 20px;
  margin-bottom: 0;
  position: relative;

  div.progress-bar {
    position: static;
  }

  span {
    color: bd.$color-progress-text;
    display: block;
    font-weight: normal;
    position: absolute;
    width: 100%;
  }
}
