// WIDE TEARSHEET
// No css variable to apply css to modal div hence using css ngdeep
// This is needed to set the width of tearsheet as per carbon standards.
:host ::ng-deep .cds--modal-container.cds--modal-container--lg {
  position: fixed;

  // 88px from top
  inset-block-start: 88px;

  // Fill remaining viewport height
  block-size: calc(100vh - 88px);
  max-block-size: calc(100vh - 88px);

  // 64px margins left & right
  inset-inline-start: 64px;
  inset-inline-end: 64px;
  inline-size: auto;
  max-inline-size: none;
  display: flex;
  flex-direction: column;
}

// FULL TEARSHEET
.tearsheet--full {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tearsheet-cols--full {
  margin: 0;
  padding: 0;
}

// HEADER
.tearsheet-header {
  fill: var(--cds-icon-primary);
  background-color: var(--cds-layer-01);
  padding: var(--cds-spacing-06) var(--cds-spacing-07);
  border-block-end: 1px solid var(--cds-border-subtle-01);

  &-title {
    color: var(--cds-text-primary);
  }

  &-description {
    margin-top: var(--cds-spacing-04);
    color: var(--cds-text-secondary);
  }

  &--full {
    position: sticky;
    padding: 0 0 var(--cds-spacing-05) var(--cds-spacing-07);
  }
}

// BODY
.tearsheet-body {
  padding-block: 0;
  padding-inline: 0;
  padding: 0;
  margin: 0;
  height: 100%;

  .tearsheet-influencer {
    background-color: var(--cds-layer-01);
    padding: var(--cds-spacing-06) var(--cds-spacing-07);
    overflow-block: auto;
    overflow-y: auto;
    border-inline-end: 1px solid var(--cds-border-subtle-01);
    margin: 0;
  }

  .tearsheet-main {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    .tearsheet-content {
      background-color: var(--cds-background);
      margin: 0;
      padding: var(--cds-spacing-06) var(--cds-spacing-07);
      flex: 1;
      overflow-y: auto;

      &--full {
        padding-left: 0;
      }
    }
  }
}

//FOOTER
.tearsheet-footer {
  border-top: 1px solid var(--cds-border-subtle);
  background: var(--cds-background);

  &-cancel {
    margin-left: var(--cds-spacing-05);
  }

  &-submit {
    display: flex;
    justify-content: start;
  }

  &--full {
    position: sticky;
    bottom: 0;
  }
}

cds-loading {
  margin-right: var(--cds-spacing-05);
}
