.details {
  font-size: larger;

  dt {
    margin-bottom: 0.3rem;
  }

  dd {
    margin-bottom: 0.8rem;
  }
}

.status {
  .viewAlert {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}

.alerts {
  height: 65%;

  .alerts-section {
    max-height: 16rem;
    overflow: auto;
  }
}
