dt { 
    scroll-margin-top: 3em; 
}

h2 {
    scroll-margin-top: 4em; 
}

h3 {
    scroll-margin-top: 4em; 
}

section {
    scroll-margin-top: 4em; 
}

span {
    scroll-margin-top: 2em; 
}

ul.simple > li > ul > li:last-child {
    margin-block-end : 1em;
}

div.section > ul > li > p {
    margin-block-start : 0.6em;
    margin-block-end : 0.6em;
}
