<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li i18n
        class="breadcrumb-item">Filesystem</li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/cephfs/' + id]">{{ name }}</a>
    </li>
    <li i18n
        class="breadcrumb-item active"
        aria-current="page">Clients</li>
  </ol>
</nav>

<fieldset>
  <cd-view-cache [status]="viewCacheStatus"></cd-view-cache>

  <cd-table [data]="clients.data"
            [columns]="clients.columns"
            (fetchData)="refresh()"
            [header]="false">
  </cd-table>
</fieldset>
