audit=false
save-exact=true
legacy-peer-deps=true
# npm ci was consistently timing out from within a container.  Try this.
# max wait for a response (default 30000)
fetch-timeout=60000
# how many times to retry a fail (default 2)
fetch-retries=5
# initial backoff-on-retry (default 10000)
fetch-retry-mintimeout=20000
# max backoff-on-retry (default 60000)
fetch-retry-maxtimeout=120000
