{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["prettier-plugin-gherkin"]
}
