{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-declaration-use-variable"
  ],  
  "rules": {
    "function-parentheses-space-inside": null,
    "indentation": null,
    "selector-no-qualifying-type": null,
    "selector-class-pattern": null,
    "selector-pseudo-element-no-unknown": null,
    "selector-max-id": null,
    "selector-max-compound-selectors": null,
    "scss/at-extend-no-missing-placeholder": null,
    "max-nesting-depth": null,
    "scss/at-import-partial-extension-blacklist": null,
    "value-no-vendor-prefix": null,
    "scss/dollar-variable-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
      "message": "Variable name should be written in lower kebab-case (scss/dollar-variable-pattern)"
    ],
    "sh-waqar/declaration-use-variable": [
      [
        "/color/",
        {
          "ignoreValues": [
            "inherit",
            "initial",
            "transparent",
            "/darken/"
          ]
        }
      ]
    ]
  }  
}
