{
  "plugins": [
    "stylelint-declaration-use-variable"
  ],  
  "rules": {
    "sh-waqar/declaration-use-variable": [
      [
        "/color/",
        {
          "ignoreValues": [
          "inherit",
          "initial",
          "transparent",
          "/darken/"
          ]
        }
      ]
    ]
  }  
}
