.mirroring-main {
  padding-left: 32px;
}

.mirroring-bg {
  background-color: var(--cds-ui-02);
  min-height: 100vh;
}

.mirroring-header {
  margin-left: 30px;
  margin-top: 20px;
}

.mirroring-tile-col {
  margin-left: 32px;
}

.mirroring-tile {
  margin-bottom: 30px;
}

.mirroring-list-item {
  margin-bottom: 16px;
}

.mirroring-list {
  margin-top: 16px;
}
