@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme';

.notification-header {
   position: sticky;
    z-index: 2;
    padding: spacing.$spacing-03 spacing.$spacing-05;
    background-color: theme.$layer-01;
    border-block-end: 1px solid theme.$border-subtle-01;
    inset-block-start: 0;


  &__title {
    @include type.type-style('heading-compact-01');
    margin-top: 0.4rem;
  }

  &__dismiss-btn {
    color: theme.$text-primary;
  }
}
