  <ng-container *ngIf="topic$ | async as topics">
  <cd-table #table
            [autoReload]="false"
            [data]="topics"
            [columns]="columns"
            columnMode="flex"
            selectionType="single"
            [hasDetails]="true"
            (updateSelection)="updateSelection($event)"
            (fetchData)="fetchData($event)">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [selection]="selection"
                    [tableActions]="tableActions">
  </cd-table-actions>
  <cd-rgw-topic-details *cdTableDetail
                        [selection]="expandedRow"></cd-rgw-topic-details>
  </cd-table>
  </ng-container>

