@use './src/styles/vendor/variables' as vv;

.sync-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__status {
    display: flex;
    align-items: center;
    gap: var(--cds-spacing-02);
  }

  &__last-synced {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.toggleTipBtn {
  flex-direction: column;
  text-align: center;
}

.toggletip-content {
  display: flex;
  flex-direction: column;
  gap: var(--cds-spacing-04);

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--cds-spacing-01);
  }
}

.sync-status-link {
  text-decoration: underline dotted;
  text-underline-offset: 3px;
  cursor: pointer;
}
