<cd-rbd-tabs></cd-rbd-tabs>

<cd-table [data]="namespaces"
          (fetchData)="refresh()"
          columnMode="flex"
          [columns]="columns"
          identifier="id"
          forceIdentifier="true"
          selectionType="single"
          (updateSelection)="updateSelection($event)">
  <div class="table-actions">
    <cd-table-actions class="btn-group"
                      [permission]="permission"
                      [selection]="selection"
                      [tableActions]="tableActions">
    </cd-table-actions>
  </div>
</cd-table>
