@use './src/styles/vendor/variables' as vv;

.border-margin {
  border-left: 3px solid transparent;
  height: calc(100% + 10px);
  margin-bottom: -5px;
  margin-left: -5px;
  margin-top: -5px;
}

.warning-content {
  height: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
