@use './src/styles/vendor/variables' as vv;

.info-card-popover-cluster-status {
  max-height: 20vh;
  max-width: 23vw;

  .popover-body {
    font-size: 1rem;
    max-height: 19vh;
    max-width: 100%;
    overflow: auto;

    li {
      span {
        font-size: 1.1em;
        font-weight: bold;
      }

      span.health-warn-description {
        color: vv.$health-color-warning-800 !important;
      }
    }
  }
}

@media (max-width: vv.$screen-lg-max) {
  .info-card-popover-cluster-status {
    max-width: 31vw;
  }
}

@media (max-width: vv.$screen-md-max) {
  .info-card-popover-cluster-status {
    max-width: 46vw;
  }
}
@media (max-width: vv.$screen-sm-max) {
  .info-card-popover-cluster-status {
    max-width: 83vw;
  }
}

.info-card-content-clickable {
  border: 1px solid vv.$gray-200;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
}

.info-card-content-clickable:hover {
  background-color: vv.$gray-200;
  border-color: vv.$gray-400;
}
