@import '../../../../defaults';

.info-card-popover-cluster-status {
  max-width: 23vw;
  max-height: 20vh;

  .popover-body {
    max-width: 100%;
    max-height: 19vh;
    font-size: 12px;
  }
}

@media (max-width: $screen-md-max) {
  .info-card-popover-cluster-status {
    max-width: 31vw;
  }
}

@media (max-width: $screen-sm-max) {
  .info-card-popover-cluster-status {
    max-width: 46vw;
  }
}
@media (max-width: $screen-xs-max) {
  .info-card-popover-cluster-status {
    max-width: 83vw;
  }
}

.info-card-content-clickable {
  cursor: pointer;
  padding: 7px;
  border: 1px solid;
  border-radius: 3px;
  border-color: $color-shade-gray;
}

.info-card-content-clickable:hover {
  border-color: $color-light-gray;
  background-color: $color-light-shade-gray;
}
