@use './src/styles/defaults/bootstrap-defaults' as bd;
@use './src/styles/defaults/mixins';

$card-font-min-width: 320px;
$card-font-max-width: 2048px;
$card-font-min-size: 12px;
$card-font-max-size: 21px;

.card {
  @include mixins.fluid-font-size(
    $card-font-min-width,
    $card-font-max-width,
    $card-font-min-size,
    $card-font-max-size
  );
  border: 0.5px solid bd.$color-info-card-border;
  border-radius: 3px;
  box-shadow: 0 1px 1px bd.$color-shadow-gray;
  height: 100%;

  .card-body {
    padding-top: 40px !important;

    .card-title {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

.no-center {
  left: unset;
  position: unset;
  top: unset;
  transform: unset;
}

.content-highlight {
  font-weight: bold;
}
