@import 'styles';

$card-font-min-width: 320px;
$card-font-max-width: 2048px;
$card-font-min-size: 12px;
$card-font-max-size: 21px;

.card {
  height: 100%;
  @extend .pb-2;
  border: 0.5px solid $color-info-card-border;
  border-radius: 3px;
  box-shadow: 0 1px 1px $color-shadow-gray;
  @include fluid-font-size(
    $card-font-min-width,
    $card-font-max-width,
    $card-font-min-size,
    $card-font-max-size
  );

  .card-body {
    padding-top: 40px !important;

    .card-title {
      position: absolute;
      left: 0;
      top: 0;
    }

    .card-text {
      @extend .pt-2;
    }
  }
}

.no-center {
  position: unset;
  top: unset;
  left: unset;
  transform: unset;
}

.content-highlight {
  font-weight: bold;
}
