@import 'defaults.scss';

.info-card-popover-cluster-status {
  max-height: 20vh;
  max-width: 23vw;

  .popover-body {
    font-size: 12px;
    max-height: 19vh;
    max-width: 100%;
  }
}

@media (max-width: $screen-lg-max) {
  .info-card-popover-cluster-status {
    max-width: 31vw;
  }
}

@media (max-width: $screen-md-max) {
  .info-card-popover-cluster-status {
    max-width: 46vw;
  }
}
@media (max-width: $screen-sm-max) {
  .info-card-popover-cluster-status {
    max-width: 83vw;
  }
}

.info-card-content-clickable {
  border: 1px solid;
  border-color: $color-shade-gray;
  border-radius: 3px;
  cursor: pointer;
  padding: 7px;
}

.info-card-content-clickable:hover {
  background-color: $color-light-shade-gray;
  border-color: $color-light-gray;
}
