<cd-alert-panel type="info"
                *ngIf="!orchestratorExist && !checkingOrchestrator"
                i18n>Please consult the
  <a href="{{ docsUrl }}"
     target="_blank">documentation</a> on how to
  configure and enable the orchestrator functionality.</cd-alert-panel>

<ng-container *ngIf="orchestratorExist">
  <cd-table [data]="services"
            [columns]="columns"
            identifier="uid"
            forceIdentifier="true"
            columnMode="flex"
            (fetchData)="getServices($event)"
            selectionType="single">
  </cd-table>
</ng-container>
