<cd-rbd-tabs></cd-rbd-tabs>

<cd-table
  #table
  [data]="images"
  columnMode="flex"
  [columns]="columns"
  identifier="unique_id"
  [searchableObjects]="true"
  [serverSide]="true"
  [count]="count"
  forceIdentifier="true"
  selectionType="single"
  [hasDetails]="false"
  [status]="tableStatus"
  [maxLimit]="25"
  [autoReload]="-1"
  (fetchData)="taskListService.fetch($event)"
  (updateSelection)="updateSelection($event)"
>
  <cd-table-actions
    class="table-actions"
    [permission]="permission"
    [selection]="selection"
    [tableActions]="tableActions"
  >
  </cd-table-actions>
</cd-table>

<ng-template
  #parentTpl
  let-value="data.value"
>
  @if (value) {
    <span
      >{{ value.pool_name }}
      @if (value.pool_namespace) {
        <span>/{{ value.pool_namespace }}</span>
      }
      /{{ value.image_name }}&#64;{{ value.snap_name }}</span
    >
  }
  @if (!value) {
    <span>-</span>
  }
</ng-template>

<ng-template
  #mirroringTpl
  let-value="data.value"
  let-row="data.row"
>
  @if (value?.length === 3) {
    <cds-tag class="tag-info"> {{ value[0] }} </cds-tag>
  } @else {
    <cds-tag class="tag-info">
      {{ value }}
    </cds-tag>
  }
  &nbsp;
  @if (value?.length === 3) {
    <cds-tag class="tag-info"> {{ value[1] }} </cds-tag>
  }
  &nbsp;
  @if (row?.primary === true) {
    <cds-tag
      class="tag-info"
      i18n
    >
      primary
    </cds-tag>
  }
  @if (row?.primary === false) {
    <cds-tag
      class="tag-info"
      i18n
    >
      secondary
    </cds-tag>
  }
</ng-template>

<ng-template
  #ScheduleTpl
  let-value="data.value"
  let-row="data.row"
>
  @if (value?.length === 3) {
    <cds-tag class="tag-info">
      {{ value[2] | cdDate }}
    </cds-tag>
  }
</ng-template>

<ng-template
  #flattenTpl
  let-value
>
  You are about to flatten
  <strong>{{ value.child }}</strong
  >.
  <br />
  <br />
  All blocks will be copied from parent <strong>{{ value.parent }}</strong> to child
  <strong>{{ value.child }}</strong
  >.
</ng-template>

<ng-template
  #deleteTpl
  let-hasSnapshots="hasSnapshots"
  let-snapshots="snapshots"
>
  @if (hasSnapshots) {
    <div
      class="alert alert-warning"
      role="alert"
    >
      <span i18n>Deleting this image will also delete all its snapshots.</span>
      <br />
      @if (snapshots.length > 0) {
        <span i18n>The following snapshots are currently protected and will be removed:</span>
        <ul>
          @for (snapshot of snapshots; track snapshot) {
            <li>{{ snapshot }}</li>
          }
        </ul>
      }
    </div>
  }
</ng-template>

<ng-template
  #removingStatTpl
  let-column="data.column"
  let-value="data.value"
  let-row="data.row"
>
  @if (row.cdExecuting) {
    <cds-inline-loading></cds-inline-loading>
  }
  <span [ngClass]="column?.customTemplateConfig?.valueClass">
    @if (row?.cdLink) {
      <a
        [routerLink]="[row.cdLink]"
        [queryParams]="row.cdParams"
      >
        {{ value }}
      </a>
    } @else {
      {{ value }}
    }
  </span>
  @if (row.cdExecuting) {
    <span
      [ngClass]="
        column?.customTemplateConfig?.executingClass
          ? column.customTemplateConfig.executingClass
          : 'text-muted italic'
      "
    >
      ({{ row.cdExecuting }})
    </span>
  }
  @if (row.source && row.source === 'REMOVING') {
    <svg
      i18n-title
      title="RBD in status 'Removing'"
      [cdsIcon]="icons.warning"
      [size]="icons.size16"
      class="cds-warning-color"
    ></svg>
  }
</ng-template>

<ng-template #forcePromoteConfirmation>
  <cd-alert-panel type="warning">{{ errorMessage }}</cd-alert-panel>
  <div
    class="m-4"
    i18n
  >
    <strong> Do you want to force the operation? </strong>
  </div>
</ng-template>

<ng-template
  #imageUsageTpl
  let-row="data.row"
>
  @if (row.features_name && !row.features_name.includes('fast-diff')) {
    <span [ngbTooltip]="usageTooltip">
      <span>-</span>
    </span>
  } @else {
    @if (row) {
      <cd-usage-bar
        [total]="row.size"
        [used]="row.disk_usage"
        [title]="row.name"
        decimals="2"
      >
      </cd-usage-bar>
    }
  }
</ng-template>

<ng-template #usageTooltip>
  <div
    i18n
    [innerHtml]="'Only available for RBD images with <strong>fast-diff</strong> enabled and without snapshot mirroring'"
  ></div>
</ng-template>
