<cds-modal size="lg"
           [open]="open"
           [hasScrollingContent]="true"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>
      Import Multi-site Token
    </h3>
  </cds-modal-header>

  <div cdsModalContent>
    <form name="importTokenForm"
          #frm="ngForm"
          [formGroup]="importTokenForm">
      <cd-alert-panel type="info"
                      spacingClass="mb-3">
        <ul>
          <li>This feature allows you to configure a connection between your primary and secondary Ceph clusters for data replication. By importing a token, you establish a link between the clusters, enabling data synchronization.</li>
          <li>To obtain the token, generate it from your primary Ceph cluster. This token includes encoded information about the primary cluster's endpoint, access key, and secret key.</li>
          <li>The secondary zone represents the destination cluster where your data will be replicated.</li>
        </ul>
      </cd-alert-panel>
      <legend i18n
              class="cd-header">Zone Details</legend>

      <div class="form-item">
        <cds-text-label label="Token"
                        for="realmToken"
                        [invalid]="importTokenForm.controls.invalid && (importTokenForm.controls.realmToken.touched || importTokenForm.controls.realmToken.dirty)"
                        [invalidText]="realmTokenError"
                        cdRequiredField="Token">Token
          <input cdsText
                 id="realmToken"
                 name="realmToken"
                 type="text"
                 formControlName="realmToken"
                 [invalid]="importTokenForm.controls.invalid && (importTokenForm.controls.realmToken.touched || importTokenForm.controls.realmToken.dirty)">
        </cds-text-label>
        <ng-template #realmTokenError>
          <span class="invalid-feedback"
                *ngIf="importTokenForm.showError('realmToken', frm, 'required')"
                i18n>This field is required.</span>
        </ng-template>
      </div>

      <div class="form-item">
        <cds-text-label for="zoneName"
                        label="Secondary Zone Name"
                        [invalid]="importTokenForm.controls.invalid && (importTokenForm.controls.zoneName.touched || importTokenForm.controls.zoneName.dirty)"
                        [invalidText]="zoneNameError"
                        cdRequiredField="Secondary Zone Name">Secondary Zone Name
          <input cdsText
                 id="zoneName"
                 name="zoneName"
                 type="text"
                 formControlName="zoneName"
                 [invalid]="importTokenForm.controls.invalid && (importTokenForm.controls.zoneName.touched || importTokenForm.controls.zoneName.dirty)">
        </cds-text-label>
        <ng-template #zoneNameError>
          <span class="invalid-feedback"
                *ngIf="importTokenForm.showError('zoneName', frm, 'required')"
                i18n>This field is required.</span>
          <span class="invalid-feedback"
                *ngIf="importTokenForm.showError('zoneName', frm, 'uniqueName')"
                i18n>The chosen zone name is already in use.</span>
        </ng-template>
      </div>

      <legend i18n
              class="cd-header">Service Details</legend>
      <div class="form-item">
        <cds-checkbox name="unmanaged"
                      formControlName="unmanaged"
                      for="unmanaged"
                      id="unmanaged"
                      label="Unmanaged">Unmanaged
          <cd-help-text i18n>If set to true, the orchestrator will not start nor stop any daemon associated with this service.
              Placement and all other properties will be ignored.</cd-help-text>
        </cds-checkbox>
      </div>

      <!-- Placement -->
      <div *ngIf="!importTokenForm.controls.unmanaged.value"
           class="form-item">
        <cds-select label="Placement"
                    for="placement"
                    formControlName="placement"
                    name="placement"
                    id="placement"
                    i18n>
          <option value="hosts">Hosts</option>
          <option value="label">Labels</option>
        </cds-select>
      </div>

      <ng-container *ngIf="hostsAndLabels$ | async as data">
        <!-- Label -->
        <div *ngIf="!importTokenForm.controls.unmanaged.value && importTokenForm.controls.placement.value === 'label'"
            class="form-item">
          <cds-combo-box type="multi"
                        selectionFeedback="top-after-reopen"
                        label="Label"
                        for="label"
                        name="label"
                        formControlName="label"
                        id="label"
                        placeholder="Select labels..."
                        [appendInline]="true"
                        [items]="data.labels"
                        i18n-placeholder
                        (selected)="multiSelector($event, 'label')"
                        [invalid]="importTokenForm.controls.label.invalid && (importTokenForm.controls.label.touched || importTokenForm.controls.label.dirty)"
                        [invalidText]="labelError"
                        cdRequiredField="Label"
                        i18n>
            <cds-dropdown-list></cds-dropdown-list>
          </cds-combo-box>
          <ng-template #labelError>
            <span class="invalid-feedback"
                  *ngIf="importTokenForm.showError('label', importTokenForm, 'required')"
                  i18n>This field is required.</span>
          </ng-template>
        </div>

        <!-- Hosts -->
        <div *ngIf="!importTokenForm.controls.unmanaged.value && importTokenForm.controls.placement.value === 'hosts'"
            class="form-item">
          <cds-combo-box type="multi"
                          selectionFeedback="top-after-reopen"
                          label="Hosts"
                          for="hosts"
                          name="hosts"
                          formControlName="hosts"
                          id="hosts"
                          placeholder="Select hosts..."
                          i18n-placeholder
                          [appendInline]="true"
                          [items]="data.hosts"
                          (selected)="multiSelector($event, 'hosts')"
                          i18n>
            <cds-dropdown-list></cds-dropdown-list>
          </cds-combo-box>
        </div>
      </ng-container>
      <!-- count -->
      <div *ngIf="!importTokenForm.controls.unmanaged.value"
           class="form-item">
        <cds-number label="Count"
                    for="count"
                    formControlName="count"
                    name="count"
                    id="count"
                    helperText="Only that number of daemons will be created."
                    min="1"
                    [invalid]="importTokenForm.controls.invalid && (importTokenForm.controls.count.touched || importTokenForm.controls.count.dirty)"
                    [invalidText]="countError"
                    i18n>Count
        </cds-number>
        <ng-template #countError>
          <span class="invalid-feedback"
                *ngIf="importTokenForm.showError('count', frm, 'min')"
                i18n>The value must be at least 1.</span>
          <span class="invalid-feedback"
                *ngIf="importTokenForm.showError('count', frm, 'pattern')"
                i18n>The entered value needs to be a number.</span>
        </ng-template>
      </div>

      <!-- RGW -->
      <ng-container *ngIf="!importTokenForm.controls.unmanaged.value">
        <!-- rgw_frontend_port -->
        <div class="form-item">
          <cds-number label="Port"
                      for="rgw_frontend_port"
                      formControlName="rgw_frontend_port"
                      name="rgw_frontend_port"
                      id="rgw_frontend_port"
                      min="1"
                      max="65535"
                      [invalid]="importTokenForm.controls.invalid && (importTokenForm.controls.rgw_frontend_port.touched || importTokenForm.controls.rgw_frontend_port.dirty)"
                      [invalidText]="rgwFrontendPortError"
                      i18n>Port
          </cds-number>
          <ng-template #rgwFrontendPortError>
            <span class="invalid-feedback"
                  *ngIf="importTokenForm.showError('rgw_frontend_port', frm, 'pattern')"
                  i18n>The entered value needs to be a number.</span>
            <span class="invalid-feedback"
                  *ngIf="importTokenForm.showError('rgw_frontend_port', frm, 'min')"
                  i18n>The value must be at least 1.</span>
            <span class="invalid-feedback"
                  *ngIf="importTokenForm.showError('rgw_frontend_port', frm, 'max')"
                  i18n>The value cannot exceed 65535.</span>
          </ng-template>
        </div>
      </ng-container>
    </form>
  </div>
  <cd-form-button-panel (submitActionEvent)="onSubmit()"
                        [submitText]="actionLabels.IMPORT"
                        [form]="importTokenForm"
                        [modalForm]="true"></cd-form-button-panel>
</cds-modal>
