<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar #sidebar
              [(opened)]="sidebarOpened"
              [animate]="sidebarAnimate"
              position="end"
              mode="over"
              autoFocus="false"
              closeOnClickOutside="true"
              [ngClass]="{'isPwdDisplayed': isPwdDisplayed}">
    <cd-notifications-sidebar *ngIf="!isLoginActive()"></cd-notifications-sidebar>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <block-ui>
      <div *ngIf="isLoginActive()"
           class="container-fluid full-height">
        <router-outlet></router-outlet>
      </div>

      <cd-navigation *ngIf="!isLoginActive()">
        <div class="container-fluid"
             [ngClass]="{'dashboard':isDashboardPage()} ">
          <cd-breadcrumbs></cd-breadcrumbs>
          <router-outlet></router-outlet>
        </div>
      </cd-navigation>
    </block-ui>
  </div>
</ng-sidebar-container>
