@import '../defaults';

.dashboard {
  background-color: $color-whitesmoke-gray;
  margin: 0;
  padding: 0;
}

::ng-deep #toast-container {
  margin-top: 2vw;

  @media (max-width: 1600px) {
    margin-top: 2.5vw;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: 9vw;
  }

  @media (max-width: 900px) {
    margin-top: 10vw;
  }

  @media (max-width: 319px) {
    margin-top: 11vw;
  }

  @media (max-width: 260px) {
    margin-top: 14vw;
  }
}
