@use './src/styles/vendor/variables' as vv;

//Displaying the password strength
.password-strength-level {
  flex: 100%;
  margin-top: 2px;

  .weak,
  .ok,
  .strong,
  .very-strong {
    border-radius: 0.25rem;
    height: 13px;
  }

  .weak {
    background: vv.$danger;
    width: 25%;
  }

  .ok {
    background: vv.$warning;
    width: 50%;
  }

  .strong {
    background: vv.$success;
    width: 75%;
  }

  .very-strong {
    background: darken(vv.$success, 15%);
    width: 100%;
  }
}
