@use '@carbon/styles/scss/config' with (
  $font-path: '~@ibm/plex',
  $flex-grid-columns: 16,
  $use-flexbox-grid: true,
);
@use './themes/upstream';
@use '@carbon/styles/scss/compat/themes' as compat;
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme' with (
  $theme: compat.$g90,
  $fallback: upstream.$theme,
);
@use '@carbon/styles';
@use '@carbon/type';

/**********************************************************************************
These are meant to be temporary style overrides.
The sizing of some Carbon components clash with a requirement
of one third party component  - the data table - that needs
to set the body's font-size at 12px.
Once this component is removed we should be ok to remove the overrides below
**********************************************************************************/

/******************************************
Side nav
******************************************/

$block-size: 2.7rem;

.cds--side-nav__submenu {
  block-size: $block-size;
}

a.cds--side-nav__link {
  min-block-size: $block-size;
}

.cds--side-nav__menu a.cds--side-nav__link {
  block-size: $block-size;
}

.cds--side-nav__submenu-title,
a.cds--side-nav__link > .cds--side-nav__link-text {
  font-size: calc(type.type-scale(4) + 0.5px);
}

.cds--side-nav__icon > svg {
  block-size: 20px;
  inline-size: 20px;
}

.cds--side-nav--expanded {
  min-width: 20.8rem !important;
}

.cds--side-nav__navigation {
  min-width: 4.2rem;
}

/******************************************
Header
******************************************/

a.cds--header__menu-item,
.cds--header__action,
.cds--header {
  block-size: 3.9rem;
  font-size: calc(type.type-scale(4) + 0.5px);
}

button.cds--header__menu-trigger.cds--header__action.cds--header__menu-toggle {
  inline-size: 3.9rem;
}

/******************************************
Modals
******************************************/

.modal-dialog {
  margin-top: 5rem !important;
}
