@import '../defaults';

::ng-deep .popover-content {
  padding: 0px 0px;
  height: auto;
  max-height: 70vh;
  overflow-x: hidden;
}

::ng-deep .popover {
  min-width: 276px !important;
}

.separator {
  padding: 5px 12px;
  color: $color-popover-seperator-text;
  background-color: $color-popover-seperator-bg;
  font-size: 12px;
}

.message {
  padding: 10px 16px;
  color: $color-popover-message-text;
  font-size: 12px;
}

table {
  width: 252px;
  margin: 5px 12px 5px 5px;
  font-size: 12px;
  color: $color-popover-table-text;
}

.icon-col {
  width: 50px;
  font-size: 10px;
}

.date {
  color: $color-popover-date;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
