*.o
*.lo
*.a
*~
*.co
*.deb
*.tar.gz
*.dsc
*.changes
./config.*
*.gcno
.deps
web/*.html
gmon.out
core.*
vgcore.*
src/Makefile
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
stamp-h1
depcomp
install-sh
missing
src/ceph_ver.h
release
authtool
cauthtool
crushtool
*.la
mkcephfs
mkmonfs
mount.ceph
osdmaptool
rados
radosacl
radosgw
radosgw_admin
rbdtool
streamtest
test_ioctls
test_trans
testecph
testcrypto
testkeys
testmsgr
testrados
testradospp
