[submodule "ceph-object-corpus"]
	path = ceph-object-corpus
	url = git://ceph.com/git/ceph-object-corpus.git
[submodule "src/libs3"]
	path = src/libs3
	url = git://github.com/ceph/libs3.git
[submodule "src/mongoose"]
	path = src/mongoose
	url = git://github.com/ceph/mongoose.git
[submodule "src/civetweb"]
	path = src/civetweb
	url = git@github.com:ceph/civetweb
