#
# See .organizationmap for organization affiliation
#
Sage Weil <sage@inktank.com> <sage@newdream.net>
Sage Weil <sage@inktank.com> <sage.weil@dreamhost.com>
Sage Weil <sage@inktank.com> <sageweil@29311d96-e01e-0410-9327-a35deaab8ce9>
Sage Weil <sage@inktank.com> <sage@29311d96-e01e-0410-9327-a35deaab8ce9>
Sage Weil <sage@inktank.com> <sage@ceph0.dreamhost.com>
Sage Weil <sage@inktank.com> <sage@skinny.ops.newdream.net>
Sage Weil <sage@inktank.com> <sage@foil.westwood.newdream.net>
Sage Weil <sage@inktank.com> <sage@vapre.localdomain>
Sage Weil <sage@inktank.com> <sage.weil@inktank.com>
Sage Weil <sage@inktank.com> <sage@inkank.com>
Sage Weil <sage@inktank.com> <sage@Inktank.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda@hq.newdream.net>
Yehuda Sadeh <yehuda@inktank.com> <yehuda.sadeh@dreamhost.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda@yehuda.infit.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda@yehuda>
Yehuda Sadeh <yehuda@inktank.com> <yehudasa@fatty.ops.newdream.net>
Yehuda Sadeh <yehuda@inktank.com> <yehudasa@gmail.com>
Yehuda Sadeh <yehuda@inktank.com> <yehudasa@ceph0.dreamhost.com>
Yehuda Sadeh <yehuda@inktank.com> <yehdua@inktank.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda.sadeh@inktank.com>
Colin P. McCabe <colinm@hq.newdream.net> <cmccabe@alumni.cmu.edu>
Colin P. McCabe <colinm@hq.newdream.net> <cmccabe@fatty.ops.newdream.net>
Greg Farnum <greg@inktank.com> <gregf@hq.newdream.net>
Greg Farnum <greg@inktank.com> <gregory.farnum@dreamhost.com>
Greg Farnum <greg@inktank.com> Gregory Farnum <greg@inktank.com> 
Greg Farnum <greg@inktank.com> <greg@gregs42.com>
Greg Farnum <greg@inktank.com> <gregf@skinny.ops.newdream.net>
Greg Farnum <greg@inktank.com> <gfarnum@GF-Macbook.local>
Greg Farnum <greg@inktank.com> Greg Farnu <greg@inktank.com>
Greg Farnum <greg@inktank.com> <greg.farnum@dreamhost.com>
Samuel Just <sam.just@inktank.com> <samuel.just@dreamhost.com>
Samuel Just <sam.just@inktank.com> <rexludorum@gmail.com>
Samuel Just <sam.just@inktank.com> <samuelj@hq.newdream.net>
Samuel Just <sam.just@inktank.com> <sam.just@dreamhost.com>
Samuel Just <sam.just@inktank.com> <sam@Pondermatic.(none)>
Samuel Just <sam.just@inktank.com> Sam Just <sam.just@inktank.com>
Samuel Just <sam.just@inktank.com> athanatos <sam.just@inktank.com>
Samuel Just <sam.just@inktank.com> <samuel.just@inktank.com>
John Wilkins <john.wilkins@inktank.com> <john.wilkins@dreamhost.com>
John Wilkins <john.wilkins@inktank.com> <john@admin-host.(none)>
John Wilkins <john.wilkins@inktank.com> <johnw@johnw7664.(none)>
Josh Durgin <josh.durgin@inktank.com> <josh.durgin@dreamhost.com>
Josh Durgin <josh.durgin@inktank.com> <joshd@hq.newdream.net>
Dan Mick <dan.mick@inktank.com> <dan.mick@dreamhost.com>
Dan Mick <dan.mick@inktank.com> <dmick@danceorelse.org>
Dan Mick <dan.mick@inktank.com> <dan.mick@intank.com>
Tommi Virtanen <tv@inktank.com> <tommi.virtanen@dreamhost.com>
Tommi Virtanen <tv@inktank.com> <tv@hq.newdream.net>
Tommi Virtanen <tv@inktank.com> <tv@eagain.net>
João Eduardo Luís <joao.luis@inktank.com> <jecluis@gmail.com>
João Eduardo Luís <joao.luis@inktank.com> Joao Eduardo Luis <joao.luis@inktank.com>
João Eduardo Luís <joao.luis@inktank.com> Joao Luis <joao.luis@inktank.com>
João Eduardo Luís <joao.luis@inktank.com> <joao@inktank.com>
Sam Lang <sam.lang@inktank.com> <samlang@gmail.com>
Noah Watkins <noah.watkins@inktank.com> <noahwatkins@gmail.com>
Noah Watkins <noah.watkins@inktank.com> <jayhawk@cs.ucsc.edu>
Gary Lowell <gary.lowell@inktank.com> <glowell@flab.ops.newdream.net>
Gary Lowell <gary.lowell@inktank.com> <glowell@inktank.com>
Gary Lowell <gary.lowell@inktank.com> Gary Lowelll <gary.lowell@inktank.com>
Patience Warnick <patience@cranium.pelton.net> <patiencew@29311d96-e01e-0410-9327-a35deaab8ce9>
Wido den Hollander <wido@42on.com> <wido@widodh.nl>
Michael Rodriguez <michael@newdream.net> <michael@squid.newdream.net>
Michael Rodriguez <michael@newdream.net> <michael@newdream.net>
Caleb Miles <caleb.miles@inktank.com> caleb miles <caselim@gmail.com>
Caleb Miles <caleb.miles@inktank.com> caleb miles <caleb.miles@inktank.com>
Caleb Miles <caleb.miles@inktank.com> Caleb Miles <caselim@gmail.com>
Joe Buck <jbbuck@gmail.com> <buck@soe.ucsc.edu>
Laszlo Boszormenyi <gcs@debian.hu> Laszlo Boszormenyi (GCS) <gcs@debian.hu>
Roald J. van Loon <roald@roaldvanloon.nl> <roaldvanloon@gmail.com>
Alex Elder <elder@inktank.com> <elder@dreamhost.com>
Alex Elder <elder@inktank.com> <elder@doink.(none)>
Alex Elder <elder@inktank.com> <elder@speedy.(none)>
Alexandre Marangone <alexandre.marangone@inktank.com> <a.marangone@gmail.com>
Alexandre Marangone <alexandre.marangone@inktank.com> Alexandre Maragone <alexandre.marangone@inktank.com>
Alexandre Oliva <oliva@gnu.org> <oliva@lsd.ic.unicamp.br>
Alexandre Oliva <oliva@gnu.org> <lxoliva@fsfla.org>
Ross Turk <ross.turk@inktank.com> <ross@inktank.com> 
Ross Turk <ross.turk@inktank.com> <ross.turk@dreamhost.com>
Patrick McGarry <patrick@inktank.com> <pmcgarry@gmail.com>
Patrick McGarry <patrick@inktank.com> scuttlemonkey <patrick@inktank.com>
Mark Nelson <mark.nelson@inktank.com> <mark.a.nelson@gmail.com>
Tamil Muthamizhan <tamil.muthamizhan@inktank.com> <tamil@ubuntu.(none)>
Tamil Muthamizhan <tamil.muthamizhan@inktank.com> tamil <tamil.muthamizhan@inktank.com>
Tamil Muthamizhan <tamil.muthamizhan@inktank.com> <tamil@tamil-VirtualBox.(none)>
Thomas Bechtold <t.bechtold@telekom.de> <thomasbechtold@jpberlin.de>
Christian Brunner <christian@brunner-muc.de> <chb@muc.de> 
Henry C Chang <henry_c_chang@tcloudcomputing.com> <henry.cy.chang@gmail.com>
Alfredo Deza <alfredo.deza@inktank.com> <alfredo@deza.pe>
Sylvain Munaut <s.munaut@whatever-company.com> <tnt@246tNt.com>
Erwin, Brock A <Brock.Erwin@pnl.gov> <Brock.Erwin@pnl.govgit>
Kacper Kowalik <xarthisius@gentoo.org> Kacper Kowalik (Xarthisius) <xarthisius@gentoo.org> 
Neil Levine <neil.levine@inktank.com> <levine@yoyo.org>
Guilhem Lettron <guilhem@lettron.fr> <guilhem+github@lettron.fr>
Holger Macht <hmacht@suse.de> <holger@homac.de>
Volker Assmann <volker@twisted-nerve.de> <volker@stan.local>
Volker Assmann <volker@twisted-nerve.de> <volker@36-135.mops.RWTH-Aachen.DE>
Sebastien Han <sebastien.han@enovance.com> <sebastien.han@enovance.com>
Matthew Roy <matthew@royhousehold.net> <matthew@matthew-ubuntu.(none)>
Matthew Roy <matthew@royhousehold.net> <mroy@sandbox-ed.com>
Matthew Wodrich <matthew.wodrich@dreamhost.com> <mattheww@Mattsbox.(none)>
Christophe Courtaut <christophe.courtaut@gmail.com> Kri5 <christophe.courtaut@gmail.com>
Loic Dachary <loic@dachary.org> <loic@dachary.com>
Loic Dachary <loic@dachary.org> Loïc Dachary <loic@dachary.org>
Yan, Zheng <zheng.z.yan@intel.com> Zheng, Yan <zheng.z.yan@intel.com>
Yan, Zheng <zheng.z.yan@intel.com> <ukernel@gmail.com>
Wang, Yaguang <yaguang.wang@intel.com> ywang19 <yaguang.wang@intel.com>
David Moreau Simard <dmsimard@iweb.com> <moi@dmsimard.com>
Andrew Leung <aleung@cs.ucsc.edu> anwleung <anwleung@29311d96-e01e-0410-9327-a35deaab8ce9>
Carlos Maltzahn <carlosm@cs.ucsc.edu> carlosm <carlosm@29311d96-e01e-0410-9327-a35deaab8ce9>
Esteban Molina-Estolano <eestolan@lanl.gov> eestolan <eestolan@29311d96-e01e-0410-9327-a35deaab8ce9>
Pascal de Bruijn <pascal@unilogicnetworks.net> Pascal de Bruijn | Unilogic Networks B.V <pascal@unilogicnetworks.net>
Huang Jun <hjwsm1989@gmail.com> huangjun <hjwsm1989@gmail.com>
Ron Allred <rallred@itrefined.com> rallred <ron-github@neversleep.net>
Dan Chai <tengweicai@gmail.com> danchai <tengweicai@gmail.com>
Christian Marie <pingu@anchor.net.au> <christian@ponies.io>
Ma Jianpeng <majianpeng@gmail.com> majianpeng <majianpeng@gmail.com>
Eric Mourgaya <eric.mourgaya@arkea.com> <eric.mourgaya@gmail.com>
Danny Al-Gaaf <danny.al-gaaf@bisect.de> <danny.kukawka@bisect.de>
Guang Yang <yguang@yahoo-inc.com> <guangyy@gmail.com>
Tyler Brekke <tyler.brekke@inktank.com> Concubidated <tyler.brekke@inktank.com>
Huang Jun <hjwsm1989@gmail.com> huang jun <hjwsm1989@gmail.com>
