#
# More information at
#  https://wiki.ceph.com/Community/Ceph_contributors_list_maintenance_guide
#
# See .organizationmap for organization affiliation
# See .peoplemap for unique list of people
#
Ailing Zhang <zhangal1992@gmail.com> <ailzhang@users.noreply.github.com>
Abhishek Lekshmanan <abhishek.lekshmanan@ril.com> <abhishek.lekshmanan@gmail.com> 
Alexandre Marangone <alexandre.marangone@inktank.com> Alexandre Maragone <alexandre.marangone@inktank.com>
Alexandre Marangone <alexandre.marangone@inktank.com> <a.marangone@gmail.com>
Alexandre Oliva <oliva@gnu.org> <lxoliva@fsfla.org>
Alexandre Oliva <oliva@gnu.org> <oliva@lsd.ic.unicamp.br>
Alex Elder <elder@inktank.com> <elder@doink.(none)>
Alex Elder <elder@inktank.com> <elder@dreamhost.com>
Alex Elder <elder@inktank.com> <elder@speedy.(none)>
Alfredo Deza <alfredo.deza@inktank.com> <alfredo@deza.pe>
Andreas Peters <andreas.joachim.peters@cern.ch> <Andreas.Joachim.Peters@cern.ch>
Andrew Leung <aleung@cs.ucsc.edu> anwleung <anwleung@29311d96-e01e-0410-9327-a35deaab8ce9>
Aristoteles Neto <aristoteles.neto@webdrive.co.nz>  <wdneto@users.noreply.github.com>
Ashish Chandra <ashish.a.chandra@ril.com> <mail.ashishchandra@gmail.com>
Brian Rak <dn@devicenull.org> devicenull <dn@devicenull.org>
Caleb Miles <caleb.miles@inktank.com> caleb miles <caleb.miles@inktank.com>
Caleb Miles <caleb.miles@inktank.com> caleb miles <caselim@gmail.com>
Caleb Miles <caleb.miles@inktank.com> Caleb Miles <caselim@gmail.com>
Casey Marshall <csm@soe.ucsc.edu> rsdio <rsdio@29311d96-e01e-0410-9327-a35deaab8ce9>
Carlos Maltzahn <carlosm@cs.ucsc.edu> carlosm <carlosm@29311d96-e01e-0410-9327-a35deaab8ce9>
Cheng Cheng <ccheng.leo@gmail.com> cchengleo <ccheng.leo@gmail.com>
Christian Brunner <christian@brunner-muc.de> <chb@muc.de> 
Christian Marie <pingu@anchor.net.au> <christian@ponies.io>
Christophe Courtaut <christophe.courtaut@gmail.com> Kri5 <christophe.courtaut@gmail.com>
Colin P. McCabe <colinm@hq.newdream.net> <cmccabe@alumni.cmu.edu>
Colin P. McCabe <colinm@hq.newdream.net> <cmccabe@fatty.ops.newdream.net>
Dan Chai <tengweicai@gmail.com> danchai <tengweicai@gmail.com>
Dan Mick <dan.mick@redhat.com> <dan.mick@dreamhost.com>
Dan Mick <dan.mick@redhat.com> <dan.mick@intank.com>
Dan Mick <dan.mick@redhat.com> <dmick@danceorelse.org>
Dan Mick <dan.mick@redhat.com> <dan.mick@inktank.com>
Danny Al-Gaaf <danny.al-gaaf@bisect.de> <danny.kukawka@bisect.de>
David Moreau Simard <dmsimard@iweb.com> <moi@dmsimard.com>
Dmitry Smirnov <onlyjob@member.fsf.org> <onlyjob@debian.org>
Dominik Hannen <cantares1+github@gmail.com> Dominik Hannen <dhxgit@users.noreply.github.com>
Eric Mourgaya <eric.mourgaya@arkea.com> <eric.mourgaya@gmail.com>
Erwin, Brock A <Brock.Erwin@pnl.gov> <Brock.Erwin@pnl.govgit>
Esteban Molina-Estolano <eestolan@lanl.gov> eestolan <eestolan@29311d96-e01e-0410-9327-a35deaab8ce9>
François Lafont <flafdivers@free.fr> François Lafont <francois.lafont@crdp.ac-versailles.fr>
Florent Bautista <florent@coppint.com> FlorentCoppint <florent@coppint.com>
Florent Flament <florent.flament@cloudwatt.com> <florent.flament-ext@cloudwatt.com>
Federico Gimenez <fgimenez@coit.es> fgimenez <federico.gimenez@hola-internet.com>
Gary Lowell <gary.lowell@inktank.com> Gary Lowelll <gary.lowell@inktank.com>
Gary Lowell <gary.lowell@inktank.com> <glowell@flab.ops.newdream.net>
Gary Lowell <gary.lowell@inktank.com> <glowell@inktank.com>
Gerben Meijer <gerben@daybyday.nl> <infernix@gmail.com>
Greg Farnum <greg@inktank.com> <gfarnum@GF-Macbook.local>
Greg Farnum <greg@inktank.com> Greg Farnu <greg@inktank.com>
Greg Farnum <greg@inktank.com> <greg.farnum@dreamhost.com>
Greg Farnum <greg@inktank.com> <gregf@hq.newdream.net>
Greg Farnum <greg@inktank.com> <gregf@skinny.ops.newdream.net>
Greg Farnum <greg@inktank.com> <greg@gregs42.com>
Greg Farnum <greg@inktank.com> <gregory.farnum@dreamhost.com>
Greg Farnum <greg@inktank.com> Gregory Farnum <greg@inktank.com> 
Greg Farnum <greg@inktank.com> Reviewed-by: Greg Farnum <greg@inktank.com>
Guang Yang <yguang@yahoo-inc.com> Guang Yang <yguang@caughtrealize-dl-vm0.peking.corp.yahoo.com>
Guang Yang <yguang@yahoo-inc.com> <guangyy@gmail.com>
Guilhem Lettron <guilhem@lettron.fr> <guilhem+github@lettron.fr>
Feng Wang <cyclonew@cs.ucsc.edu> cyclonew <cyclonew@29311d96-e01e-0410-9327-a35deaab8ce9>
Huamin Chen <hchen@redhat.com> rootfs <hchen@redhat.com>
Henry C Chang <henry_c_chang@tcloudcomputing.com> <henry.cy.chang@gmail.com>
Holger Macht <hmacht@suse.de> <holger@homac.de>
Huang Jun <hjwsm1989@gmail.com> huang jun <hjwsm1989@gmail.com>
Huang Jun <hjwsm1989@gmail.com> huangjun <hjwsm1989@gmail.com>
Ilya Dryomov <ilya.dryomov@inktank.com> <idryomov@gmail.com>
Jiang Heng <jiangheng0511@gmail.com> jiangheng <jiangheng0511@gmail.com>
Jiantao He <hejiantao5@gmail.com> hejiantao5 <hejiantao5@gmail.com>
João Eduardo Luís <joao.luis@inktank.com> <jecluis@gmail.com>
João Eduardo Luís <joao.luis@inktank.com> Joao Eduardo Luis <joao.luis@inktank.com>
João Eduardo Luís <joao.luis@inktank.com> <joao@inktank.com>
João Eduardo Luís <joao.luis@inktank.com> Joao Luis <joao.luis@inktank.com>
João Eduardo Luís <joao@redhat.com> <jluis@redhat.com>
João Eduardo Luís <joao@redhat.com> Joao Eduardo Luis <jeclui@gmail.com>
João Eduardo Luís <joao@redhat.com> Joao Eduardo Luis <joao@redhat.com>
Joe Buck <jbbuck@gmail.com> <buck@soe.ucsc.edu>
John Spray <jspray@redhat.com> john <jspray@redhat.com>
John Spray <jspray@redhat.com> <john.spray@redhat.com>
John Spray <jspray@redhat.com> <jcspray@gmail.com>
John Wilkins <john.wilkins@inktank.com> <john@admin-host.(none)>
John Wilkins <john.wilkins@inktank.com> <john.wilkins@dreamhost.com>
John Wilkins <john.wilkins@inktank.com> <johnw@johnw7664.(none)>
John Wilkins <jwilkins@redhat.com> <jowilk@redhat.com>
John Wilkins <jwilkins@redhat.com> <jowilki@redhat.com>
John Wilkins <jwilkins@redhat.com> <jowilkin@redhat.com>
Johnu George <johnugeo@cisco.com> <johnugeorge109@gmail.com>
Josh Durgin <josh.durgin@inktank.com> <joshd@hq.newdream.net>
Josh Durgin <josh.durgin@inktank.com> <josh.durgin@dreamhost.com>
Kacper Kowalik <xarthisius@gentoo.org> Kacper Kowalik (Xarthisius) <xarthisius@gentoo.org> 
Laszlo Boszormenyi <gcs@debian.hu> Laszlo Boszormenyi (GCS) <gcs@debian.hu>
Lluis Pamies-Juarez <lluis.pamies-juarez@hgst.com> <lluis@pamies.cat>
Loic Dachary <loic@dachary.org> <loic@dachary.com>
Loic Dachary <loic@dachary.org> Loïc Dachary <loic@dachary.org>
Ma Jianpeng <jianpeng.ma@intel.com> <majianpeng@gmail.com>
Ma Jianpeng <jianpeng.ma@intel.com> Ma, Jianpeng <jianpeng.ma@intel.com>
Ma Jianpeng <jianpeng.ma@intel.com> Jianpeng Ma <jianpeng.ma@intel.com>
Marco Garcês <marco.garces@bci.co.mz> Marco Garcês <marco@garces.cc>
Mark Nelson <mark.nelson@inktank.com> <mark.a.nelson@gmail.com>
Matthew Roy <matthew@royhousehold.net> <matthew@matthew-ubuntu.(none)>
Matthew Roy <matthew@royhousehold.net> <mroy@sandbox-ed.com>
Matthew Wodrich <matthew.wodrich@dreamhost.com> <mattheww@Mattsbox.(none)>
Michael Riederer <michael@riederer.org> dynamike67 <michael@riederer.org>
Michael Rodriguez <michael@newdream.net> <michael@newdream.net>
Michael Rodriguez <michael@newdream.net> <michael@squid.newdream.net>
Neil Levine <neil.levine@inktank.com> <levine@yoyo.org>
Noah Watkins <noah.watkins@inktank.com> <jayhawk@cs.ucsc.edu>
Noah Watkins <noah.watkins@inktank.com> <noahwatkins@gmail.com>
Pascal de Bruijn <pascal@unilogicnetworks.net> Pascal de Bruijn | Unilogic Networks B.V <pascal@unilogicnetworks.net>
Patience Warnick <patience@cranium.pelton.net> <patiencew@29311d96-e01e-0410-9327-a35deaab8ce9>
Patrick McGarry <patrick@inktank.com> <pmcgarry@gmail.com>
Patrick McGarry <patrick@inktank.com> scuttlemonkey <patrick@inktank.com>
Pavan Rallabhandi <pavan.rallabhandi@sandisk.com> Pavan Rallabhandi <pavanrallabhandis@gmail.com>
Roald J. van Loon <roald@roaldvanloon.nl> <roaldvanloon@gmail.com>
Ron Allred <rallred@itrefined.com> rallred <ron-github@neversleep.net>
Ross Turk <ross.turk@inktank.com> <ross@inktank.com> 
Ross Turk <ross.turk@inktank.com> <ross.turk@dreamhost.com>
Riccardo Ferretti <rferrett@soe.ucsc.edu> rferrett <rferrett@29311d96-e01e-0410-9327-a35deaab8ce9>
Sage Weil <sage@inktank.com> <sage@29311d96-e01e-0410-9327-a35deaab8ce9>
Sage Weil <sage@inktank.com> <sage@ceph0.dreamhost.com>
Sage Weil <sage@inktank.com> <sage@foil.westwood.newdream.net>
Sage Weil <sage@inktank.com> <sage@inkank.com>
Sage Weil <sage@inktank.com> <sage@Inktank.com>
Sage Weil <sage@inktank.com> <sage@newdream.net>
Sage Weil <sage@inktank.com> <sage@skinny.ops.newdream.net>
Sage Weil <sage@inktank.com> <sage@vapre.localdomain>
Sage Weil <sage@inktank.com> <sageweil@29311d96-e01e-0410-9327-a35deaab8ce9>
Sage Weil <sage@inktank.com> <sage.weil@dreamhost.com>
Sage Weil <sage@inktank.com> <sage.weil@inktank.com>
Sage Weil <sweil@redhat.com> Sage Weil <sage@redhat.com>
Sahid Orentino Ferdjaoui <sahid.ferdjaoui@cloudwatt.com> <sahid.ferdjaoui@gmail.com>
Sam Lang <sam.lang@inktank.com> <samlang@gmail.com>
Samuel Just <sam.just@inktank.com> <sam.just@inktank.com>
Samuel Just <sam.just@inktank.com> <rexludorum@gmail.com>
Samuel Just <sam.just@inktank.com> <sam.just@dreamhost.com>
Samuel Just <sam.just@inktank.com> Sam Just <sam.just@inktank.com>
Samuel Just <sam.just@inktank.com> <sam@Pondermatic.(none)>
Samuel Just <sam.just@inktank.com> <samuelj@hq.newdream.net>
Samuel Just <sam.just@inktank.com> <samuel.just@dreamhost.com>
Samuel Just <sam.just@inktank.com> <samuel.just@inktank.com>
Samuel Just <sam.just@inktank.com> <sam.just@inktnak.com>
Scott A. Brandt <scott@cs.ucsc.edu> sbrandt <sbrandt@29311d96-e01e-0410-9327-a35deaab8ce9>
Sandon Van Ness <sandon@inktank.com> SandonV <sandon@inktank.com>
Sebastien Han <sebastien.han@enovance.com> <sebastien.han@enovance.com>
Sebastien Ponce <sebastien.ponce@cern.ch> Sebastien Ponce <Sebastien.Ponce@cern.ch>
Shu, Xinxin <xinxin.shu@intel.com> xinxinsh <xinxin.shu@intel.com>
Shu, Xinxin <xinxin.shu@intel.com> xinxin shu <xinxin.shu@intel.com>
Stephen F Taylor <steveftaylor@gmail.com> <steve@DES-U1404-STETAY.stc.local>
Sushma Gurram <sushma.gurram@sandisk.com> sushma <sushma.gurram@sandisk.com>
Swami Reddy <swami.reddy@ril.com> M Ranga Swami Reddy <swamireddy@gmail.com>
Swami Reddy <swami.reddy@ril.com> <swamireddy@gmail.com>
Sylvain Munaut <s.munaut@whatever-company.com> <tnt@246tNt.com>
Tamil Muthamizhan <tamil.muthamizhan@inktank.com> tamil <tamil.muthamizhan@inktank.com>
Tamil Muthamizhan <tamil.muthamizhan@inktank.com> <tamil@tamil-VirtualBox.(none)>
Tamil Muthamizhan <tamil.muthamizhan@inktank.com> <tamil@ubuntu.(none)>
Thomas Bechtold <t.bechtold@telekom.de> <thomasbechtold@jpberlin.de>
Tommi Virtanen <tv@inktank.com> <tommi.virtanen@dreamhost.com>
Tommi Virtanen <tv@inktank.com> <tv@eagain.net>
Tommi Virtanen <tv@inktank.com> <tv@hq.newdream.net>
Tyler Brekke <tyler.brekke@inktank.com> Concubidated <tyler.brekke@inktank.com>
Volker Assmann <volker@twisted-nerve.de> <volker@36-135.mops.RWTH-Aachen.DE>
Volker Assmann <volker@twisted-nerve.de> <volker@stan.local>
Walter Huf <hufman@gmail.com> Walter J. Huf <hufman@gmail.com>
Wang, Yaguang <yaguang.wang@intel.com> ywang19 <yaguang.wang@intel.com>
Warren Usui <warren.usui@inktank.com> wusui <warren.usui@inktank.com>
Wei Luo <luowei@yahoo-inc.com> luowei <luowei@yahoo-inc.com>
Wido den Hollander <wido@42on.com> <wido@widodh.nl>
Xan Peng <xanpeng@gmail.com> xan <xanpeng@gmail.com>
Yan, Zheng <zheng.z.yan@intel.com> <ukernel@gmail.com>
Yan, Zheng <zheng.z.yan@intel.com> Zheng Yan <zheng.z.yan@intel.com>
Yan, Zheng <zheng.z.yan@intel.com> Zheng, Yan <zheng.z.yan@intel.com>
Yehuda Sadeh <yehuda@inktank.com> <yehdua@inktank.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda@hq.newdream.net>
Yehuda Sadeh <yehuda@inktank.com> <yehudasa@ceph0.dreamhost.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda.sadeh@dreamhost.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda.sadeh@inktank.com>
Yehuda Sadeh <yehuda@inktank.com> <yehudasa@fatty.ops.newdream.net>
Yehuda Sadeh <yehuda@inktank.com> <yehudasa@gmail.com>
Yehuda Sadeh <yehuda@inktank.com> <yehuda@yehuda>
Yehuda Sadeh <yehuda@inktank.com> <yehuda@yehuda.infit.com>
Yehuda Sadeh <ysadehwe@redhat.com> <yehuda@redhat.com>
Yehuda Sadeh <ysadehwe@redhat.com> <ysadeh@redhat.com>
Yongyue Sun <abioy.sun@gmail.com> Abioy <abioy.sun@gmail.com>
Yuan Zhou <yuan.zhou@intel.com> <dunk007@gmail.com>
Zhiqiang Wang <wonzhq@hotmail.com> Signed-off-by: Zhiqiang Wang <wonzhq@hotmail.com>
Zhiqiang Wang <wonzhq@hotmail.com> Zhiqiang Wang <wonzhq@hotmail.com>
Zhiqiang Wang <wonzhq@hotmail.com> Zhiqiang Wang <zhiqiang.wang@intel.com>
Chendi Xue <chendi.xue@intel.com> Chendi Xue <xuechendi@gmail.com>
