# 0.14 switches to libev, that means bootstrap needs to change too
gevent ==0.13.6
# 1.7.7 has AES-128-CBC support for SSH keys, that's needed
paramiko >=1.7.7
configobj
PyYAML
bunch >=1.0.0
argparse >=1.2.1
httplib2
beanstalkc >=0.2.0
boto >=2.0b4
pexpect
requests ==0.14.0
MySQL-python ==1.2.3

# Test Dependencies
nose >=1.0.0
fudge >=1.0.3
