# {{ cephadm_managed }}
deleteDatasources:
{% for loki_host in loki_hosts %}
  - name: 'Loki{{ loop.index }}'
    orgId: 1
{% endfor %}

datasources:
  - name: 'Loki{{ loop.index }}'
    type: 'loki'
    access: 'proxy'
    orgId: 1
    url: '{{ loki_hosts }}'
    basicAuth: false
    isDefault: {{ 'true' if loop.first else 'false' }}
    editable: false
