overrides:
  ceph:
    conf:
      client:
        debug rgw: 20
        debug ms: 1
      osd:
        osd_max_omap_entries_per_request: 10
tasks:
- rgw:
    client.0:
- ceph_manager.wait_for_pools:
    kwargs:
      pools:
        - default.rgw.buckets.data
        - default.rgw.buckets.index
        - .rgw.root
        - default.rgw.control
        - default.rgw.meta
        - default.rgw.log
- thrash_pool_snaps:
    pools:
    - default.rgw.buckets.data
    - default.rgw.buckets.index
    - .rgw.root
    - default.rgw.control
    - default.rgw.meta
    - default.rgw.log
- s3tests:
    client.0:
      force-branch: ceph-master
      rgw_server: client.0
