overrides:
  ceph:
    conf:
      client:
        debug rgw: 20
        debug ms: 1
      osd:
        osd_max_omap_entries_per_request: 10
tasks:
- rgw:
    client.0:
- thrash_pool_snaps:
    pools:
    - .rgw.buckets
    - .rgw.root
    - .rgw.control
    - .rgw
    - .users.uid
    - .users.email
    - .users
- s3readwrite:
    client.0:
      rgw_server: client.0
      readwrite:
        bucket: rwtest
        readers: 10
        writers: 3
        duration: 300
        files:
          num: 10
          size: 2000
          stddev: 500
