<cd-tearsheet
  [steps]="steps"
  [title]="title"
  [description]="description"
  (submitRequested)="onSubmit($event)"
  (stepChanged)="onStepChanged()"
  [isSubmitLoading]="isSubmitLoading"
  submitButtonLabel="Add"
  i18n-submitButtonLabel>

  <cd-tearsheet-step>
    <cd-nvmeof-subsystem-step-two
      #tearsheetStep
               modal-primary-focus
      [group]="group"
      [existingHosts]="existingHosts"></cd-nvmeof-subsystem-step-two>
  </cd-tearsheet-step>
  @if(showAuthStep) {
  <cd-tearsheet-step>
    <cd-nvmeof-subsystem-step-three
      #tearsheetStep
      [stepTwoValue]="stepTwoValue"
      [group]="group"></cd-nvmeof-subsystem-step-three>
  </cd-tearsheet-step>
  }
</cd-tearsheet>
