<div class="row">
  <div class="col-3 center-text">
    <br>
    <b class="chartTitle"
       i18n>{{ chartTitle }}</b>
    <br>
    <span [ngbTooltip]="label"
          i18n>{{currentData}} {{ currentDataUnits }}</span>
    <br>
    <span [ngbTooltip]="label2"
          i18n>{{currentData2}} {{ currentDataUnits2 }}</span>
  </div>
  <div class="col-9">
    <div class="chart">
      <canvas baseChart
              [datasets]="chartData.dataset"
              [options]="options"
              [chartType]="'line'"
              [plugins]="chartAreaBorderPlugin">
      </canvas>
    </div>
  </div>
</div>
