<div cdsCol
     [columnNumbers]="{ md: 4 }">
  <ng-container *cdFormLoading="loading">
    <form name="storageClassForm"
          #formDir="ngForm"
          [formGroup]="storageClassForm"
          novalidate>
      <div i18n="form title"
           class="form-header">
        {{ action | titlecase }} {{ resource | upperFirst }}

        <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
      </div>
      <div class="form-item">
        <cds-select
          label="Type"
          i18n-label
          for="storageClassType"
          formControlName="storageClassType"
          [helperText]="helpTextLabels.storageClassText"
          id="storageClassType"
          [invalid]="storageClassForm.showError('storageClassType', formDir, 'required')"
          [invalidText]="storageError"
        >
          <option value=""
                  i18n>-- Select Storage Class --</option>
          <option *ngFor="let opt of storageClassOptions"
                  [value]="opt.value"
                  i18n>
            {{ opt.label }}
          </option>
        </cds-select>
        <ng-template #storageError>
          <span
            class="invalid-feedback"
            *ngIf="storageClassForm.showError('storageClassType', formDir, 'required')"
            i18n
            >This field is required.</span
          >
        </ng-template>
      </div>
      <div class="form-item form-item-append"
           cdsRow>
        <div cdsCol>
          <!-- Zone Group -->
          <cds-select
            label="Zone Group Name"
            i18n-label
            formControlName="zonegroup"
            id="zonegroup"
            [invalid]="storageClassForm.showError('zonegroup', formDir, 'required')"
            (change)="onZonegroupChange()"
            [invalidText]="zonegroupError"
          >
            <option
              *ngFor="let zonegrp of zonegroupNames"
              [value]="zonegrp.name"
              [selected]="zonegrp.name === storageClassForm.getValue('zonegroup')"
              i18n
            >
              {{ zonegrp.name }}
            </option>
          </cds-select>
          <ng-template #zonegroupError>
            <span
              class="invalid-feedback"
              *ngIf="storageClassForm.showError('zonegroup', formDir, 'required')"
              i18n
              >This field is required.</span
            >
          </ng-template>
        </div>
        <div cdsCol>
          <!-- Placement Target -->
          <cds-select
            label="Placement Target"
            i18n-label
            formControlName="placement_target"
            id="placement_target"
            [invalid]="storageClassForm.showError('placement_target', formDir, 'required')"
            [invalidText]="placementError"
          >
            <option [value]=""
                    i18n>--Select--</option>
            <option
              *ngFor="let placementTarget of placementTargets"
              [value]="placementTarget"
              [selected]="placementTarget === storageClassForm.getValue('placement_target')"
              i18n
            >
              {{ placementTarget }}
            </option>
          </cds-select>
          <ng-template #placementError>
            <span
              class="invalid-feedback"
              *ngIf="storageClassForm.showError('placement_target', formDir, 'required')"
              i18n
              >This field is required.</span
            >
          </ng-template>
        </div>
      </div>
      <!-- Storage Class -->
      <div class="form-item">
        <cds-text-label
          labelInputID="storage_class"
          i18n
          [disabled]="editing"
          [invalid]="
            storageClassForm.controls.storage_class.invalid &&
            storageClassForm.controls.storage_class.dirty
          "
          [invalidText]="storageClassError"
          >Name
          <input
            cdsText
            type="type"
            id="storage_class"
            formControlName="storage_class"
            [invalid]="storageClassForm.showError('storage_class', formDir, 'required')"
          />
        </cds-text-label>
        <ng-template #storageClassError>
          <span
            class="invalid-feedback"
            *ngIf="storageClassForm.showError('storage_class', formDir, 'required')"
            i18n
            >This field is required.</span
          >
        </ng-template>
      </div>
      @if( isTierMatch( TIER_TYPE.CLOUD_TIER, TIER_TYPE.GLACIER )){
      <div>
        <div class="form-item form-item-append"
             cdsRow>
          <div cdsCol>
            <!-- Target Region -->
            <cds-text-label
              labelInputID="region"
              i18n
              [invalid]="storageClassForm.showError('region', formDir, 'required')"
              [invalidText]="regionError"
              [helperText]="helpTextLabels.targetRegionText"
              >Target Region
              <input
                cdsText
                type="text"
                id="region"
                formControlName="region"
                placeholder="e.g, us-east-1"
                i18n-placeholder
                [invalid]="storageClassForm.showError('region', formDir, 'required')"
              />
            </cds-text-label>
            <ng-template #regionError>
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('region', formDir, 'required')"
                i18n
                >This field is required.</span
              >
            </ng-template>
          </div>
          <div cdsCol>
            <!-- Target Endpoint -->
            <cds-text-label
            labelInputID="target_endpoint"
            i18n
            [invalid]="storageClassForm.showError('target_endpoint', formDir, 'invalidURL') || storageClassForm.showError('target_endpoint', formDir, 'required')"
            [invalidText]="endpointError"
            [helperText]="helpTextLabels.targetEndpointText"
            >Target Endpoint
            <input
              cdsText
              type="text"
              placeholder="e.g, http://ceph-node-00.com:80"
              i18n-placeholder
              id="target_endpoint"
              formControlName="target_endpoint"
              [invalid]="storageClassForm.showError('target_endpoint', formDir, 'invalidURL') || storageClassForm.showError('target_endpoint', formDir, 'required')"
              [invalidText]="endpointError"
            />
          </cds-text-label>
            <ng-template #endpointError>
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('target_endpoint', formDir, 'required')"
                i18n
                >This field is required.</span
              >
              <span class="invalid-feedback"
                    *ngIf="storageClassForm.showError('target_endpoint', formDir, 'invalidURL')"
                    i18n>Please enter a valid URL.</span>
            </ng-template>
          </div>
        </div>
        <!-- Access Key  -->
        <div class="form-item">
          <div cdsCol
               [columnNumbers]="{ md: 12 }"
               class="d-flex">
            <cds-password-label
              labelInputID="access_key"
              [invalid]="storageClassForm.showError('access_key', formDir, 'required')"
              [invalidText]="accessError"
              [helperText]="helpTextLabels.targetAccessKeyText"
              i18n
              >Target Access Key
              <input
                cdsPassword
                type="password"
                id="access_key"
                formControlName="access_key"
                [invalid]="storageClassForm.showError('access_key', formDir, 'required')"
              />
            </cds-password-label>
            <cd-copy-2-clipboard-button class="clipboard"> </cd-copy-2-clipboard-button>
            <ng-template #accessError>
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('access_key', formDir, 'required')"
                i18n
                >This field is required.</span
              >
            </ng-template>
          </div>
        </div>
        <!-- Secret Key  -->
        <div class="form-item">
          <div cdsCol
               [columnNumbers]="{ md: 12 }"
               class="d-flex">
            <cds-password-label
              labelInputID="secret_key"
              [helperText]="helpTextLabels.targetSecretKeyText"
              [invalid]="storageClassForm.showError('secret_key', formDir, 'required')"
              [invalidText]="secretError"
              i18n
              >Target Secret Key
              <input
                cdsPassword
                type="password"
                id="secret_key"
                formControlName="secret_key"
                [invalid]="storageClassForm.showError('secret_key', formDir, 'required')"
              />
            </cds-password-label>
            <cd-copy-2-clipboard-button class="clipboard"> </cd-copy-2-clipboard-button>
            <ng-template #secretError>
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('secret_key', formDir, 'required')"
                i18n
                >This field is required.</span
              >
            </ng-template>
          </div>
        </div>
        <!-- Target Path -->
        <div class="form-item">
          <cds-text-label
            labelInputID="target_path"
            i18n
            [invalid]="storageClassForm.showError('target_path', formDir, 'required')"
            [invalidText]="targetError"
            [helperText]="helpTextLabels.targetPathText"
            >Target Path
            <input
              cdsText
              type="text"
              id="target_path"
              formControlName="target_path"
              [invalid]="storageClassForm.showError('target_path', formDir, 'required')"
            />
          </cds-text-label>
          <ng-template #targetError>
            <span
              class="invalid-feedback"
              *ngIf="storageClassForm.showError('target_path', formDir, 'required')"
              i18n
              >This field is required.</span
            >
          </ng-template>
        </div>
        <div class="form-item">
          <cds-checkbox
            id="allow_read_through"
            formControlName="allow_read_through"
            cdOptionalField="Allow Read Through"
            i18n
            (change)="onAllowReadThroughChange($event)"
            >Allow Read Through
            <cd-help-text>{{ helpTextLabels?.allowReadThroughText }}</cd-help-text>
          </cds-checkbox>
        </div>
        <div class="form-item">
          <cds-checkbox
            id="retain_head_object"
            formControlName="retain_head_object"
            cdOptionalField="Head Object (Stub File)"
            i18n
            >Head Object (Stub File)
            <cd-help-text>{{ helpTextLabels?.retainHeadObjectText }}</cd-help-text>
          </cds-checkbox>
        </div>
        <div class="form-item form-item-append"
             cdsRow>
          <div cdsCol>
            <cds-number
              name="read_through_restore_days"
              formControlName="read_through_restore_days"
              id="read_through_restore_days"
              min="1"
              label="ReadThrough Restore Days"
              [helperText]="helpTextLabels.readthroughrestoreDaysText"
              i18n-helperText
              i18n-label
              i18n
              [invalid]="
                storageClassForm.controls.read_through_restore_days.invalid &&
                storageClassForm.controls.read_through_restore_days.dirty
              "
              [invalidText]="readThroughError"
            ></cds-number>
            <ng-template #readThroughError>
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('read_through_restore_days', formDir, 'pattern')"
                i18n
                >The entered value must be a positive integer.</span
              >
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('read_through_restore_days', formDir, 'lockDays')"
                i18n
                >ReadThrough Restore Days must be positive.</span
              >
            </ng-template>
          </div>
          <div cdsCol>
            <cds-select
              formControlName="restore_storage_class"
              label="Restore Storage Class"
              id="restore_storage_class"
              [helperText]="helpTextLabels.restoreStorageClassText"
              i18n-label
            >
              <option value=""
                      i18n>-- Select the glacier restore storage class --</option>
              <option [ngValue]="standard"
                      i18n>Standard</option>
            </cds-select>
          </div>
        </div>
      </div>
      } @if(isTierMatch(TIER_TYPE.GLACIER)){
      <div>
        <legend class="cd-header"
                i18n>Glacier Configuration</legend>
        <div class="form-item form-item-append"
             cdsRow>
          <div cdsCol>
            <cds-select
              formControlName="glacier_restore_tier_type"
              label="Glacier Restore Tier Type"
              cdRequiredField="Glacier Restore Tier Type"
              id="glacier_restore_tier_type"
              [invalid]="
                storageClassForm.controls.glacier_restore_tier_type.invalid &&
                storageClassForm.controls.glacier_restore_tier_type.dirty
              "
              [invalidText]="glacierError"
              [helperText]="helpTextLabels.tiertypeText"
              i18n-label
            >
              <option value=""
                      i18n>-- Select the glacier restore tier type --</option>
              <option [ngValue]="standard"
                      i18n>Standard</option>
              <option [ngValue]="expedited"
                      i18n>Expedited</option>
            </cds-select>
            <ng-template #glacierError>
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('glacier_restore_tier_type', formDir, 'required')"
                i18n
                >This field is required.</span
              >
            </ng-template>
          </div>
          <div cdsCol>
            <cds-number
              [id]="'glacier_restore_days'"
              [formControlName]="'glacier_restore_days'"
              [label]="'Glacier Restore Days'"
              [helperText]="helpTextLabels.restoreDaysText"
              [min]="1"
              i18n-helperText
              i18n-label
              i18n
              [invalid]="
                storageClassForm.controls.glacier_restore_days.invalid &&
                storageClassForm.controls.glacier_restore_days.dirty
              "
              [invalidText]="glacierRestoreError"
            >
            </cds-number>
            <ng-template #glacierRestoreError>
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('glacier_restore_days', formDir, 'pattern')"
                i18n
                >The entered value must be a positive integer.</span
              >
              <span
                class="invalid-feedback"
                *ngIf="storageClassForm.showError('glacier_restore_days', formDir, 'lockDays')"
                i18n
                >Glacier Restore Days must be positive.</span
              >
            </ng-template>
          </div>
        </div>
      </div>
      } @if( isTierMatch( TIER_TYPE.CLOUD_TIER, TIER_TYPE.GLACIER )){
      <fieldset>
        <div>
          <ng-template #title>
            <h5 class="cds--accordion__title cd-header">Advanced</h5>
          </ng-template>
          <fieldset>
            <cds-accordion size="lg"
                           class="form-item">
              <cds-accordion-item
                [title]="title"
                id="advanced-fieldset"
                (selected)="showAdvanced = !showAdvanced"
              >
                <!-- Multi Part Sync Threshold -->
                <div class="form-item form-item-append"
                     cdsRow>
                  <div cdsCol>
                    <cds-text-label
                      labelInputID="multipart_sync_threshold"
                      i18n
                      [helperText]="helpTextLabels.multipartSyncThresholdText"
                      cdOptionalField="Multipart Sync Threshold"
                      >Multipart Sync Threshold
                      <input
                        cdsText
                        type="text"
                        id="multipart_sync_threshold"
                        formControlName="multipart_sync_threshold"
                        cdDimlessBinary
                      />
                    </cds-text-label>
                  </div>
                  <div cdsCol>
                    <cds-text-label
                      labelInputID="multipart_min_part_size"
                      i18n
                      [helperText]="helpTextLabels.multipartMinPartText"
                      cdOptionalField="Multipart Minimum Part Size"
                      >Multipart Minimum Part Size
                      <input
                        cdsText
                        type="text"
                        id="multipart_min_part_size"
                        formControlName="multipart_min_part_size"
                        cdDimlessBinary
                      />
                    </cds-text-label>
                  </div>
                </div>
              </cds-accordion-item>
            </cds-accordion>
          </fieldset>
        </div>
      </fieldset>
      } @if( isTierMatch( TIER_TYPE.CLOUD_TIER, TIER_TYPE.GLACIER )){
      <cd-alert-panel type="warning"
                      spacingClass="mb-2">
        <span i18n>RGW service would be restarted after creating the storage class.</span>
      </cd-alert-panel>
      }
      <cd-form-button-panel
        (submitActionEvent)="submitAction()"
        [form]="storageClassForm"
        [submitText]="(action | titlecase) + ' ' + (resource | upperFirst)"
        wrappingClass="text-right"
      ></cd-form-button-panel>
    </form>
  </ng-container>
</div>
