#!/usr/bin/env python

# Execute this WSGI entry-point with uWSGI as:
#   $ uwsgi --socket 0.0.0.0:8000 --protocol=http -w wsgi
#
# You can set the PYTHONPATH before launching `uwsgi' as:
#   $ PYTHONPATH=/root/ceph/src/pybind uwsgi --socket 0.0.0.0:8000 --protocol=http -w wsgi

from ceph_rest_api import generate_app

application = generate_app(
    conf='/root/ceph/src/ceph.conf', # Path to ceph.conf file
    cluster=None,
    clientname=None,
    clientid='admin',
    args=[],
)

if __name__ == "__main__":
    application.run()
