<cds-overflow-menu [customTrigger]="customTrigger"
                   [offset]="{y:0, x:-80}">
  <li class="cds--overflow-menu-options__option mb-2">
    <button *ngIf="userPermission.read"
            routerLink="/user-management"
            class="cds--overflow-menu-options__btn"
            i18n>User management</button>
  </li>
  <li class="cds--overflow-menu-options__option mb-2">
    <button *ngIf="configOptPermission.read"
            routerLink="/telemetry"
            class="cds--overflow-menu-options__btn"
            i18n>Telemetry configuration</button>
  </li>
</cds-overflow-menu>

<ng-template #customTrigger>
  <svg cdsIcon="settings"
       size="20"
       title="user"
       *ngIf="userPermission.read"></svg>
  <span i18n
        class="d-md-none">Dashboard Settings</span>
</ng-template>
