<cds-overflow-menu [customTrigger]="customTrigger"
                   [offset]="{y:8, x:-80}">
  <cds-overflow-menu-option *ngIf="userPermission.read"
                            routerLink="/user-management"
                            i18n>User management</cds-overflow-menu-option>
  <cds-overflow-menu-option *ngIf="configOptPermission.read"
                            routerLink="/telemetry"
                            i18n>Telemetry configuration</cds-overflow-menu-option>
</cds-overflow-menu>

<ng-template #customTrigger>
  <svg cdsIcon="settings"
       size="20"
       title="user"
       *ngIf="userPermission.read"></svg>
  <span i18n
        class="d-md-none">Dashboard Settings</span>
</ng-template>
