<cd-alert-panel type="info"
                *ngIf="!orchestratorExist && !checkingOrchestrator"
                i18n>Please consult the
  <a href="{{ docsUrl }}"
     target="_blank">documentation</a> on how to
  configure and enable the orchestrator functionality.</cd-alert-panel>

<ng-container *ngIf="orchestratorExist">
  <legend i18n>Devices</legend>
  <div class="row">
    <div class="col-md-12">
      <cd-inventory-devices [devices]="devices"
                            [hiddenColumns]="hostname === undefined ? [] : ['hostname']"
                            selectionType="single">
      </cd-inventory-devices>
    </div>
  </div>
</ng-container>
