<div cdsCol
     [columnNumbers]="{ md: 4 }"
     *ngIf="orchStatus$ | async as orchStatus">
  <form name="smbForm"
        #formDir="ngForm"
        [formGroup]="smbForm"
        novalidate>
    <div i18n="form title"
         class="form-header">
      {{ action | titlecase }} {{ resource | upperFirst }}
    </div>

    <!-- Cluster Id -->
    <div class="form-item">
      <cds-text-label
        labelInputID="cluster_id"
        i18n
        helperText="Unique cluster identifier"
        i18n-helperText
        cdRequiredField="Cluster Name"
        [invalid]="smbForm.controls.cluster_id.invalid && smbForm.controls.cluster_id.dirty"
        [invalidText]="clusterError"
        >Cluster Name
        <input
          cdsText
          type="text"
          placeholder="Cluster Name..."
          i18n-placeholder
          id="cluster_id"
          formControlName="cluster_id"
          [invalid]="smbForm.controls.cluster_id.invalid && smbForm.controls.cluster_id.dirty"
        />
      </cds-text-label>
      <ng-template #clusterError>
        <span
          class="invalid-feedback"
          *ngIf="smbForm.showError('cluster_id', formDir, 'required')"
          i18n
          >This field is required.</span
        >
      </ng-template>
    </div>

    <!-- Auth Mode -->
    <div class="form-item">
      <cds-select
        formControlName="auth_mode"
        label="Authentication Mode"
        cdRequiredField="Authentication Mode"
        id="auth_mode"
        [invalid]="smbForm.controls.auth_mode.invalid && smbForm.controls.auth_mode.dirty"
        [invalidText]="authModeError"
        (change)="onAuthModeChange()"
        helperText="Active-directory authentication for domain member servers and User authentication for
        Stand-alone servers configuration."
        i18n-helperText
      >
        <option value="active-directory"
                i18n>Active Directory</option>
        <option value="user"
                i18n>User</option>
      </cds-select>
      <ng-template #authModeError>
        <span
          class="invalid-feedback"
          *ngIf="smbForm.showError('auth_mode', formDir, 'required')"
          i18n
          >This field is required.</span
        >
      </ng-template>
    </div>

    <!-- Domain Settings -->
    <div class="form-item"
         *ngIf="this.smbForm.get('auth_mode').value === 'active-directory'">
      <div cdsCol
           [columnNumbers]="{ md: 12 }"
           class="d-flex">
        <cds-text-label labelInputID="domain_settings"
                        i18n
                        cdRequiredField="Domain Settings">Domain Settings
          <div class="cds-input-group">
            <input
              cdsText
              type="text"
              placeholder="Domain Settings..."
              i18n-placeholder
              id="domain_settings"
              formControlName="domain_settings"
              [value]="domainSettingsObject?.realm"
              (click)="editDomainSettingsModal()"
              [invalid]="
                !smbForm.controls.domain_settings.valid &&
                smbForm.controls.domain_settings.dirty &&
                smbForm.controls.domain_settings.touched
              "
            />
            <cds-icon-button kind="ghost"
                             (click)="editDomainSettingsModal()"
                             size="md">
              <svg cdsIcon="edit"
                   size="32"
                   class="cds--btn__icon"
                   icon></svg>
            </cds-icon-button>

            <cds-icon-button kind="danger"
                             (click)="deleteDomainSettingsModal()"
                             size="md">
              <svg cdsIcon="trash-can"
                   size="32"
                   class="cds--btn__icon"
                   icon></svg>
            </cds-icon-button>
          </div>
        </cds-text-label>
      </div>
      <span
        class="invalid-feedback"
        *ngIf="
          smbForm.get('domain_settings').hasError('required') &&
          smbForm.controls.domain_settings.touched
        "
        i18n>Specify the Realm and Join Sources in the Domain Settings field.</span
      >
      <div></div>
    </div>

    <!-- User Group Settings -->
    <ng-container formArrayName="joinSources"
                  *ngFor="let dns of joinSources.controls; index as i">
      <div
        cdsRow
        *ngIf="this.smbForm.get('auth_mode').value === 'user'"
        class="form-item form-item-append"
      >
        <div cdsCol
             [columnNumbers]="{ lg: 14 }">
          <cds-text-label for="joinSources"
                          i18n
                          cdRequiredField="User Group Id">User Group Id
            <input
              cdsText
              type="text"
              placeholder="User Group Id"
              i18n-placeholder
              [id]="'joinSources-' + i"
              [formControlName]="i"
              [invalid]="
                smbForm.controls['joinSources'].controls[i].invalid &&
                smbForm.controls['joinSources'].dirty
              "
            />
          </cds-text-label>
          <ng-template #refError>
            <span
              class="invalid-feedback"
              *ngIf="smbForm.showError('joinSources[i]', formDir, 'required')"
              i18n
              >This field is required.</span
            >
          </ng-template>
        </div>
        <div cdsCol
             [columnNumbers]="{ lg: 1 }">
          <cds-icon-button
            kind="danger"
            *ngIf="i > 0"
            size="sm"
            (click)="removeUserGroupSetting(i)"
          >
            <svg cdsIcon="trash-can"
                 size="32"
                 class="cds--btn__icon"></svg>
          </cds-icon-button>
        </div>
      </div>
    </ng-container>

    <div class="form-item"
         *ngIf="this.smbForm.get('auth_mode').value === 'user'">
      <button cdsButton="tertiary"
              type="button"
              (click)="addUserGroupSetting()"
              i18n>
        Add User Group Id
        <svg cdsIcon="add"
             size="32"
             class="cds--btn__icon"
             icon></svg>
      </button>
    </div>

    <!-- Placement -->
    <ng-container *ngIf="orchStatus.available">
      <div class="form-item">
        <cds-select
          label="Placement"
          for="placement"
          formControlName="placement"
          id="placement"
        >
          <option value="hosts"
                  i18n>Hosts</option>
          <option value="label"
                  i18n>Labels</option>
        </cds-select>
      </div>
      <ng-container *ngIf="hostsAndLabels$ | async as data">
        <!-- Label -->
        <div *ngIf="smbForm.controls.placement.value === 'label'"
             class="form-item">
          <cds-combo-box
            type="multi"
            selectionFeedback="top-after-reopen"
            label="Label"
            formControlName="label"
            id="label"
            placeholder="Select labels..."
            [appendInline]="true"
            [items]="data.labels"
            i18n-placeholder
            (selected)="multiSelector($event, 'label')"
            [invalid]="smbForm.controls.label.invalid && smbForm.controls.label.dirty"
            [invalidText]="labelError"
            cdRequiredField="Label"
            i18n
          >
            <cds-dropdown-list></cds-dropdown-list>
          </cds-combo-box>
          <ng-template #labelError>
            <span
              class="invalid-feedback"
              *ngIf="smbForm.showError('label', formDir, 'required')"
              i18n
              >This field is required.</span
            >
          </ng-template>
        </div>

        <!-- Hosts -->
        <div *ngIf="smbForm.controls.placement.value === 'hosts'"
             class="form-item">
          <cds-combo-box
            type="multi"
            selectionFeedback="top-after-reopen"
            label="Hosts"
            formControlName="hosts"
            id="hosts"
            placeholder="Select hosts..."
            i18n-placeholder
            [appendInline]="true"
            [items]="data.hosts"
            (selected)="multiSelector($event, 'hosts')"
            i18n
          >
            <cds-dropdown-list></cds-dropdown-list>
          </cds-combo-box>
        </div>
      </ng-container>
    </ng-container>

    <div class="form-item">
      <cds-number
        [id]="'count'"
        [formControlName]="'count'"
        [label]="'Count'"
        [min]="1"
      ></cds-number>
    </div>

    <!-- Clustering -->
    <div class="form-item">
      <cds-select
        formControlName="clustering"
        for="clustering"
        label="Clustering"
        id="clustering"
        helperText="Control if a cluster abstraction actually uses Samba’s clustering mechanism."
        i18n-helperText
      >
        <option *ngFor="let data of allClustering"
                i18n>{{ data | upperFirst }}</option>
      </cds-select>
    </div>

    <!-- Custom DNS -->
    <ng-container formArrayName="custom_dns"
                  *ngFor="let dns of custom_dns.controls; index as i">
      <div cdsRow
           class="form-item form-item-append">
        <div cdsCol
             [columnNumbers]="{ lg: 14 }">
          <input cdsText
                 [formControlName]="i"
                 placeholder="Custom DNS"/>
        </div>
        <div cdsCol
             [columnNumbers]="{ lg: 1 }">
          <cds-icon-button kind="danger"
                           size="sm"
                           (click)="removeCustomDNS(i)">
            <svg cdsIcon="trash-can"
                 size="32"
                 class="cds--btn__icon"></svg>
          </cds-icon-button>
        </div>
      </div>
    </ng-container>

    <div class="form-item">
      <button cdsButton="tertiary"
              type="button"
              (click)="addCustomDns()"
              i18n>
        Add Custom DNS
        <svg cdsIcon="add"
             size="32"
             class="cds--btn__icon"
             icon></svg>
      </button>
    </div>
    <cd-form-button-panel
      (submitActionEvent)="submitAction()"
      [form]="smbForm"
      [submitText]="(action | titlecase) + ' ' + (resource | upperFirst)"
      wrappingClass="text-right"
    ></cd-form-button-panel>
  </form>
</div>
