@if (upgradeStatus$ | async; as status) {
  <div>
    @if (status.is_paused || status.in_progress) {
      @if (status.is_paused) {
        <h5 i18n>Upgrade is paused</h5>
      } @else {
        <a
          href="#/upgrade/progress"
          i18n
        >
          <cds-inline-loading></cds-inline-loading>
          Upgrading {{ executingTask?.progress }}%
        </a>
      }
    } @else {
      <ng-container *ngTemplateOutlet="isUpgradable"></ng-container>
    }
  </div>
} @else {
  <ng-container *ngTemplateOutlet="isUpgradable"></ng-container>
}

<ng-template #isUpgradable>
  @if (upgradeInfo$ | async; as info) {
    <div i18n>
      @if (info.versions.length > 0) {
        <h5
          (click)="upgradeModal()"
          tabindex="0"
          (keydown.enter)="upgradeModal()"
        >
          <i [ngClass]="icons.up"></i>
          Upgrade available
        </h5>
      }
    </div>
  }
</ng-template>
