@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/motion' as *;

$block-class: notification-panel;
$block-size: 38.5rem;

.#{$block-class}__container {
  position: fixed;
  z-index: 2;
  overflow: auto;
  background-color: var(--cds-layer-01);
  border-block-end: 1px solid var(--cds-border-subtle-02);
  border-inline-start: 1px solid var(--cds-border-subtle-02);
  box-shadow: 0 0.125rem 0.25rem var(--cds-overlay);
  min-block-size: $block-size;
  min-inline-size: 20rem;
  inset-block-start: 3rem;
  inset-inline-end: 0;
  max-block-size: $block-size;
  max-inline-size: 22.75rem;
}
