$block-size: 38.5rem;
$inline-max-size: 22.75rem;
$inline-min-size: 20rem;

.notification-panel {
  --header-height: 4.5625rem;
  --panel-height: #{$block-size};
  --panel-max-width: #{$inline-max-size};
  --panel-min-width: #{$inline-min-size};

  position: fixed;
  z-index: 2;
  overflow: auto;
  background-color: var(--cds-layer-01);
  border-block-end: 1px solid var(--cds-border-subtle-02);
  border-inline-start: 1px solid var(--cds-border-subtle-02);
  box-shadow: 0 0.125rem 0.25rem var(--cds-overlay);
  min-block-size: $block-size;
  min-inline-size: $inline-min-size;
  inset-block-start: 3rem;
  inset-inline-end: 0;
  max-block-size: $block-size;
  max-inline-size: $inline-max-size;
}
