<cds-modal size="xl"
           [open]="open"
           [hasScrollingContent]="true"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>{{ action | titlecase }} Zonegroup</h3>
    <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
  </cds-modal-header>
  <form [formGroup]="multisiteZonegroupForm"
        novalidate>
    <div cdsModalContent
         class="modal-wrapper scroll-overflow">
      <div class="form-item">
        <cds-select
          label="Realm"
          i18n-label
          for="selectedRealm"
          formControlName="selectedRealm"
          id="selectedRealm"
        >
          <option [value]="''"
                  i18n>-- Select a realm --</option>
          <option
            *ngFor="let realmName of realmList"
            [value]="realmName.name"
            [selected]="realmName.name === multisiteZonegroupForm.getValue('selectedRealm')"
            i18n
          >
            {{ realmName.name }}
          </option>
        </cds-select>
      </div>
      <div class="form-item">
        <cds-text-label
          labelInputID="zonegroupName"
          [invalid]="
            !multisiteZonegroupForm.controls.zonegroupName.valid &&
            multisiteZonegroupForm.controls.zonegroupName.dirty
          "
          [invalidText]="zoneGroupinvalid"
          i18n
          >Zonegroup Name
          <input
            cdsText
            type="text"
            id="zonegroupName"
            formControlName="zonegroupName"
            [invalid]="
              !multisiteZonegroupForm.controls.zonegroupName.valid &&
              multisiteZonegroupForm.controls.zonegroupName.dirty
            "
          />
        </cds-text-label>
      </div>
      <div class="form-item">
        <cds-checkbox
          id="default_zonegroup"
          formControlName="default_zonegroup"
          cdOptionalField="Mark as default zone"
          [disabled]="action === actionLabels.EDIT"
          i18n>
          Default
          <cd-help-text *ngIf="disableDefault && action === actionLabels.CREATE">Zonegroup doesn't belong to the default realm.
          </cd-help-text>
          <cd-help-text *ngIf="action === actionLabels.EDIT && info.data.is_default">
            <span>You cannot unset the default flag.</span>
          </cd-help-text>
          <cd-help-text *ngIf="action === actionLabels.EDIT && !info.data.is_default">
            <span
              >Please consult the&nbsp;<cd-doc section="rgw-multisite"></cd-doc>&nbsp;to follow the
              failover mechanism</span
            >
          </cd-help-text>
        </cds-checkbox>
      </div>
      <div class="form-item">
        <cds-checkbox
          id="master_zonegroup"
          formControlName="master_zonegroup"
          cdOptionalField="Master"
          helperText="masterHelperText"
          [disabled]="action === actionLabels.EDIT"
          i18n>
          Master
        </cds-checkbox>
      </div>
      <div class="form-item">
        <cds-text-label
          i18n
          [invalid]="
            !multisiteZonegroupForm.controls.zonegroup_endpoints.valid &&
            multisiteZonegroupForm.controls.zonegroup_endpoints.dirty
          "
          [invalidText]="endpointInvalid"
          cdRequiredField="Endpoints"
          i18n-invalidText
          >Endpoints
          <input
            cdsText
            formControlName="zonegroup_endpoints"
            placeholder="http://ceph-node-00.com:80"
            [invalid]="
              !multisiteZonegroupForm.controls.zonegroup_endpoints.valid &&
              multisiteZonegroupForm.controls.zonegroup_endpoints.dirty
            "
          />
        </cds-text-label>
      </div>
      <div class="form-item"
           *ngIf="action === actionLabels.EDIT">
        <cds-combo-box
          label="Zones"
          i18n-label
          type="multi"
          selectionFeedback="top-after-reopen"
          for="zones"
          formControlName="zones"
          placeholder="Select zones..."
          i18n-placeholder
          [appendInline]="true"
          [items]="allPossibleValues"
          itemValueKey="value"
          (selected)="onZoneSelection($event)"
          id="zones"
          i18n
        >
          <cds-dropdown-list></cds-dropdown-list>
        </cds-combo-box>
        <span class="invalid-feedback"
              *ngIf="isRemoveMasterZone"
              i18n>Cannot remove master zone.</span>
      </div>

      <div *ngIf="action === actionLabels.EDIT">
        <fieldset>
          <legend class="cd-header"
                  i18n>Placement targets</legend>
        </fieldset>
        <ng-container formArrayName="placementTargets">
          <div *ngFor="let item of placementTargets.controls; let index = index">
            <ng-container [formGroupName]="index">
              <div cdsGrid>
                <div cdsRow
                     class="form-item form-item-append">
                  <div cdsCol>
                    <cds-text-label
                      labelInputID="placement_id"
                      i18n
                      [invalid]="
                        placementTargets.get('placement_id')?.invalid &&
                        placementTargets.get('placement_id')?.touched"
                      [invalidText]="placementTargets.get('placement_id')?.errors?.['required'] ? 'This field is required.' : ''"
                    >
                      Placement Id
                      <input
                        cdsText
                        type="text"
                        formControlName="placement_id"
                        [invalid]="
                          placementTargets.get('placement_id')?.invalid &&
                          placementTargets.get('placement_id')?.touched
                        "
                      />
                    </cds-text-label>
                  </div>
                  <div cdsCol>
                    <cds-text-label labelInputID="tags"
                                    i18n>
                      Tags
                      <input cdsText
                             type="text"
                             formControlName="tags" />
                    </cds-text-label>
                  </div>
                  <div cdsCol>
                    <cds-text-label labelInputID="storage_class"
                                    i18n>
                      Storage Class
                      <input cdsText
                             type="text"
                             formControlName="storage_class" />
                    </cds-text-label>
                  </div>
                  <div cdsCol
                       [columnNumbers]="{ lg: 1, md: 1 }"
                       class="item-action-btn">
                    <cds-icon-button kind="danger"
                                     size="sm"
                                     (click)="removePlacementTarget(index)">
                      <svg cdsIcon="trash-can"
                           size="32"
                           class="cds--btn__icon"></svg>
                    </cds-icon-button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <div class="form-item">
          <button
            cdsButton="tertiary"
            type="button"
            (click)="
              addPlacementTarget(placementTargets ? placementTargets : null, index ? index : null)
            "
            i18n
          >
            Add Placement Target
            <svg cdsIcon="add"
                 size="32"
                 class="cds--btn__icon"
                 icon></svg>
          </button>
        </div>
      </div>
    </div>
    <cd-form-button-panel
      (submitActionEvent)="submit()"
      [form]="multisiteZonegroupForm"
      [submitText]="(action | titlecase) + ' ' + resource"
      [modalForm]="true"
    >
    </cd-form-button-panel>
  </form>

  <ng-template #endpointInvalid>
    <span
      class="invalid-feedback"
      *ngIf="multisiteZonegroupForm.showError('zonegroup_endpoints', null, 'required')"
      i18n
      >{{ INVALID_TEXTS['required'] }}</span
    >
    <span
      class="invalid-feedback"
      *ngIf="multisiteZonegroupForm.showError('zonegroup_endpoints', null, 'invalidURL')"
      i18n
      >{{ INVALID_TEXTS['invalidURL'] }}</span
    >
  </ng-template>
  <ng-template #zoneGroupinvalid>
    <span
      class="invalid-feedback"
      *ngIf="multisiteZonegroupForm.showError('zonegroupName', null, 'required')"
      i18n
      >{{ INVALID_TEXTS['required'] }}</span
    >
    <span
      class="invalid-feedback"
      *ngIf="multisiteZonegroupForm.showError('zonegroupName', null, 'uniqueName')"
      i18n
      >{{ INVALID_TEXTS['uniqueName'] }}</span
    >
  </ng-template>
</cds-modal>
