<div dropdown>
  <a dropdownToggle
     class="dropdown-toggle"
     data-toggle="dropdown"
     i18n-title
     title="Logged in user">
    <i class="fa fa-fw fa-user"></i>
    <span i18n
          class="visible-xs-inline-block">Logged in user</span>
    <span class="caret"></span>
  </a>
  <ul *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu">
    <li class="disabled"
        role="menuitem">
      <a i18n
         class="dropdown-item disabled"
         href="#">Signed in as
      <strong>{{ username }}</strong></a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item"
         (click)="logout()">
        <i class="fa fa-sign-out fa-fw"></i>
        <span i18n>Sign out</span>
      </a>
    </li>
  </ul>
</div>
