<div dropdown
     class="btn-group">
  <a dropdownToggle
     class="dropdown-toggle"
     i18n-title
     title="Logged in user">
    <i [ngClass]="[icons.user]"></i>
    <span i18n
          class="d-md-none">Logged in user</span>
  </a>
  <ul *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu">
    <li class="disabled"
        role="menuitem">
      <a i18n
         class="dropdown-item disabled"
         href="#">Signed in as
      <strong>{{ username }}</strong></a>
    </li>
    <li class="dropdown-divider"></li>
    <li *ngIf="!sso"
        role="menuitem">
      <a class="dropdown-item"
         routerLink="/user-profile/edit">
        <i [ngClass]="[icons.lock]"></i>
        <span i18n>Change password</span>
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item"
         (click)="logout()">
        <i [ngClass]="[icons.signOut]"></i>
        <span i18n>Sign out</span>
      </a>
    </li>
  </ul>
</div>
