@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme';

.notification-footer {
  position: sticky;
  z-index: 2;
  display: flex;
  align-items: center;
  background-color: theme.$layer-01;
  block-size: 2.5rem;
  border-block-start: 1px solid theme.$border-subtle-01;
  inset-block-end: 0;
  min-block-size: 2.5rem;
  &__view-all-button {
    color: theme.$text-primary;
    padding: spacing.$spacing-03 spacing.$spacing-05;
  }
}
