<div class="login full-height">
  <header>
    <nav class="navbar">
      <a class="navbar-brand"></a>
      <div class="form-inline">
        <cd-language-selector></cd-language-selector>
      </div>
    </nav>
  </header>
  <section>
    <div class="container">
      <div class="row full-height vertical-align">
        <div class="col-sm-6 d-none d-sm-block">
          <img src="assets/Ceph_Logo_Stacked_RGB_White_120411_fa_256x256.png"
               alt="Ceph"
               class="float-right img-fluid">
        </div>
        <div class="col-12 col-sm-6 col-xl-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
</div>
