<div
  class="cd-col-form"
  *cdFormLoading="loading"
>
  <form
    name="mgrModuleForm"
    #frm="ngForm"
    [formGroup]="mgrModuleForm"
    novalidate
  >
    <div class="card">
      <div
        class="card-header"
        i18n
      >
        Edit Manager module
      </div>
      <div class="card-body">
        @for (moduleOption of moduleOptions | keyvalue; track moduleOption) {
          <div class="form-group row">
            <!-- Field label -->
            <label
              class="cd-col-form-label"
              for="{{ moduleOption.value.name }}"
            >
              {{ moduleOption.value.name }}
              @if (moduleOption.value.long_desc || moduleOption.value.desc) {
                <cd-helper>
                  {{ moduleOption.value.long_desc || moduleOption.value.desc | upperFirst }}
                </cd-helper>
              }
            </label>
            <!-- Field control -->
            <!-- bool -->
            @if (moduleOption.value.type === 'bool') {
              <div class="cd-col-form-input">
                <div class="custom-control custom-checkbox">
                  <input
                    id="{{ moduleOption.value.name }}"
                    type="checkbox"
                    class="custom-control-input"
                    formControlName="{{ moduleOption.value.name }}"
                  />
                  <label
                    class="custom-control-label"
                    for="{{ moduleOption.value.name }}"
                  ></label>
                </div>
              </div>
            }
            <!-- addr|str|uuid -->
            @if (['addr', 'str', 'uuid'].includes(moduleOption.value.type)) {
              <div class="cd-col-form-input">
                @if (moduleOption.value.enum_allowed.length === 0) {
                  <input
                    id="{{ moduleOption.value.name }}"
                    class="form-control"
                    type="text"
                    formControlName="{{ moduleOption.value.name }}"
                  />
                }
                @if (moduleOption.value.enum_allowed.length > 0) {
                  <select
                    id="{{ moduleOption.value.name }}"
                    class="form-select"
                    formControlName="{{ moduleOption.value.name }}"
                  >
                    @for (value of moduleOption.value.enum_allowed; track value) {
                      <option [ngValue]="value">
                        {{ value }}
                      </option>
                    }
                  </select>
                }
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'invalidUuid')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >The entered value is not a valid UUID, e.g.:
                    67dcac9f-2c03-4d6c-b7bd-1210b3a259a8</span
                  >
                }
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'pattern')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >The entered value needs to be a valid IP address.</span
                  >
                }
              </div>
            }
            <!-- uint|int|size|secs -->
            @if (['uint', 'int', 'size', 'secs'].includes(moduleOption.value.type)) {
              <div class="cd-col-form-input">
                <input
                  id="{{ moduleOption.value.name }}"
                  class="form-control"
                  type="number"
                  formControlName="{{ moduleOption.value.name }}"
                  min="{{ moduleOption.value.min }}"
                  max="{{ moduleOption.value.max }}"
                />
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'required')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >This field is required.</span
                  >
                }
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'max')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >The entered value is too high! It must be lower or equal to
                    {{ moduleOption.value.max }}.</span
                  >
                }
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'min')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >The entered value is too low! It must be greater or equal to
                    {{ moduleOption.value.min }}.</span
                  >
                }
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'pattern')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >The entered value needs to be a number.</span
                  >
                }
              </div>
            }
            <!-- float -->
            @if (moduleOption.value.type === 'float') {
              <div class="cd-col-form-input">
                <input
                  id="{{ moduleOption.value.name }}"
                  class="form-control"
                  type="number"
                  formControlName="{{ moduleOption.value.name }}"
                />
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'required')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >This field is required.</span
                  >
                }
                @if (mgrModuleForm.showError(moduleOption.value.name, frm, 'pattern')) {
                  <span
                    class="invalid-feedback"
                    i18n
                    >The entered value needs to be a number or decimal.</span
                  >
                }
              </div>
            }
          </div>
        }
      </div>
      <div class="card-footer">
        <cd-form-button-panel
          (submitActionEvent)="onSubmit()"
          [form]="mgrModuleForm"
          [submitText]="actionLabels.UPDATE"
          wrappingClass="text-right"
        ></cd-form-button-panel>
      </div>
    </div>
  </form>
</div>
