@if (title) {
  <cd-page-header-resource
    class="cds-mb-5 cds-pr-7"
    [title]="title"
    [status]="headerStatus"
    [tags]="headerTags"
    [actions]="headerActions"
    [showBreadcrumbs]="showHeaderBreadcrumbs"
  >
  </cd-page-header-resource>
}
<div class="sidebar-layout-container sidebar-layout--full">
  <div class="sidebar-layout-shell">
    <cds-sidenav
      [expanded]="true"
      class="sidebar-layout-nav cds--side-nav--fixed"
    >
      @for (item of items; track item.label) {
        <cds-sidenav-item
          [route]="item.route"
          [routeExtras]="item.routeExtras"
          [useRouter]="true"
          [routerLinkActiveOptions]="item.routerLinkActiveOptions || { exact: false }"
        >
          <span class="cds--type-heading-compact-01">{{ item.label }}</span>
        </cds-sidenav-item>
      }
    </cds-sidenav>

    <main class="sidebar-layout-main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
