@use './src/styles/vendor/variables' as vv;
@use '@carbon/colors';
@use '@carbon/layout';

.sidebar-layout-container {
<<<<<<< HEAD
  background-color: var(--cds-background);
  min-height: calc(100vh - (vv.$navbar-height + layout.rem(55px)));
=======
  min-height: calc(100vh - (vv.$navbar-height + layout.rem(55px)));
  background-color: var(--cds-background);
>>>>>>> e7c163eefa4 (mgr/dashboard: NVme-gateway-resource)
  padding-right: var(--cds-spacing-07);
}

.sidebar-layout-shell {
<<<<<<< HEAD
  height: 100vh;
  position: relative;
  transform: translate(0);
}

.sidebar-layout-nav {
  background-color: var(--cds-layer-03);
=======
  transform: translate(0);
  position: relative;
>>>>>>> e7c163eefa4 (mgr/dashboard: NVme-gateway-resource)
}

.sidebar-layout-main {
  margin-left: layout.rem(272px);
<<<<<<< HEAD

  .cds--table-toolbar {
    background-color: var(--cds-layer-03);
  }

  .cds--data-table tbody {
    background-color: var(--cds-layer-03);
  }

  .cds--pagination {
    background-color: var(--cds-layer-03);
  }
=======
>>>>>>> e7c163eefa4 (mgr/dashboard: NVme-gateway-resource)
}

.sidebar-header {
  padding-left: var(--cds-spacing-05);
}
