@import 'defaults.scss';

::ng-deep cd-login-password-form {
  h4 {
    margin: 0 0 30px 0;
  }

  .btn-password,
  .btn-password:focus,
  .form-control,
  .form-control:focus {
    color: $color-password-toggle-text;
    background-color: $color-password-toggle-bg;
  }

  .form-control::placeholder {
    color: $color-password-toggle-placeholder-text;
  }

  .btn-password:focus {
    outline-color: $color-password-toggle-focus;
  }

  button.btn:not(:first-child) {
    margin-left: 5px;
  }
}
