@use './src/styles/defaults/bootstrap-defaults' as bd;

::ng-deep cd-login-password-form {
  h4 {
    margin: 0 0 30px;
  }

  .btn-password,
  .btn-password:focus,
  .form-control,
  .form-control:focus {
    background-color: bd.$color-password-toggle-bg;
    color: bd.$color-password-toggle-text;
  }

  .form-control::placeholder {
    color: bd.$color-password-toggle-placeholder-text;
  }

  .btn-password:focus {
    outline-color: bd.$color-password-toggle-focus;
  }

  button.btn:not(:first-child) {
    margin-left: 5px;
  }
}
