@use './src/styles/defaults/bootstrap-defaults' as bd;

::ng-deep cd-login-password-form {
  h4 {
    margin: 0 0 30px;
  }

  .btn-password,
  .btn-password:focus,
  .form-control,
  .form-control:focus {
    background-color: bd.$gray-800;
    color: bd.$white;
  }

  .form-control::placeholder {
    color: bd.$gray-500;
  }

  .btn-password:focus {
    outline-color: bd.$primary;
  }

  button.btn:not(:first-child) {
    margin-left: 5px;
  }
}
