<cd-smb-tabs></cd-smb-tabs>

<ng-container *ngIf="usersGroups$ | async as usersGroups">
  <cd-table
    headerTitle="Standalone access resoruces"
    headerDescription="Logical management units for authorization on Standalone servers"
    [data]="usersGroups"
    columnMode="flex"
    [columns]="columns"
    selectionType="single"
    [hasDetails]="true"
    (setExpandedRow)="setExpandedRow($event)"
    (fetchData)="loadUsersGroups()"
    (updateSelection)="updateSelection($event)"
  >
  <div class="table-actions">
    <cd-table-actions
      [permission]="permission"
      [selection]="selection"
      [tableActions]="tableActions">
    </cd-table-actions>
  </div>
  <cd-smb-usersgroups-details
    *cdTableDetail
    [selection]="expandedRow"
  ></cd-smb-usersgroups-details>
</cd-table>
</ng-container>

<ng-template
  #groupsNamesTpl
  let-row="data.row"
>
  <cds-tag
    *ngFor="let group of row?.values.groups"
    size="md"
  >
    {{ group?.name }}
  </cds-tag>
</ng-template>
