<cd-rgw-multisite-tabs></cd-rgw-multisite-tabs>

<legend i18n>
  Multisite Sync Policy
  <cd-help-text>
    Multisite bucket-granularity sync policy provides fine grained control of data movement between
    buckets in different zones. Leveraging the bucket-granularity sync policy is possible for buckets to diverge,
     and a bucket can pull data from other buckets (ones that don’t share its name or its ID) in different zone.
  </cd-help-text>
</legend>
<cd-table
  #table
  [autoReload]="false"
  [data]="syncPolicyData"
  [columns]="columns"
  identifier="uniqueId"
  [forceIdentifier]="true"
  selectionType="multiClick"
  [searchableObjects]="true"
  [hasDetails]="true"
  [toolHeader]="true"
  (setExpandedRow)="setExpandedRow($event)"
  (fetchData)="getPolicyList($event)"
  (updateSelection)="updateSelection($event)">
  <div class="table-actions">
    <cd-table-actions
      [permission]="permission"
      [selection]="selection"
      class="btn-group"
      [tableActions]="tableActions">
    </cd-table-actions>
  </div>
  <cd-rgw-multisite-sync-policy-details
    *cdTableDetail
    [expandedRow]="expandedRow"
    [permission]="permission">
  </cd-rgw-multisite-sync-policy-details>
</cd-table>

<ng-template #deleteTpl>
  <cd-alert-panel type="danger"
                  i18n>
    Are you sure you want to delete these policy groups?
  </cd-alert-panel>
</ng-template>
<router-outlet name="modal"
               (deactivate)="getPolicyList()"></router-outlet>
