<legend i18n>
  Multisite Sync Policy
  <cd-help-text>
    Multisite bucket-granularity sync policy provides fine grained control of data movement between
    buckets in different zones.
  </cd-help-text>
</legend>
<cd-table
  #table
  [autoReload]="false"
  [data]="syncPolicyData"
  [columns]="columns"
  identifier="uniqueId"
  [forceIdentifier]="true"
  columnMode="flex"
  selectionType="multiClick"
  [searchableObjects]="true"
  [hasDetails]="false"
  [serverSide]="false"
  [count]="0"
  [maxLimit]="25"
  [toolHeader]="true"
  (fetchData)="getPolicyList($event)"
  (updateSelection)="updateSelection($event)">
  <div class="table-actions btn-toolbar">
    <cd-table-actions
      [permission]="permission"
      [selection]="selection"
      class="btn-group"
      [tableActions]="tableActions">
    </cd-table-actions>
  </div>
</cd-table>

<ng-template #deleteTpl>
  <cd-alert-panel type="danger"
                  i18n>
    Are you sure you want to delete these policy groups?
  </cd-alert-panel>
</ng-template>
