@use './src/styles/vendor/variables' as vv;

.info-card-content-clickable {
  border: 1px solid vv.$gray-200;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
}

.info-card-content-clickable:hover {
  background-color: vv.$gray-200;
  border-color: vv.$gray-400;
}

.cds-card {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

.cds-card .cds-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
