<main
  *cdScope="'configOpt'"
  cdsGrid
  [fullWidth]="true"
  [narrow]="true"
  class="cds-mt-5"
>
  @if (healthData$ | async; as healthData) {
    <div
      cdsRow
      class="cds-mb-5"
    >
      <div
        cdsCol
        [columnNumbers]="{ lg: 16 }"
      >
        <cds-tile
          aria-label="Cluster Information"
          i18n-aria-label
        >
          <h4
            class="cds--type-heading-03 tile-title"
            i18n
          >
            Cluster Information
          </h4>
          <div class="details-grid">
            <!-- Current Version -->
            <div class="detail-item">
              <span
                class="cds--type-label-01"
                i18n
                >Current Version</span
              >
              <span class="cds--type-body-compact-01">{{ version }}</span>
            </div>
            <!-- New Version / Upgrade Status -->
            @if (upgradeStatus$ | async; as status) {
              <div
                class="detail-item"
                id="newVersionAvailable"
              >
                <span
                  class="cds--type-label-01"
                  i18n
                  >New Version</span
                >
                @if (status.in_progress) {
                  <div
                    cdsStack
                    orientation="vertical"
                    gap="2"
                  >
                    @if (status.is_paused) {
                      <span
                        class="cds--type-body-compact-01"
                        i18n
                      >
                        <cds-inline-loading></cds-inline-loading>
                        Upgrade is paused {{ executingTasks?.progress }}%</span
                      >
                    } @else {
                      <span
                        class="cds--type-body-compact-01"
                        i18n
                      >
                        <cds-inline-loading></cds-inline-loading>
                        Upgrading {{ executingTasks?.progress }}%
                      </span>
                    }
                    <a
                      class="cds--link"
                      routerLink="/upgrade/progress"
                      i18n
                      >View Details...</a
                    >
                  </div>
                } @else {
                  @if (info$ | async; as info) {
                    <div
                      cdsStack
                      orientation="vertical"
                      gap="4"
                      class="cds-mt-3"
                    >
                      @if (info.versions.length > 0) {
                        <div
                          [cdsTip]="
                            (healthData.mgr_map | mgrSummary)?.total <= 1
                              ? 'To upgrade, you need minimum 2 mgr service instances.'
                              : ''
                          "
                          i18n-cdsTip
                        >
                          <button
                            cdsButton="primary"
                            class="cds-mt-3"
                            id="upgrade"
                            aria-label="Upgrade now"
                            (click)="upgradeNow(info.versions[info.versions.length - 1])"
                            [disabled]="(healthData.mgr_map | mgrSummary)?.total <= 1"
                            type="button"
                            i18n
                          >
                            Upgrade to {{ info.versions[info.versions.length - 1] }}
                          </button>
                        </div>
                        <a
                          class="cds--link cds-mb-3"
                          (click)="startUpgradeModal()"
                          tabindex="0"
                          (keydown.enter)="startUpgradeModal()"
                          i18n
                          >Select another version...</a
                        >
                      } @else {
                        <span
                          class="cds--type-body-compact-01"
                          id="no-upgrades-available"
                          i18n
                        >
                          <cd-icon type="success"></cd-icon>
                          Cluster is up-to-date
                        </span>
                        <a
                          class="cds--link cds-mb-3"
                          (click)="startUpgradeModal()"
                          tabindex="0"
                          (keydown.enter)="startUpgradeModal()"
                          i18n
                          >Upgrade using custom image...</a
                        >
                      }
                    </div>
                  } @else {
                    @if (!errorMessage) {
                      <div
                        cdsStack
                        orientation="vertical"
                        gap="4"
                        class="cds-mt-3"
                      >
                        <button
                          cdsButton="primary"
                          class="cds-mt-3 cds-mb-5"
                          id="upgrade"
                          aria-label="Upgrade now"
                          [disabled]="true"
                          type="button"
                          i18n
                        >
                          Checking for upgrades
                          <cds-inline-loading></cds-inline-loading>
                        </button>
                      </div>
                    } @else {
                      <div
                        cdsStack
                        orientation="vertical"
                        gap="4"
                        class="cds-mt-3 cds-mb-5"
                      >
                        <span
                          class="cds--type-body-compact-01"
                          id="upgrade-status-error"
                          i18n
                        >
                          <cd-icon type="danger"></cd-icon>
                          {{ errorMessage }}
                        </span>
                        <a
                          class="cds--link cds-mb-3"
                          (click)="startUpgradeModal()"
                          tabindex="0"
                          (keydown.enter)="startUpgradeModal()"
                          i18n
                          >Upgrade using custom image...</a
                        >
                      </div>
                    }
                  }
                }
              </div>
            }
            <!-- Cluster Status -->
            <div
              class="detail-item"
              id="clusterStatus"
            >
              <span
                class="cds--type-label-01"
                i18n
                >Cluster Status</span
              >
              @if (healthData.health?.status !== 'HEALTH_OK') {
                <a
                  class="cds--link cds--type-body-compact-01"
                  routerLink="/overview"
                  [ngStyle]="healthData.health.status | healthColor"
                >
                  {{ healthData.health.status | healthLabel | titlecase }}
                  <cd-icon type="warning"></cd-icon>
                </a>
              } @else {
                <span
                  class="cds--type-body-compact-01"
                  [ngStyle]="healthData.health.status | healthColor"
                >
                  {{ healthData.health.status | healthLabel | titlecase }}
                </span>
              }
            </div>
            <!-- MGR Count -->
            <div
              class="detail-item"
              id="mgrCount"
            >
              <span
                class="cds--type-label-01"
                i18n
                >MGR Count</span
              >
              <span class="cds--type-body-compact-01">
                @if ((healthData.mgr_map | mgrSummary)?.total > 1) {
                  <cd-icon type="success"> </cd-icon>
                } @else {
                  <cd-icon
                    type="warning"
                    title="To upgrade, you need minimum 2 mgr service instances."
                  >
                  </cd-icon>
                }
                {{ (healthData.mgr_map | mgrSummary)?.total }}
              </span>
            </div>
            <!-- Cluster FSID -->
            @if (fsid$ | async; as fsid) {
              <div class="detail-item">
                <span
                  class="cds--type-label-01"
                  i18n
                  >Cluster FSID</span
                >
                <span class="cds--type-body-compact-01">{{ fsid }}</span>
              </div>
            }
            <!-- Release Image -->
            <div class="detail-item">
              <span
                class="cds--type-label-01"
                i18n
                >Release Image</span
              >
              @if (info$ | async; as info) {
                <span class="cds--type-body-compact-01">{{ info.image }}</span>
              } @else {
                @if (!errorMessage) {
                  <span class="cds--type-body-compact-01">
                    <cds-inline-loading></cds-inline-loading>
                    <span i18n>Loading...</span>
                  </span>
                } @else {
                  <span class="cds--type-body-compact-01 text-danger">
                    <cd-icon type="danger"></cd-icon>
                    <span i18n>Failed to fetch</span>
                  </span>
                }
              }
            </div>
            <!-- Registry -->
            <div class="detail-item">
              <span
                class="cds--type-label-01"
                i18n
                >Registry</span
              >
              @if (info$ | async; as info) {
                <span class="cds--type-body-compact-01">{{ info.registry }}</span>
              } @else {
                @if (!errorMessage) {
                  <span class="cds--type-body-compact-01">
                    <cds-inline-loading></cds-inline-loading>
                    <span i18n>Loading...</span>
                  </span>
                } @else {
                  <span class="cds--type-body-compact-01 text-danger">
                    <cd-icon type="danger"></cd-icon>
                    <span i18n>Failed to fetch</span>
                  </span>
                }
              }
            </div>
          </div>
        </cds-tile>
      </div>
    </div>
    <div
      cdsRow
      class="cds-mb-5"
    >
      <div
        cdsCol
        [columnNumbers]="{ lg: 16 }"
      >
        @if (daemons$ | async; as daemons) {
          <cds-tile>
            <h4
              class="cds--type-heading-03 tile-title"
              i18n
            >
              Service instance versions
            </h4>
            <div>
              <cd-table
                #daemonsTable
                [data]="daemons"
                selectionType="single"
                [columns]="columns"
                columnMode="flex"
                [limit]="5"
              >
              </cd-table>
            </div>
          </cds-tile>
        }
      </div>
    </div>
    <div
      cdsRow
      class="cds-mb-5"
    >
      <div
        cdsCol
        [columnNumbers]="{ lg: 16 }"
      >
        <cds-tile>
          <h4
            class="cds--type-heading-03 tile-title"
            i18n
          >
            Cluster Logs
          </h4>
          <cd-logs
            [showAuditLogs]="false"
            [showDaemonLogs]="false"
            [showNavLinks]="false"
            [showFilterTools]="false"
            [showDownloadCopyButton]="false"
            defaultTab="cluster-logs"
          ></cd-logs>
        </cds-tile>
      </div>
    </div>
  }
</main>

<ng-template #loadingDetails>
  @if (!errorMessage) {
    <div class="w-50">
      <span
        class="text-info justify-content-center align-items-center"
        i18n
        >Fetching registry information
        <cds-inline-loading></cds-inline-loading>
      </span>
    </div>
  } @else {
    <ng-template [ngTemplateOutlet]="upgradeInfoError"></ng-template>
  }
</ng-template>

<ng-template #upgradeProgress>
  <div
    cdsStack
    orientation="vertical"
    gap="4"
    class="cds-mt-3"
  >
    <h5
      class="cds--type-heading-compact-01"
      i18n
    >
      <cds-inline-loading></cds-inline-loading>
      Upgrade in progress {{ executingTasks?.progress }}%
    </h5>
    <a
      class="cds--link cds-mb-3"
      routerLink="/upgrade/progress"
      i18n
      >View Details...</a
    >
  </div>
</ng-template>
