.tile-title {
  margin-bottom: var(--cds-spacing-06);
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: var(--cds-spacing-06);
  column-gap: var(--cds-spacing-07);
}

.detail-item {
  display: flex;
  flex-direction: column;
  gap: var(--cds-spacing-02);
  overflow-wrap: break-word;
}
