@use './src/styles/vendor/variables' as vv;

.info-card-content-clickable {
  border: 1px solid vv.$gray-200;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.25em;
  padding: 7px;
}

.info-card-content-clickable:hover {
  background-color: vv.$gray-200;
  border-color: vv.$gray-400;
}
