<cd-table
  [data]="devices"
  [columns]="columns"
  identifier="uid"
  [forceIdentifier]="true"
  [selectionType]="selectionType"
  columnMode="flex"
  (fetchData)="getDevices()"
  [searchField]="searchField"
  searchPlaceholder="Search physical disks"
  i18n-searchPlaceholder
  searchLabel="Search physical disks"
  i18n-searchLabel
  searchAriaLabel="Search physical disks"
  i18n-searchAriaLabel
  searchEmptyStateTitle="No matching physical disks"
  i18n-searchEmptyStateTitle
  searchEmptyStateMessage="No physical disks match the current search criteria."
  i18n-searchEmptyStateMessage
  (updateSelection)="updateSelection($event)"
  (columnFiltersChanged)="onColumnFiltersChanged($event)"
>
  <cd-table-actions
    class="table-actions"
    [permission]="permission"
    [selection]="selection"
    [tableActions]="tableActions"
  >
  </cd-table-actions>
</cd-table>
