@import 'chart-tooltip.scss';

$canvas-width: 100%;
$canvas-height: 100%;

.chart-container {
  position: unset;
  width: $canvas-width;
  height: $canvas-height;
  margin-left: auto;
  margin-right: auto;
}

.chart-canvas {
  position: unset;
  width: $canvas-width;
  height: $canvas-height;
  margin-left: auto;
  margin-right: auto;
  max-width: $canvas-width;
  max-height: $canvas-height;
}
