@use './src/styles/chart-tooltip';
@use './src/styles/defaults/bootstrap-defaults' as bd;

$canvas-width: 100%;
$canvas-height: 100%;

.chart-container {
  @each $key_name, $value in bd.$health-chart-colors {
    --color-#{$key_name}: #{$value};
  }

  height: $canvas-height;
  margin-left: auto;
  margin-right: auto;
  position: unset;
  width: $canvas-width;
}

.chart-canvas {
  height: $canvas-height;
  margin-left: auto;
  margin-right: auto;
  max-height: $canvas-height;
  max-width: $canvas-width;
  position: unset;
  width: $canvas-width;
}
