<div class="form-item">
  <legend
    *ngIf="props.label"
    class="form-group-header"
    i18n
  >
    {{ props.label }}
  </legend>
  <p
    *ngIf="props.description"
    i18n
  >
    {{ props.description }}
  </p>

  <div
    *ngFor="let field of field.fieldGroup; let i = index"
    class="form-item-append"
  >
    <formly-field
      class="flex-grow-1"
      [field]="field"
    ></formly-field>
    <div class="item-action-btn">
      <cds-icon-button
        kind="tertiary"
        size="sm"
        type="button"
        [description]="'Add ' + props.label"
        [attr.aria-label]="'Add ' + props.label"
        (click)="addWrapper()"
      >
        <svg
          cdsIcon="add"
          size="16"
          class="cds--btn__icon"
        ></svg>
      </cds-icon-button>
      <cds-icon-button
        kind="danger"
        size="sm"
        type="button"
        [description]="'Remove ' + props.label"
        [attr.aria-label]="'Remove ' + props.label"
        (click)="remove(i)"
        *ngIf="field.props.removable !== false"
      >
        <svg
          cdsIcon="trash-can"
          size="16"
          class="cds--btn__icon"
        ></svg>
      </cds-icon-button>
    </div>
  </div>
  <div *ngIf="field.fieldGroup.length === 0">
    <button
      cdsButton="tertiary"
      type="button"
      (click)="addWrapper()"
      i18n
    >
      Add {{ props.label }}
      <svg
        cdsIcon="add"
        size="16"
        class="cds--btn__icon"
      ></svg>
    </button>
  </div>

  <span
    class="invalid-feedback"
    role="alert"
    *ngIf="showError && formControl.errors"
  >
    <formly-validation-message [field]="field"></formly-validation-message>
  </span>
</div>
