<div [formGroup]="formGroup">
  @if (editing && currentCertificate?.has_certificate) {
    <div class="form-item">
      <span
        class="cds--label cds--type-heading-compact-01"
        i18n
        >Current Certificate</span
      >
      <div
        cdsRow
        [condensed]="true"
      >
        <div
          cdsCol
          [columnNumbers]="[
            ['sm', 4],
            ['md', 4]
          ]"
        >
          <div
            cdsStack="vertical"
            [gap]="1"
          >
            <span
              class="cds--type-label-01"
              i18n
              >Certificate</span
            >
            <span class="cds--type-body-compact-01">{{ currentCertificate.cert_name }}</span>
          </div>
        </div>
        <div
          cdsCol
          [columnNumbers]="[
            ['sm', 4],
            ['md', 4]
          ]"
        >
          <div
            cdsStack="vertical"
            [gap]="1"
          >
            <span
              class="cds--type-label-01"
              i18n
              >Valid Until</span
            >
            <span class="cds--type-body-compact-01">
              {{ currentCertificate.expiry_date | cdDate }} •
              {{ currentCertificate.days_to_expiration }}
              <span i18n>days left</span>
            </span>
          </div>
        </div>
      </div>
      <div
        cdsRow
        [condensed]="true"
        class="cds-mt-3"
      >
        <div
          cdsCol
          [columnNumbers]="[
            ['sm', 4],
            ['md', 4]
          ]"
        >
          <div
            cdsStack="vertical"
            [gap]="1"
          >
            <span
              class="cds--type-label-01"
              i18n
              >Status</span
            >
            <div
              cdsStack="horizontal"
              [gap]="2"
            >
              <cd-icon
                [type]="statusIconMap[currentCertificate.status] || statusIconMap['default']"
              ></cd-icon>
              @switch (currentCertificate.status) {
                @case ('valid') {
                  <span i18n>Valid</span>
                }
                @case ('expiring') {
                  <span i18n>Expiring soon</span>
                }
                @case ('expired') {
                  <span i18n>Expired</span>
                }
                @case ('not_configured') {
                  <span i18n>Not configured</span>
                }
                @case ('invalid') {
                  <span i18n>Invalid</span>
                }
                @default {
                  {{ currentCertificate.status }}
                }
              }
            </div>
          </div>
        </div>
        <div
          cdsCol
          [columnNumbers]="[
            ['sm', 4],
            ['md', 4]
          ]"
        >
          <div
            cdsStack="vertical"
            [gap]="1"
          >
            <span
              class="cds--type-label-01"
              i18n
              >Issuer</span
            >
            <span class="cds--type-body-compact-01">
              @if (currentCertificate.signed_by === 'cephadm') {
                <span i18n>Internal (Cephadm CA)</span>
              } @else {
                {{ currentCertificate.issuer || 'External' }}
              }
            </span>
          </div>
        </div>
      </div>
    </div>
  }

  <div class="form-item">
    <label
      class="cds--label cds--type-heading-compact-01"
      for="certificateType"
      i18n
      >Choose Certificate Authority</label
    >
    <cds-radio-group
      id="certificateType"
      formControlName="certificateType"
      orientation="horizontal"
      helperText="Select how certificates will be signed for this service. Choose internal to use the cluster's CA, or external to upload certificates signed by your organization."
      i18n-helperText
    >
      <cds-radio
        [value]="CertificateType.internal"
        (change)="onCertificateTypeChange(CertificateType.internal)"
        i18n
      >
        Internal
      </cds-radio>
      <cds-radio
        [value]="CertificateType.external"
        (change)="onCertificateTypeChange(CertificateType.external)"
        i18n
      >
        External
      </cds-radio>
    </cds-radio-group>
  </div>

  @if (showCertSourceChangeWarning) {
    <cd-alert-panel
      type="warning"
      spacingClass="mb-3"
      i18n
    >
      Changing the certificate source will redeploy the service daemons to apply the new certificate
      configuration.
    </cd-alert-panel>
  }

  @if (formGroup.controls.certificateType.value === CertificateType.internal) {
    <cd-alert-panel
      type="info"
      spacingClass="mb-3"
      i18n
    >
      Certificate will be generated automatically by Cephadm CA for internal certificate type.
    </cd-alert-panel>
    <div class="form-item">
      <cd-text-label-list
        formControlName="custom_sans"
        label="Custom SAN Entries"
        i18n-label
        helperText="Optional list of Subject Alternative Names (hostnames, IPs, or DNS names) to include in the auto-generated certificate."
        i18n-helperText
      >
      </cd-text-label-list>
    </div>
    @if (
      formGroup.controls.service_type?.value === 'rgw' &&
      formGroup.controls.virtual_host_enabled?.value
    ) {
      <div class="form-item">
        <cds-checkbox
          i18n-label
          formControlName="wildcard_enabled"
        >
          Include wildcard certificate for bucket subdomains
          <cd-help-text i18n>
            Add wildcard certificates (*.domain) to allow SSL for all bucket subdomains. Required
            for virtual-host style with SSL.
          </cd-help-text>
        </cds-checkbox>
      </div>
    }
  }
</div>
