<cds-modal size="md"
           [open]="open"
           [hasScrollingContent]="true"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>OSD Recovery Priority</h3>
    <cd-help-text [formAllFieldsRequired]="true"
                  i18n>
      All fields are required, except where marked optional.
    </cd-help-text>
  </cds-modal-header>

  <section cdsModalContent>
    <form #formDir="ngForm"
          class="form"
          [formGroup]="osdRecvSpeedForm"
          novalidate
          cdFormScope="osd">
      <div class="form-item">
        <cds-select label="Priority"
                    i18n-label
                    id="priority"
                    for="priority"
                    formControlName="priority"
                    cdRequiredField="Priority"
                    modal-primary-focus
                    [invalid]="osdRecvSpeedForm.showError('priority', formDir, 'required')"
                    [invalidText]="priorityError"
                    (valueChange)="onPriorityChange($event)">
          @for (priority of priorities; track priority.name) {
          <option [value]="priority.name">{{ priority.text }}</option>
          }
        </cds-select>
        <ng-template #priorityError>
          @if (osdRecvSpeedForm.showError('priority', formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
          }
        </ng-template>
      </div>

      <div class="form-item">
        <cds-checkbox formControlName="customizePriority"
                      id="customizePriority"
                      (checkedChange)="onCustomizePriorityChange($event)">
          <ng-container i18n>Customize priority values</ng-container>
        </cds-checkbox>
      </div>

      @for (attr of priorityAttrs | keyvalue; track attr.key) {
      <div class="form-item">
        <cds-number [id]="attr.key"
                    [name]="attr.key"
                    [label]="attr.value.text"
                    [formControlName]="attr.key"
                    [readonly]="!osdRecvSpeedForm.getValue('customizePriority')"
                    [required]="osdRecvSpeedForm.getValue('customizePriority')"
                    [helperText]="attr.value.desc || null"
                    [invalid]="osdRecvSpeedForm.getValue('customizePriority') && (osdRecvSpeedForm.showError(attr.key, formDir, 'required') || osdRecvSpeedForm.showError(attr.key, formDir, 'pattern') || osdRecvSpeedForm.showError(attr.key, formDir, 'max') || osdRecvSpeedForm.showError(attr.key, formDir, 'min'))"
                    [invalidText]="priorityValueError">
        </cds-number>
        <ng-template #priorityValueError>
          @if (osdRecvSpeedForm.showError(attr.key, formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required!</span>
          }
          @if (osdRecvSpeedForm.showError(attr.key, formDir, 'pattern')) {
          <span class="invalid-feedback"
                i18n>{{ attr.value.patternHelpText }}</span>
          }
          @if (osdRecvSpeedForm.showError(attr.key, formDir, 'max')) {
          <span class="invalid-feedback"
                i18n>The entered value is too high! It must not be greater than {{ attr.value.maxValue }}.</span>
          }
          @if (osdRecvSpeedForm.showError(attr.key, formDir, 'min')) {
          <span class="invalid-feedback"
                i18n>The entered value is too low! It must not be lower than {{ attr.value.minValue }}.</span>
          }
        </ng-template>
      </div>
      }
    </form>
  </section>

  <cd-form-button-panel (submitActionEvent)="submitAction()"
                        [form]="osdRecvSpeedForm"
                        [submitText]="actionLabels.UPDATE"
                        [modalForm]="true"
                        [showSubmit]="permissions.configOpt.update"></cd-form-button-panel>
</cds-modal>
