.list-group-item {
  border: 0;
  font-size: 14px;
}

a.dropdown-toggle {
  &::after {
    border: 0;
    content: '\f054';
    font-family: 'ForkAwesome';
    font-size: 1rem;
    margin-top: 0.15rem;
    transition: transform 0.3s ease-in-out;
  }

  &[aria-expanded='true']::after {
    transform: rotate(90deg);
  }
}
