// import default variables
@import '../defaults/bootstrap-defaults';

// override colors to match theme
$body-bg: $gray-700;
$body-bg-alt: #232627;
$body-color: #fff;
$light: #181a1b;
$dark: #fff;

$grays: (
  '100': $gray-900,
  '200': $gray-800,
  '300': $gray-700,
  '400': $gray-600,
  '500': $gray-500,
  '600': $gray-400,
  '700': $gray-300,
  '800': $gray-200,
  '900': $gray-100
);