<cd-select #cdSelect
           [data]="data"
           [options]="options"
           [messages]="messages"
           [selectionLimit]="selectionLimit"
           [customBadges]="customBadges"
           [customBadgeValidators]="customBadgeValidators"
           elemClass="me-2 select-menu-edit"
           (selection)="selection.emit($event)">
  <i [ngClass]="[icons.edit]"></i>
</cd-select>

<span *ngFor="let dataItem of data">
  <cds-tag class="tags-dark me-2">
    <span class="me-2">{{ dataItem }}</span>
    <a class="tags-remove"
       (click)="cdSelect.removeItem(dataItem)">
      <i [ngClass]="[icons.destroy]"
         aria-hidden="true"></i>
    </a>
  </cds-tag>
</span>
