.grafana {
  height: 600px;
  width: 100%;
  z-index: 0;
}

.grafana_one {
  height: 400px;
}

.grafana_two {
  height: 750px;
}

.grafana_three {
  height: 900px;
}

.timepicker {
  label {
    font-weight: 700;
  }
}

.dropdown-menu {
  left: auto;
  right: 20px;
  top: 20px;
}
