<!-- Embed dashboard -->
<cd-loading-panel *ngIf="loading && grafanaExist"
                  i18n>Loading panel data...</cd-loading-panel>

<cd-alert-panel type="info"
                *ngIf="!grafanaExist"
                i18n>Please consult the
  <a href="{{ docsUrl }}"
     target="_blank">documentation</a> on how to
  configure and enable the monitoring functionality.</cd-alert-panel>

<cd-alert-panel type="info"
                *ngIf="grafanaExist && !dashboardValidated"
                i18n>The requested Grafana Dashboard could not be displayed. Possible reasons for this are:

  <ul>
    <li>The requested Dashboard does not exist.</li>
    <li>Ceph Dashboard is not configured correctly.</li>
    <li>There is an issue with Grafana.</li>
  </ul>

  <p>Please refer to the
    <a href="{{ docsUrl }}"
       target="_blank">documentation</a> on how to add dashboards to Grafana or configure them correctly and check the Ceph Manager logs (or Ceph Dashboard logs, if the Dashboard is configured to log to its own log files) for possible errors.
  </p>

  <p *ngIf="validationResponse">Grafana returned a <strong>{{ validationResponse }}</strong> HTTP status code.</p>
</cd-alert-panel>

<ng-container *ngIf="grafanaExist && dashboardValidated">
  <div class="row">
    <div class="col-12">
      <div class="form-inline timepicker">
        <label for="timepicker"
               class="ml-1 my-1 col-form-label"
               i18n>Grafana Time Picker</label>

        <select id="timepicker"
                name="timepicker"
                class="custom-select my-1 mx-3"
                [(ngModel)]="time"
                (ngModelChange)="onTimepickerChange($event)">
          <option *ngFor="let key of grafanaTimes"
                  [ngValue]="key.value">{{ key.name }}
          </option>
        </select>

        <button class="btn btn-light my-1"
                i18n-title
                title="Reset Settings"
                (click)="reset()">
          <i [ngClass]="[icons.undo]"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="grafana-container">
        <iframe #iframe
                id="iframe"
                [src]="grafanaSrc"
                class="grafana"
                [ngClass]="panelStyle"
                frameborder="0"
                scrolling="no">
        </iframe>
      </div>
    </div>
  </div>
</ng-container>
