<div class="row">
  <div class="col-lg-4">
    <fieldset>
      <legend class="cd-header"
              i18n>Status</legend>
      <table class="cds--data-table--sort cds--data-table--no-border cds--data-table cds--data-table--md"
             *ngIf="mon_status">
        <tbody>
          <tr>
            <td i18n
                class="bold">Cluster ID</td>
            <td>{{ mon_status.monmap.fsid }}</td>
          </tr>
          <tr>
            <td i18n
                class="bold">monmap modified</td>
            <td>{{ mon_status.monmap.modified | relativeDate }}</td>
          </tr>
          <tr>
            <td i18n
                class="bold">monmap epoch</td>
            <td>{{ mon_status.monmap.epoch }}</td>
          </tr>
          <tr>
            <td i18n
                class="bold">quorum con</td>
            <td>{{ mon_status.features.quorum_con }}</td>
          </tr>
          <tr>
            <td i18n
                class="bold">quorum mon</td>
            <td>{{ mon_status.features.quorum_mon }}</td>
          </tr>
          <tr>
            <td i18n
                class="bold">required con</td>
            <td>{{ mon_status.features.required_con }}</td>
          </tr>
          <tr>
            <td i18n
                class="bold">required mon</td>
            <td>{{ mon_status.features.required_mon }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>

  <div class="col-lg-8">
    <legend i18n
            class="in-quorum cd-header">In Quorum</legend>
    <div>
    <cd-table [data]="inQuorum.data"
              [columns]="inQuorum.columns">
    </cd-table></div>

    <legend i18n
            class="in-quorum cd-header">Not In Quorum</legend>
    <div>
    <cd-table [data]="notInQuorum.data"
              (fetchData)="refresh()"
              [columns]="notInQuorum.columns">
    </cd-table></div>
  </div>
</div>
