<cd-table [data]="data"
          [columns]="columns"
          [hasDetails]="true"
          (updateSelection)="setExpandedRow($event)"
          [selectionType]="'single'">
  <ng-container cdTableDetail
                *ngIf="expandedRow">
    <ul ngbNav
        #nav="ngbNav"
        class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink
           i18n>Details</a>
        <ng-template ngbNavContent>
          <cd-table-key-value [data]="expandedRow"
                              [renderObjects]="true"
                              [hideKeys]="hideKeys"></cd-table-key-value>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>
  </ng-container>
</cd-table>
