<nav ngbNav
     #nav="ngbNav"
     class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink
       i18n>Gateways List</a>
    <ng-template ngbNavContent>
      <cd-table [data]="daemons"
                [columns]="columns"
                columnMode="flex"
                [hasDetails]="true"
                (setExpandedRow)="setExpandedRow($event)"
                (fetchData)="getDaemonList($event)">
        <cd-rgw-daemon-details cdTableDetail
                               [selection]="expandedRow">
        </cd-rgw-daemon-details>
      </cd-table>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem
                *ngIf="grafanaPermission.read">
    <a ngbNavLink
       i18n>Overall Performance</a>
    <ng-template ngbNavContent>
      <cd-grafana i18n-title
                  title="RGW overview"
                  [grafanaPath]="'rgw-overview?'"
                  [type]="'metrics'"
                  uid="WAkugZpiz"
                  grafanaStyle="two">
      </cd-grafana>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem
                *ngIf="grafanaPermission.read && isMultiSite">
    <a ngbNavLink
       i18n>Sync Performance</a>
    <ng-template ngbNavContent>
      <cd-grafana i18n-title
                  title="Radosgw sync overview"
                  [grafanaPath]="'radosgw-sync-overview?'"
                  [type]="'metrics'"
                  uid="rgw-sync-overview"
                  grafanaStyle="two">
      </cd-grafana>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav"></div>
