<cds-tabs type="contained" followFocus="true" [cacheActive]="false">
  <cds-tab
    heading="Gateways List"
    i18n-heading>
    <cd-table [data]="daemons"
              [columns]="columns"
              columnMode="flex"
              [hasDetails]="true"
              (setExpandedRow)="setExpandedRow($event)"
              (fetchData)="getDaemonList($event)">
      <cd-rgw-daemon-details *cdTableDetail
                             [selection]="expandedRow">
      </cd-rgw-daemon-details>
    </cd-table>
  </cds-tab>
  @if (grafanaPermission.read) {
    <cds-tab
      heading="Overall Performance"
      i18n-heading>
      <cd-grafana i18n-title
                  title="RGW overview"
                  [grafanaPath]="'ceph-object-overview?'"
                  [type]="'metrics'"
                  uid="WAkugZpiz"
                  grafanaStyle="three">
      </cd-grafana>
    </cds-tab>
  }
  @if (grafanaPermission.read && isMultiSite) {
    <cds-tab
      heading="Sync Performance"
      i18n-heading>
      <cd-grafana i18n-title
                  title="Radosgw sync overview"
                  [grafanaPath]="'ceph-object-sync-overview?'"
                  [type]="'metrics'"
                  uid="rgw-sync-overview"
                  grafanaStyle="two">
      </cd-grafana>
    </cds-tab>
  }
</cds-tabs>
