<legend>
  <cd-help-text>
    An NVMe namespace is a quantity of non-volatile storage that can be formatted into logical blocks and presented to a host as a standard block device.
  </cd-help-text>
</legend>
<cd-table [data]="namespaces"
          columnMode="flex"
          (fetchData)="listNamespaces()"
          [columns]="namespacesColumns"
          selectionType="single"
          (updateSelection)="updateSelection($event)">

  <div class="table-actions">
    <cd-table-actions [permission]="permission"
                      [selection]="selection"
                      class="btn-group"
                      [tableActions]="tableActions">
    </cd-table-actions>
  </div>
</cd-table>
