<form [formGroup]="userForm"
      novalidate>
  <div cdsGrid>
    <div cdsCol
         [columnNumbers]="{md: 4}">
      <div cdsRow
           class="form-heading">
        <h3>{{ action | titlecase }} {{ resource | upperFirst }}</h3>
        <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
      </div>
      <div cdsRow
           class="form-item">
        <cds-password-label
          [invalid]="userForm.hasError('oldpassword')"
          [invalidText]="this.INVALID_TEXTS[userForm.getErrorName('oldpassword', ['required', 'notmatch'])]">
          Old Password
          <input cdsPassword
                 formControlName="oldpassword"
                 autocomplete="oldpassword"
                 id="oldpassword"
                 autofocus>
        </cds-password-label>
      </div>
      <div cdsRow
           class="form-item">
        <cds-password-label
          [invalid]="userForm.hasError('newpassword')"
          [invalidText]="this.INVALID_TEXTS[userForm.getErrorName('newpassword', ['required', 'notmatch', 'passwordPolicy'])]"
          [helperText]="passwordPolicyHelpText">
          New Password
          <input cdsPassword
                 formControlName="newpassword"
                 autocomplete="newpassword"
                 id="newpassword">
        </cds-password-label>
      </div>
      <div cdsRow
           class="form-item">
        <cds-password-label
          [invalid]="userForm.hasError('confirmnewpassword')"
          [invalidText]="this.INVALID_TEXTS[userForm.getErrorName('confirmnewpassword', ['required', 'match'])]">
          Confirm New Password
          <input cdsPassword
                 formControlName="confirmnewpassword"
                 autocomplete="confirmnewpassword"
                 id="confirmnewpassword">
        </cds-password-label>
      </div>
      <div cdsRow>
        <cd-form-button-panel (submitActionEvent)="onSubmit()"
                              [form]="userForm"
                              [submitText]="(action | titlecase) + ' ' + (resource | upperFirst)"
                              wrappingClass="text-right form-button"></cd-form-button-panel>
      </div>
    </div>
  </div>
</form>
