<div
  cdsCol
  [columnNumbers]="{ md: 4 }"
>
  <ng-container *ngIf="formUISchema$ | async as formUISchema">
    <form
      #formDir="ngForm"
      [formGroup]="form"
      (ngSubmit)="submit(model, formUISchema.taskInfo)"
      novalidate
    >
      <div
        i18n="form title"
        class="form-header"
      >
        {{ formUISchema.title }}
      </div>
      <formly-form
        *ngIf="formUISchema.uiSchema"
        [form]="form"
        [fields]="formUISchema.controlSchema"
        [model]="model"
        [options]="{ formState: formUISchema.uiSchema }"
      ></formly-form>
      <cd-form-button-panel
        (submitActionEvent)="submit(model, formUISchema.taskInfo)"
        [form]="form"
        [submitText]="formUISchema.title"
        wrappingClass="text-right"
      ></cd-form-button-panel>
    </form>
  </ng-container>
</div>
