<div class="cd-col-form">
  @if (formUISchema$ | async; as formUISchema) {
    <div class="card pb-0">
      <div
        i18n="form title"
        class="card-header"
      >
        {{ formUISchema.title }}
      </div>
      @if (formUISchema.uiSchema) {
        <form
          [formGroup]="form"
          (ngSubmit)="submit(model, formUISchema.taskInfo)"
        >
          <div class="card-body position-relative">
            <formly-form
              [form]="form"
              [fields]="formUISchema.controlSchema"
              [model]="model"
              [options]="{ formState: formUISchema.uiSchema }"
            ></formly-form>
          </div>
          <div class="card-footer">
            <cd-form-button-panel
              (submitActionEvent)="submit(model, formUISchema.taskInfo)"
              [form]="formDir"
              [submitText]="submitAction"
              [disabled]="!form.valid"
              wrappingClass="text-right"
            ></cd-form-button-panel>
          </div>
        </form>
      }
    </div>
  }
</div>
