@use '@carbon/layout';

table {
  table-layout: fixed;
}

table td {
  word-wrap: break-word;
}

.table-scroller {
  height: 100%;
  max-height: 50vh;
  overflow: auto;
}

.spacing-left {
  margin-left: layout.$spacing-03;
}
