<ng-template #matcherTpl
             let-matcher="matcher"
             let-index="index">
  <div cdsRow
       class="form-item form-item-append">
    <div cdsCol
         [columnNumbers]="{ lg: 6, md: 6 }">
      <cds-text-label>
        <input
          cdsText
          type="text"
          class="input-field"
          [value]="matcher.name"
          readonly
        />
      </cds-text-label>
    </div>
    <div cdsCol
         [columnNumbers]="{ lg: 6, md: 6 }">
      <cds-text-label>
        <input
          cdsText
          type="text"
          class="input-field"
          [value]="matcher.value"
        />
      </cds-text-label>
    </div>

    <!-- Edit Button -->
    <div cdsCol
         [columnNumbers]="{ lg: 1, md: 1 }"
         class="spacing item-action-btn">
      <cds-icon-button
        kind="secondary"
        size="sm"
        id="matcher-edit-{{ index }}"
        (click)="showMatcherModal(index)"
        i18n-title
        title="Edit matcher"
      >
        <svg cdsIcon="edit"
             size="32"
             class="cds--btn__icon"></svg>
      </cds-icon-button>
    </div>

    <!-- Delete Button -->
    <div cdsCol
         [columnNumbers]="{ lg: 1, md: 1 }"
         class="spacing item-action-btn">
      <cds-icon-button
        kind="danger"
        size="sm"
        id="matcher-delete-{{ index }}"
        (click)="deleteMatcher(index)"
      >
        <svg cdsIcon="trash-can"
             size="32"
             class="cds--btn__icon"></svg>
      </cds-icon-button>
    </div>
  </div>
  <div cdsRow
       class="form-item form-item-append">
    <div cdsCol
         [columnNumbers]="{ lg: 12, md: 12 }">
    <cd-alert-panel
                    type="info"
                    i18n>
    <span *ngIf="matcher.isRegex">
       This field supports a regular expression check (~)
    </span>
    </cd-alert-panel>
    </div>
  </div>
</ng-template>

<div cdsCol
     [columnNumbers]="{ md: 4 }">
  <form
    name="form"
    #formDir="ngForm"
    [formGroup]="form"
    novalidate
  >
    <div class="form-header">
      {{ action | titlecase }} {{ resource | upperFirst }}
      <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
      <span i18n
            *ngIf="edit">
        <cd-help-text>
          Editing a silence will expire the old silence and recreate it as a new silence
        </cd-help-text>
      </span>
    </div>

    <div class="form-item form-item-append"
         cdsRow>
      <!-- Creator -->
      <div cdsCol>
        <cds-text-label
          labelInputID="Creator"
          i18n
          i18n-helperText
          [invalid]="form.controls.createdBy.invalid && form.controls.createdBy.dirty"
          [invalidText]="createdByError"
        >
          Creator
          <input
            cdsText
            type="text"
            id="createdBy"
            formControlName="createdBy"
            [invalid]="form.controls.createdBy.invalid && form.controls.createdBy.dirty"
          />
        </cds-text-label>

        <ng-template #createdByError>
          <span
            class="invalid-feedback"
            *ngIf="form.showError('createdBy', formDir, 'required')"
            i18n
          >
            This field is required.
          </span>
        </ng-template>
      </div>

      <!-- Comment -->
      <div cdsCol
           class="form-item">
        <cds-textarea-label
          for="comment"
          [invalid]="form.controls['comment'].invalid && form.controls['comment'].dirty"
          [invalidText]="commentError"
          i18n
        >
          Comment
          <textarea
            cdsTextArea
            id="comment"
            formControlName="comment"
            cols="200"
            rows="4"
            [invalid]="form.controls['comment'].invalid && form.controls['comment'].dirty"
          ></textarea>
        </cds-textarea-label>

        <ng-template #commentError>
          <span
            *ngIf="form.showError('comment', formDir, 'required')"
            class="invalid-feedback"
            i18n
          >
            This field is required.
          </span>
        </ng-template>
      </div>

      <!-- Start time -->
      <div cdsCol>
        <cd-date-time-picker
          [control]="form.get('startsAt')"
          name="Start date"
          helperText="If the start time lies in the past the creation time will be used"
          i18n-name
        ></cd-date-time-picker>
      </div>

      <!-- Duration -->
      <div class="form-item"
           cdsCol>
        <cds-text-label
          labelInputID="Duration"
          i18n
          [invalid]="form.controls.duration.invalid && form.controls.duration.dirty"
          [invalidText]="durationError"
        >
          Duration
          <input
            cdsText
            type="text"
            id="duration"
            formControlName="duration"
            (change)="onChange($event)"
            [invalid]="form.controls.duration.invalid && form.controls.duration.dirty"
          />
        </cds-text-label>

        <ng-template #durationError>
          <span
            class="invalid-feedback"
            *ngIf="form.showError('duration', formDir, 'required')"
            i18n
          >
            This field is required.
          </span>
        </ng-template>
      </div>

      <!-- End time -->
      <div cdsCol>
        <cd-date-time-picker
          [control]="form.get('endsAt')"
          name="End date"
          (ngModelChange)="onEndDateChanged($event)"
          i18n-name
        ></cd-date-time-picker>
      </div>
    </div>

    <fieldset>
      <legend class="required"
              i18n>Matchers</legend>

      <div class="form-item form-item-append"
           cdsRow>
        <div cdsCol>
          <div class="text-center">
            <cd-alert-panel *ngIf="matchers.length === 0"
                            type="warning"
                            i18n>
              A silence requires at least one matcher
            </cd-alert-panel>

            <span *ngFor="let matcher of matchers; let i = index">
              <ng-container
                *ngTemplateOutlet="matcherTpl; context: { index: i, matcher: matcher }"
              ></ng-container>
            </span>
          </div>
        </div>
      </div>

      <div cdsRow>
        <!-- Add Matcher Button -->
        <div cdsCol>
          <button
            cdsButton="tertiary"
            id="add-matcher"
            [ngClass]="{
              'btn-warning': formDir.submitted && matchers.length === 0
            }"
            (click)="showMatcherModal()"
          >
            <ng-container i18n>Add matcher</ng-container>
            <svg
              [cdsIcon]="icons.add"
              [size]="icons.size16"
              class="cds--btn__icon"
            ></svg>
          </button>
        </div>
      </div>
    </fieldset>

    <!-- Submit Button -->
    <cd-form-button-panel
      (submitActionEvent)="submit()"
      [form]="form"
      [submitText]="(action | titlecase) + ' ' + (resource | upperFirst)"
      wrappingClass="text-right">
    </cd-form-button-panel>
  </form>
</div>
