@if (type === ICON_TYPE.danger) {
    <svg class = "danger-icon"
         [cdsIcon]="ICONS.danger"
         [size]="size"></svg>
}

@if (type === ICON_TYPE.info) {
    <svg class = "info-icon"
         [cdsIcon]="ICONS.infoCircle"
         [size]="size"></svg>
}

@if (type === ICON_TYPE.success) {
    <svg class = "success-icon"
         [cdsIcon]="ICONS.success"
         [size]="size"></svg>
}

@if (type === ICON_TYPE.warning) {
    <svg class = "warning-icon"
         [cdsIcon]="ICONS.warning"
         [size]="size"></svg>
}
