@use '@carbon/styles/scss/theme';

.success-icon {
  color: theme.$support-success;
}

.danger-icon {
  color: theme.$support-error;
}

//@TODO: this naming needs to be changed
// Do this after converting Icons enum to const
.infoCircle-icon {
  color: theme.$support-info;
}

.warning-icon {
  color: theme.$support-caution-major;
}
