<cd-iscsi-tabs></cd-iscsi-tabs>

<cd-info-panel *ngIf="available === false"
               title="iSCSI Targets not available"
               i18n-title>
  <ng-container i18n>Please consult the <a href="{{docsUrl}}"
       target="_blank">documentation</a>
    on how to configure and enable the iSCSI Targets management functionality.</ng-container>
</cd-info-panel>

<cd-table #table
          *ngIf="available === true"
          [data]="targets"
          columnMode="flex"
          [columns]="columns"
          identifier="target_iqn"
          forceIdentifier="true"
          selectionType="single"
          (updateSelection)="updateSelection($event)">
  <!-- <tabset cdTableDetail
          *ngIf="selection.hasSingleSelection">
    <tab i18n-heading
         heading="Details"> -->
      <cd-iscsi-target-details cdTableDetail
      *ngIf="selection.hasSingleSelection" [selection]="selection"></cd-iscsi-target-details>
    <!-- </tab>

    <tab i18n-heading
         *ngIf="permissions?.grafana?.read"
         heading="Performance Details">
      <cd-grafana [grafanaPath]="'8ypfkWpik/ceph-pool-detail?var-pool_name=' + selection.first()['pool_name']"
                  grafanaStyle="one">
      </cd-grafana>
    </tab>
  </tabset> -->
</cd-table>
