<cds-modal size="sm"
           [open]="open"
           [hasScrollingContent]="false"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>{{ realmData.action | titlecase }} {{ realmData.resource | upperFirst }}</h3>
  </cds-modal-header>

  <form #frm="ngForm"
        #formDir="ngForm"
        [formGroup]="multisiteRealmForm"
        novalidate>
  <div cdsModalContent>
    <div cdsCol
    [columnNumbers]="{md: 4}">
              <div class="form-item">
                <cds-text-label for="realmName"
                                cdRequiredField="Realm Name"
                                [invalid]="!multisiteRealmForm.controls.realmName.valid && multisiteRealmForm.controls.realmName.dirty"
                                [invalidText]="realmNameError"
                                i18n>Username
                  <input cdsText
                         placeholder="Realm name..."
                         i18n-placeholder
                         id="realmName"
                         name="realmName"
                         formControlName="realmName"
                         [invalid]="!multisiteRealmForm.controls.realmName.valid && multisiteRealmForm.controls.realmName.dirty"
                         autofocus>
                </cds-text-label>
                <ng-template #realmNameError>
                  <span *ngIf="multisiteRealmForm.showError('realmName', formDir, 'required')">
                    <ng-container i18n>
                     This field is required.
                    </ng-container>
                  </span>
                  <span *ngIf="multisiteRealmForm.showError('realmName', formDir, 'uniqueName')">
                    <ng-container i18n>
                      The chosen realm name is already in use.
                    </ng-container>
                  </span>
                </ng-template>
              </div>
              <div class="bx--form-item inline-helper">
        <cds-checkbox 
                      id="default_realm"
                   name="default_realm"
                   formControlName="default_realm"
                   [attr.disabled]="realmData.action === 'edit' ? true: null"
                      i18n>Default
        </cds-checkbox>
        <cd-helper *ngIf="realmData.action === 'edit' && realmData.info.data.is_default" class="helper-text">
          <span i18n>You cannot unset the default flag.</span>
        </cd-helper>
        <cd-helper *ngIf="realmData.action === 'edit' && !realmData.info.data.is_default" class="helper-text">
          <span i18n>Please consult the&nbsp;<a href="{{ docUrl }}">documentation</a>&nbsp;to follow the failover mechanism</span>
        </cd-helper>
        <cd-helper *ngIf="defaultRealmDisabled && realmData.action === 'create'" class="helper-text" >
          <span i18n>Default realm already exists.</span>
        </cd-helper>
      </div>
    </div>
  </div>
  <cds-modal-footer>
    <button cdsButton="secondary"
    name="skip-cluster-selection"
    aria-label="create"
    (click)="closeModal()"
    i18n>Cancel</button>
    <button cdsButton="primary"
    name="skip-cluster-selection"
    (click)="submit()"
    i18n>{{ realmData.action | titlecase }} {{ realmData.resource | upperFirst }}</button>
  </cds-modal-footer>
</form>
</cds-modal>