.about-container {
  background-color: #374249;
  background-image: url('assets/ceph_background.gif');
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 1px 1px #374249;
}
.product-versions {
  margin-top: 30px;
}
.product-versions strong {
  margin-right: 10px;
}
.modal-header {
  border-bottom: none;
}
.modal-header .close {
  color: #fff;
  font-size: 2em;
}
.modal-body {
  padding-left: 80px;
  padding-right: 80px;
}
.ceph-logo {
  width: 25%;
  margin-bottom: 30px;
  object-position: -20px 0;
}
.modal-footer {
  display: block;
  border-top: none;
  padding: 15px 80px 35px 80px;
}
