@use './src/styles/defaults/bootstrap-defaults' as bd;

:host {
  bottom: 10px;
  max-width: 90vw;
  position: fixed;
  right: -350px;
  top: bd.$navbar-height + 10px;

  transition: all 0.6s;

  width: 350px;

  z-index: 9;
}

:host.active {
  right: 20px;
}

.card {
  height: 100%;
}

ngx-simplebar {
  height: calc(100% - 42.2px);
}

.separator {
  background-color: bd.$color-popover-seperator-bg;
  color: bd.$color-popover-seperator-text;
  font-size: 1rem;
  padding: 5px 12px;
}

.btn-link .fa-trash-o {
  color: bd.$color-black;
}

table {
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
