<div cdsCol>
  <div cdsRow
       class="form-item-append">
    <cds-text-label>{{name}}
      <cds-date-picker  i18n-label
                        [placeholder]="placeHolder"
                        formControlname="expiresAt"
                        dateFormat="Y/m/d"
                        [value]="date"
                        (valueChange)="onModelChange($event)"
                        [helperText]="helperText"
                        [disabled]="disabled"
                        cdsTheme="theme"></cds-date-picker>
    </cds-text-label>
  <cds-text-label *ngIf="hasTime">Select a time
  <cds-timepicker (valueChange)="onModelChange($event)"
                  [(ngModel)]="time"
                  [disabled]="disabled"
                  pattern="(1[012]|[0-9]):[0-5][0-9]"
                  *ngIf="hasTime">
  <cds-timepicker-select [(ngModel)]="ampm"
                         [disabled]="disabled"
                         (valueChange)="onModelChange($event)">
    <option selected
            value="AM">AM</option>
    <option value="PM">PM</option>
  </cds-timepicker-select>
</cds-timepicker>
</cds-text-label>
</div>
</div>
