<ng-container *ngIf="orchStatus?.available">
<cd-table [autoReload]="false"
          [data]="data1"
          columnMode="flex"
          [columns]="columns"
          selectionType="single"
          [hasDetails]="true"
          (setExpandedRow)="setExpandedRow($event)"
          (updateSelection)="updateSelection($event)">
<cd-table-actions class="table-actions"
                  [selection]="selection"
                  [permission]="permission"
                  [tableActions]="tableActions"></cd-table-actions>
<cd-nfs-cluster-details  *cdTableDetail
                         [selection]="expandedRow"></cd-nfs-cluster-details>
</cd-table>
</ng-container>
<ng-template #test
             let-row="data.row">
  <span *ngFor="let host of row.host">
    <cds-tag size="md">{{host}}</cds-tag>
  </span>
</ng-template>
<ng-template
  #ipPorts
  let-row="data.row"
>
<span *ngFor="let port of row.ip_port">
  <cds-tag size="md">
    {{ port}}
  </cds-tag>
</span>
</ng-template>
