@if (orchStatus?.available && clusters$ | async; as clusters) {
  <section class="cds-mt-5">
    <h2
      class="cds--type-heading-03"
      i18n
    >
      Service clusters
    </h2>
    <p
      class="cds--type-body-compact-01"
      i18n
    >
      Service clusters host shares and manage client access.
    </p>
    <cd-table
      [autoReload]="true"
      [data]="clusters"
      columnMode="flex"
      [columns]="columns"
      selectionType="single"
      emptyStateTitle="No service clusters created."
      i18n-emptyStateTitle
      emptyStateMessage="Create a service cluster to host and manage your file shares."
      i18n-emptyStateMessage
      (fetchData)="loadData()"
      (updateSelection)="updateSelection($event)"
    >
    </cd-table>
  </section>
}
