@use '../../../../styles/vendor/variables' as vv;

.health-indicators {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.indicator {
  text-align: center;
}

.status {
  font-weight: bold;
  margin-bottom: 5px;
}

.healthy {
  color: vv.$health-color-healthy;
}

.warning {
  color: vv.$health-color-warning;
}

.error {
  color: vv.$health-color-error;
}

.value {
  font-size: 6.5em;
}

.fa-wrench {
  color: vv.$info;
  font-size: 6em;
  margin-top: 200px;
}
