/* You can add global styles to this file, and also import other style files */

@import 'defaults';
$fa-font-path: '../node_modules/fork-awesome/fonts';
@import '../node_modules/fork-awesome/scss/fork-awesome';
$font_family_1: 'ForkAwesome';
@import 'app/ceph/dashboard/info-card/info-card-popover.scss';

/* Basics */
html {
  background-color: $color-app-bg;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
a {
  color: $color-links;
  cursor: pointer;
}
a:hover,
a:focus {
  color: $color-links-focus;
}
h1 {
  letter-spacing: -1px;
  font-size: 2em;
}
h2 {
  letter-spacing: -1px;
  font-size: 1.833em;
}
h3 {
  display: block;
  font-size: 1.583em;
  font-weight: 400;
}
h4 {
  font-size: 1.5em;
  line-height: normal;
}
option {
  font-weight: normal;
  font-style: normal;
}
/* For awesome-bootstrap-checkbox */
.checkbox input[type='checkbox']:checked + label:after {
  font-family: $font_family_1;
}
/*******/
.full-height {
  height: 100%;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.margin-right-md {
  margin-right: 15px;
}
.no-border {
  border: 0px;
  box-shadow: 0px 0px 0px !important;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.text-right {
  text-align: right;
}
.text-monospace {
  font-family: monospace;
}

/* Buttons */
.btn {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0;
    }
  }
}
.btn-primary {
  color: $color-button-text;
  background-color: $color-accent;
  border-color: $color-accent;
  border-radius: $button-radius;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: $color-button-text;
  background-color: lighten($color-accent, 10);
  border-color: lighten($color-accent, 10);
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;

  &:hover,
  &:focus {
    background-color: lighten($color-accent, 10);
    border-color: lighten($color-accent, 10);
  }
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $color-accent;
  border-color: $color-accent;
}
.btn-primary .badge {
  color: $color-primary;
  background-color: $color-button-badge;
}
.btn-primary .caret {
  color: $color-button-caret;
}
.btn-default {
  border-radius: $button-radius;
}
.form-group .btn-default {
  border-radius: 4px;
}
.btn-group > .btn > i.fa,
button.btn.btn-label > i.fa {
  /** Add space between icon and text */
  padding-right: 5px;
}

/* Dropdown */
.dropdown-menu {
  min-width: 50px;
  z-index: 999999;
}
.dropdown-menu > li > a {
  color: $color-dropdown-menu;
  cursor: pointer;
}
.dropdown-menu > li > a > i.fa {
  /** Add space between icon and text */
  padding-right: 5px;
}
.dropdown-menu > .active > a {
  color: $color-dropdown-active-text;
  background-color: $color-dropdown-active-bg;

  &,
  &:hover,
  &:focus {
    background-color: darken($color-dropdown-active-bg, 10);
  }
}
.dataTables_wrapper .dropdown-menu > li.divider {
  cursor: auto;
}

/* Grid */
.container,
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.row {
  margin-left: -30px;
  margin-right: -30px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 30px;
  padding-right: 30px;
}
/* Caret */
.caret {
  color: $color-caret-text;
}
/* Progressbar */
.progress-bar {
  background-image: none !important;
}
.progress-bar-info {
  background-color: $color-progress-bar-info-bg;
}
.progress-bar-freespace {
  background-color: $color-progress-bar-freespace-bg;
}
.oaprogress {
  position: relative;
  margin-bottom: 0;
}
.oaprogress div.progress-bar {
  position: static;
}
.oaprogress span {
  position: absolute;
  display: block;
  width: 100%;
  color: $color-oaprogress-text;
  font-weight: normal;
}
tags-input .tags {
  border-radius: 4px;
  border: 1px solid $color-tags-border;
  box-shadow: inset 0 1px 1px $color-tags-box-shadow;
}
uib-accordion .panel-title,
.panel .accordion-title {
  font-size: 14px !important;
}
.panel-body h2:first-child {
  margin-top: 0;
}
.pull-left {
  float: left;
}
.disabled {
  pointer-events: none;
}
.clickable {
  cursor: pointer;
}
.has-error .has-error-btn,
.has-error .has-error-btn:disabled:hover {
  background-color: $color-error-btn-bg;
  border-color: $color-error-btn-border;
}
/* If javascript is disabled. */
.noscript {
  padding-top: 5em;
}
.noscript p {
  color: $color-noscript-text;
}
.required {
  color: $color-required-text;
}
/* Forms */
.form-group > .control-label > span.required {
  @extend .fa;
  @extend .fa-asterisk;
  @extend .required;
  font-size: 6px;
  padding-left: 4px;
  vertical-align: text-top;
}
.form-control {
  display: table-cell;

  &:focus {
    border-color: rgba($color-primary, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px 2px rgba($color-primary, 0.5);
  }
}
/* Panel */
.panel-footer button.btn:not(:first-child) {
  margin-left: 5px;
}
/* Modal dialog */
.modal-footer button.btn:not(:first-child) {
  margin-left: 5px;
}
.margin-right-sm {
  margin-right: 10px;
}
.nav-tabs {
  margin-bottom: 15px;
}
/* Icons */
.ceph-icon {
  background: url('assets/Ceph_Logo_Stacked_RGB_120411_fa_228x228.png');
}
.prometheus-icon {
  background: url('assets/prometheus_logo.png');
}
.custom-icon {
  padding: 10px;
  margin-right: 1em;
  background-clip: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Block UI */
.block-ui-wrapper {
  background: $color-transparent-black !important;
}
