/* You can add global styles to this file, and also import other style files */
@use './src/styles/defaults' as *;
@use '@carbon/colors';

@import './src/styles/carbon-defaults.scss';

// Fork-Awesome
$fa-font-path: '~fork-awesome/fonts';
$font-family-icon: 'ForkAwesome';

$badge-font-size: 1rem;
$form-feedback-font-size: 100%;
$popover-max-width: 350px;
$popover-font-size: 1rem;

// https://getbootstrap.com/docs/4.5/layout/grid/#variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1450px
);

@import 'bootstrap/scss/bootstrap';
@import 'fork-awesome/scss/fork-awesome';
@import 'app/ceph/dashboard/info-card/info-card-popover.scss';
@import './src/styles/bootstrap-extends';
@import './src/styles/ceph-custom/basics';
@import './src/styles/ceph-custom/buttons';
@import './src/styles/ceph-custom/dropdown';
@import './src/styles/ceph-custom/forms';
@import './src/styles/ceph-custom/icons';
@import './src/styles/ceph-custom/navs';
@import './src/styles/ceph-custom/toast';
@import './src/styles/ceph-custom/spacings';

/* If javascript is disabled. */
.noscript {
  padding-top: 5em;
}

// TODO: Replace (cd-)col-form-label with something more generic.
@include media-breakpoint-up(sm) {
  .col-form-label {
    text-align: right;
  }
}

.col-form-label {
  font-weight: 700;
}

// Custom badges.
.badge-background-gray,
.badge-hdd {
  background-color: $gray-600;
  color: $white;
}

.tag-background-primary,
.tag-ssd {
  background-color: $primary;
  color: colors.$white;
}

.tag-tab {
  background-color: $gray-200;
  color: $gray-700;
}

.tag-cd-label-green {
  background-color: $green-300;
  color: $white;
}

.tag-cd-label-cyan {
  background-color: $cyan-300;
  color: $white;
}

.tag-cd-label-purple {
  background-color: $purple-300;
  color: $white;
}

.tag-cd-label-light-blue {
  background-color: $light-blue-300;
  color: $white;
}

.tag-cd-label-gold {
  background-color: $gold-300;
  color: $white;
}

.tag-cd-label-light-green {
  background-color: $light-green-300;
  color: $white;
  font-weight: bolder;
}

// Other
tag-input .tag {
  border: 1px solid $gray-400;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba($black, 0.09);
}

.card-header {
  font-size: 1.3em;
}

.card-body h2:first-child {
  margin-top: 0;
}

.disabled {
  pointer-events: none;
}

.clickable,
a {
  cursor: pointer;
  text-decoration: none;
}

a.nav-link,
a.btn-light {
  text-decoration: none;
}

// Overrides the tags to rounded-pill
.tag {
  @extend .tag, .mb-1;
}

formly-form {
  .ng-touched.ng-invalid {
    @extend .is-invalid;
  }

  .ng-touched.ng-valid {
    @extend .is-valid;
  }

  .form-label {
    @extend .cd-col-form-label;

    text-align: start;
    white-space: nowrap;
    width: fit-content;

    span[aria-hidden='true'] {
      color: $danger;
    }
  }
}

// Overriding legend css due to change in bootstrap v5 and setting it to none;
legend {
  float: none;
  margin-top: 1rem;
}

// Fix for overridden browser autofill CSS.
// This needs to be removed when using Carbon forms.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 0 $white inset;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}
