overrides:
  ceph:
    conf:
      client:
        debug ms: 1
        debug client: 20
      mds:
        debug ms: 1
        debug mds: 20
tasks:
- install:
- ceph:
    fs: btrfs
- ceph-fuse:
- workunit:
    clients:
      client.0:
        - libcephfs/test.sh
