<cd-modal (hide)="cancel()">
  <ng-container class="modal-title">
    <span class="text-warning"
          *ngIf="warning">
      <i class="fa fa-exclamation-triangle fa-1x"></i>
    </span>{{ titleText }}</ng-container>
  <ng-container class="modal-content">
    <form name="confirmationForm"
          #formDir="ngForm"
          [formGroup]="confirmationForm"
          novalidate>
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="bodyTpl; context: bodyContext"></ng-container>
        <p *ngIf="description">
          {{description}}
        </p>
      </div>
      <div class="modal-footer">
        <cd-form-button-panel (submitActionEvent)="onSubmit(confirmationForm.value)"
                              (backActionEvent)="boundCancel()"
                              [form]="confirmationForm"
                              [submitText]="buttonText"
                              [showCancel]="showCancel"
                              [showSubmit]="showSubmit"></cd-form-button-panel>
      </div>
    </form>
  </ng-container>
</cd-modal>
