@if (subvolumeGroup$ | async; as subvolumeGroup) {
  @if (subvolumeGroup) {
    <cd-table
      [data]="subvolumeGroup"
      columnMode="flex"
      [columns]="columns"
      selectionType="single"
      [hasDetails]="false"
      (fetchData)="fetchData()"
      (updateSelection)="updateSelection($event)"
    >
      <div class="table-actions">
        <cd-table-actions
          [permission]="permissions.cephfs"
          [selection]="selection"
          class="btn-group"
          id="cephfs-subvolumegropup-actions"
          [tableActions]="tableActions"
        >
        </cd-table-actions>
      </div>
    </cd-table>
  }
}

<ng-template
  #quotaUsageTpl
  let-row="data.row"
>
  @if (row.info?.bytes_pcent && row.info.bytes_pcent !== 'undefined') {
    <cd-usage-bar
      [total]="row.info.bytes_quota"
      [used]="row.info.bytes_used"
      [title]="row.name"
      decimals="2"
    ></cd-usage-bar>
  } @else {
    @if (row.info?.bytes_pcent === 'undefined') {
      <span
        ngbTooltip="Quota limit is not set"
        i18n-ngbTooltip
      >
        {{ row.info.bytes_used | dimlessBinary }}</span
      >
    } @else {
      -
    }
  }
</ng-template>

<ng-template
  #nameTpl
  let-row="data.row"
>
  <span class="fw-bold">{{ row.name }}</span>

  @if (row?.info?.state === unmanagedState) {
    <cd-label
      [value]="unmanagedState"
      [tooltipText]="unmanagedHint"
    ></cd-label>
  }
</ng-template>

<ng-template
  #typeTpl
  let-value="data.value"
>
  <cd-label [value]="value"></cd-label>
</ng-template>

<ng-template
  #modeToHumanReadableTpl
  let-value="data.value"
>
  @for (result of value | octalToHumanReadable; track result) {
    <cds-tag
      [class]="result.class"
      [ngbTooltip]="result.toolTip"
    >
      {{ result.content }}
    </cds-tag>
  }
</ng-template>
