[Unit]
Description=Ceph disk activation: %f

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/sbin/ceph-disk --verbose --log-stdout activate --mark-init systemd %f
TimeoutSec=300
RestartSec=10
Restart=on-failure
