[Unit]
Description=Ceph disk dmcrypt activation: %f

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ceph-disk --verbose --log-stdout activate --dmcrypt --mark-init systemd %f
TimeoutSec=0
