[Unit]
Description=Ceph disk journal activation: %f

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/sbin/ceph-disk --verbose --log-stdout activate-journal --mark-init systemd %f
TimeoutSec=300
Restart=on-failure
RestartSec=30
