[Unit]
Description=Ceph object storage daemon

[Service]
EnvironmentFile=-/etc/sysconfig/ceph
Environment=CLUSTER=ceph
ExecStartPre=/usr/bin/bash -c ulimit -n 32768
ExecStart=/usr/bin/ceph-osd -f --cluster ${CLUSTER} --id %i


[Install]
WantedBy=multi-user.target
