[Unit]
Description=Ceph Volume activation: %i
After=local-fs.target
Wants=local-fs.target

[Service]
Type=oneshot

EnvironmentFile=-/etc/default/ceph
Environment=CLUSTER=ceph

ExecStart=/usr/sbin/ceph-volume-systemd --cluster ${CLUSTER} --osd-id %i activate
ExecStart=/usr/sbin/ceph-volume-systemd --cluster ${CLUSTER} --osd-id %i deactivate

[Install]
WantedBy=multi-user.target
