[Unit]
Description=ceph target allowing to start/stop all ceph-radosgw@.service instances at once
PartOf=ceph.target
[Install]
WantedBy=multi-user.target ceph.target
