[Unit]
Description=Ceph disk activation: %f

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ceph-disk --verbose --log-stdout activate --mark-init systemd %f
TimeoutSec=0
