<div class="btn-group">
  <ng-container *ngIf="getCurrentButton() as action">
    <button type="button"
            class="btn btn-{{btnColor}}"
            [ngClass]="{'disabled': disableSelectionAction(action)}"
            (click)="useClickAction(action)"
            [routerLink]="useRouterLink(action)"
            [preserveFragment]="action.preserveFragment ? '' : null">

      <i [ngClass]="[action.icon]"></i>
      <span>{{ action.name }}</span>
    </button>
  </ng-container>
  <div class="btn-group"
       ngbDropdown
       placement="bottom-right"
       role="group"
       aria-label="Button group with nested dropdown">
    <button class="btn btn-{{btnColor}} dropdown-toggle-split"
            *ngIf="showDropDownActions()"
            ngbDropdownToggle>
      <ng-container *ngIf="dropDownOnly">{{ dropDownOnly }} </ng-container>
      <span *ngIf="!dropDownOnly"
            class="sr-only"></span>
    </button>
    <div class="dropdown-menu"
         ngbDropdownMenu>
      <ng-container *ngFor="let action of dropDownActions">
        <button ngbDropdownItem
                class="{{ toClassName(action['name']) }}"
                (click)="useClickAction(action)"
                [routerLink]="useRouterLink(action)"
                [preserveFragment]="action.preserveFragment ? '' : null"
                [disabled]="disableSelectionAction(action)">
          <i [ngClass]="[action.icon]"></i>
          <span>{{ action.name }}</span>
        </button>
      </ng-container>
    </div>
  </div>
</div>
