@use './src/styles/vendor/variables' as vv;

button.disabled {
  color: vv.$gray-500;
  cursor: default !important;
  pointer-events: auto;
}

button.dropdown-item:hover {
  background-color: vv.$gray-300;
}

.action-icon {
  padding-right: 1.5rem;
}

.action-label {
  font-weight: bold;
}

::ng-deep .cds--toolbar-content .cds--overflow-menu {
  inline-size: auto !important;
}

.primary-dropdown-btn {
  align-items: center;
  background-color: vv.$primary;
  border: 0;
  display: flex;
  fill: vv.$white;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}
