<cds-modal [open]="open"
           size="md">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>{{ action | titlecase }} pipe</h3>
    <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
  </cds-modal-header>
  <form name="pipeForm"
        #frm="ngForm"
        [formGroup]="pipeForm"
        novalidate>
    <div cdsModalContent>
      <!-- Pipe Name -->
      <div class="form-item">
        <cds-text-label for="pipe_id"
                        [invalid]="!pipeForm.controls.pipe_id.valid && pipeForm.controls.pipe_id.dirty"
                        [invalidText]="pipeIdError">
          <ng-container i18n>Name</ng-container>
          <input cdsText
                 type="text"
                 id="pipe_id"
                 formControlName="pipe_id"
                 autofocus
                 [invalid]="!pipeForm.controls.pipe_id.valid && pipeForm.controls.pipe_id.dirty"
                 [readonly]="editing">
        </cds-text-label>
        <ng-template #pipeIdError>
          @if (pipeForm.showError('pipe_id', formDir, 'required')) {
          <span class="invalid-feedback">
            <ng-container i18n> This field is required. </ng-container>
          </span>
          }
        </ng-template>
      </div>
      <!-- Source and Destination Zones -->
      <div class="form-item">
        <ng-container *ngTemplateOutlet="zoneMultiSelect;context: { formControl: 'source_zones', zone: sourceZones, name: 'Source zone' }"></ng-container>
      </div>
      <div class="form-item">
        <ng-container *ngTemplateOutlet="zoneMultiSelect;context: { formControl: 'destination_zones', zone: destZones, name: 'Destination zone' }"></ng-container>
      </div>
      <!-- Bucket Name -->
      @if (pipeForm.controls.bucket_name.value) {
      <div class="form-item">
        <cds-text-label for="bucket_name"
                        cdOptionalField="Bucket name">
          <ng-container i18n>Bucket name</ng-container>
          <input cdsText
                 type="text"
                 id="bucket_name"
                 formControlName="bucket_name"
                 autofocus
                 [readonly]="true">
        </cds-text-label>
      </div>
      }
      <!-- Source Bucket -->
      <div class="form-item">
        <cds-text-label for="source_bucket"
                        [helperText]="allBucketSelectedHelpText"
                        i18n-helperText
                        cdOptionalField="Source bucket">
          <ng-container i18n>Source bucket</ng-container>
          <input cdsText
                 type="text"
                 id="source_bucket"
                 formControlName="source_bucket">
        </cds-text-label>
      </div>
      <!-- Destination Bucket -->
      <div class="form-item">
        <cds-text-label for="destination_bucket"
                        [helperText]="allBucketSelectedHelpText"
                        i18n-helperText
                        cdOptionalField="Destination bucket">
          <ng-container i18n>Destination bucket</ng-container>
          <input cdsText
                 type="text"
                 id="destination_bucket"
                 formControlName="destination_bucket">
        </cds-text-label>
      </div>
    </div>
    <cd-form-button-panel (submitActionEvent)="submit()"
                          [form]="pipeForm"
                          [modalForm]="true"
                          [submitText]="(action | titlecase) + ' ' + 'Pipe'">
    </cd-form-button-panel>
  </form>
</cds-modal>

<ng-template #zoneMultiSelect
             let-name="name"
             let-zone="zone"
             let-formControl="formControl"
             [formGroup]="pipeForm">
  <cds-combo-box [label]="name"
                 type="multi"
                 selectionFeedback="top-after-reopen"
                 [for]="formControl"
                 [formControlName]="formControl"
                 [helperText]="'Pipe need to be associated with atleast one zone'"
                 i18n-helperText
                 [items]="zone"
                 itemValueKey="content"
                 [id]="formControl"
                 [invalid]="pipeForm.controls[formControl].invalid && pipeForm.controls[formControl].dirty"
                 [invalidText]="'Zone selection is required!'"
                 i18n>
    <cds-dropdown-list></cds-dropdown-list>
  </cds-combo-box>
</ng-template>
