backports.functools-lru-cache; python_version<'3.3'
bcrypt
CherryPy
enum34; python_version<'3.4'
more-itertools
pluggy
PyJWT
pyopenssl
python-saml; python_version<'3'
python3-saml; python_version>='3'
requests
Routes
six
