bcrypt
CherryPy
more-itertools
pyopenssl
requests
Routes
-e ../../../python-common
prettytable
pytest==7.0.1
pyyaml==6.0.2
natsort
setuptools
jsonpatch
grpcio==1.76.0
grpcio-tools==1.76.0
jmespath
xmltodict
