bcrypt
CherryPy
more-itertools
pyopenssl
requests
Routes
-e ../../../python-common
prettytable
pytest==7.0.1; python_version < "3.13"
pytest>=8.4; python_version >= "3.13"
pyyaml
natsort
setuptools
jsonpatch
grpcio
grpcio-tools
jmespath
xmltodict
