// Angular2-Tree Component
::ng-deep tree-root {
  tree-viewport {
    padding-bottom: 1.5em;
  }
  .tree-children {
    overflow: inherit;
  }
}

.quota-origin {
  &:hover {
    color: #212121;
  }
  cursor: pointer;
  color: #2b99a8;
}
