@import 'defaults.scss';

// Angular2-Tree Component
::ng-deep tree-root {
  .tree-children {
    overflow: inherit;
  }
}

.quota-origin {
  color: $color-brand-teal;
  cursor: pointer;

  &:hover {
    color: $color-gray13;
  }
}
