@use './src/styles/vendor/variables' as vv;

.tree-container {
  height: calc(100vh - vv.$tree-container-height);
  overflow-y: auto;
}

.align-inline-btns {
  margin-left: 5em;
}

.btn:disabled {
  pointer-events: none;
}

::ng-deep .cds--tree-node__label__details {
  padding-block: 0.5rem;
  width: 100%;
}

::ng-deep cd-table-actions.btn-group.multisite-actions cds-overflow-menu .cds--btn--icon-only {
  position: relative;
  top: 4px;
  width: auto;
}
