@import 'defaults.scss';

.modal-header {
  @include hf;
  border-radius: 5px 5px 0 0;
}

::ng-deep .modal-footer {
  @include hf;
  border-radius: 0 0 5px 5px;
}

::ng-deep .modal-body {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}

button.close {
  outline: none;
}
