@use './src/styles/defaults/mixins';

.modal-header {
  @include mixins.hf;
  border-radius: 5px 5px 0 0;
}

::ng-deep cd-modal {
  .modal-footer {
    @include mixins.hf;
    border-radius: 0 0 5px 5px;
  }

  .modal-body {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal-content {
    display: table;
  }
}

button.close {
  outline: none;
}
