<cds-modal
  [size]="size"
  [open]="open"
  [hasScrollingContent]="hasScrollingContent"
  (overlaySelected)="closeModal()">

  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>{{ title }}
    </h3>

    <cd-help-text
      [formAllFieldsRequired]="true"
      *ngIf="formAllFieldsRequired"></cd-help-text>
  </cds-modal-header>

  <div cdsModalContent>
    <ng-content select=".modal-content"></ng-content>
  </div>

  <ng-content select=".modal-footer"></ng-content>
</cds-modal>
