<div class="wizard-step-container">
  <div class="card-body">
    <ng-container>
      <div class="row m-7">
        <nav class="col">
          <ul class="nav nav-pills flex-column"
              *ngFor="let step of steps | async; let i = index;">
            <li class="nav-item">
              <a class="nav-link"
                 (click)="onStepClick(step)">
                <span class="circle-step"
                      i18n>{{ step.stepIndex }}</span>
                <span i18n>{{ stepsTitle[i] }}</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </ng-container>
  </div>
</div>
