<cds-tile class="resource-page-card cds-mt-5">
  <div class="resource-page-panels">
    <section class="resource-page-panel">
      <h4
        class="cds--type-heading-02"
        i18n
      >
        Read
      </h4>
      <p
        class="cds--type-body-compact-01 resource-page-panel__subtitle"
        i18n
      >
        Performance and activity
      </p>

      <div class="resource-page-row">
        <span
          class="cds--type-label-01"
          i18n
          >Bytes</span
        >
        <span class="cds--type-heading-03">{{ overviewModel.readBytes }}</span>
      </div>

      <div class="resource-page-row cds-mt-5">
        <span
          class="cds--type-label-01"
          i18n
          >Ops</span
        >
        <span class="cds--type-heading-03">{{ overviewModel.readOps }}</span>
      </div>

      <div class="resource-page-chart cds-mt-5">
        @if (overviewModel.readBytesChartData?.length) {
          <cd-area-chart
            chartTitle="Read Bytes"
            i18n-chartTitle
            chartKey="readBytes"
            dataUnit="B/s"
            [rawData]="overviewModel.readBytesChartData"
            [legendEnabled]="false"
            [height]="'180px'"
          >
          </cd-area-chart>
        } @else {
          <span class="cds--type-body-compact-01">-</span>
        }
      </div>
    </section>

    <section class="resource-page-panel">
      <h4
        class="cds--type-heading-02"
        i18n
      >
        Write
      </h4>
      <p
        class="cds--type-body-compact-01 resource-page-panel__subtitle"
        i18n
      >
        Performance and activity
      </p>

      <div class="resource-page-row">
        <span
          class="cds--type-label-01"
          i18n
          >Bytes</span
        >
        <span class="cds--type-heading-03">{{ overviewModel.writeBytes }}</span>
      </div>

      <div class="resource-page-row cds-mt-5">
        <span
          class="cds--type-label-01"
          i18n
          >Ops</span
        >
        <span class="cds--type-heading-03">{{ overviewModel.writeOps }}</span>
      </div>

      <div class="resource-page-chart cds-mt-5">
        @if (overviewModel.writeBytesChartData?.length) {
          <cd-area-chart
            chartTitle="Write Bytes"
            i18n-chartTitle
            chartKey="writeBytes"
            dataUnit="B/s"
            [rawData]="overviewModel.writeBytesChartData"
            [legendEnabled]="false"
            [height]="'180px'"
          >
          </cd-area-chart>
        } @else {
          <span class="cds--type-body-compact-01">-</span>
        }
      </div>
    </section>
  </div>
</cds-tile>
