<div *ngIf="contentData">
  <div class="row">
    <cd-info-card title="Health">
      <ng-container i18n>Overall status: </ng-container>
      <span [ngStyle]="contentData.health.status | healthColor">{{ contentData.health.status }}</span>
      <ul>
        <li *ngFor="let check of contentData.health.checks">
          <span [ngStyle]="check.severity | healthColor">{{ check.type }}</span>: {{ check.summary.message }}
        </li>
      </ul>
    </cd-info-card>

    <div class="col-md-6">
      <!--STATS -->
      <div class="row">
        <cd-info-card title="MONITORS"
                      imageClass="fa fa-database fa-fw"
                      link="/monitor"
                      contentClass="media-text"
                      *ngIf="contentData.mon_status">
          {{ contentData.mon_status | monSummary }}
        </cd-info-card>

        <cd-info-card title="OSDs"
                      imageClass="fa fa-hdd-o fa-fw"
                      link="/osd"
                      contentClass="media-text"
                      *ngIf="contentData.osd_map">
          {{ contentData.osd_map | osdSummary }}
        </cd-info-card>
      </div>
      <div class="row">
        <cd-info-card title="METADATA SERVERS"
                      imageClass="fa fa-folder fa-fw"
                      contentClass="media-text"
                      *ngIf="contentData.fs_map">
          {{ contentData.fs_map | mdsSummary }}
        </cd-info-card>

        <cd-info-card title="MANAGER DAEMONS"
                      imageClass="fa fa-cog fa-fw"
                      contentClass="media-text"
                      *ngIf="contentData.mgr_map">
          {{ contentData.mgr_map | mgrSummary }}
        </cd-info-card>
      </div>
    </div>
  </div>

  <div class="row">
    <cd-info-card title="Usage"
                  *ngIf="contentData.df?.stats?.total_objects">
      <table class="ceph-chartbox">
        <tr>
          <td>
            <span style="font-size: 45px;">{{ contentData.df.stats.total_objects | dimless }}</span>
          </td>
          <td>
            <div class="center-block pie">
              <cd-health-pie [data]="contentData"
                             (prepareFn)="prepareRawUsage($event[0], $event[1])"></cd-health-pie>
            </div>
          </td>
          <td>
            <div class="center-block pie">
              <cd-health-pie [data]="contentData"
                             (prepareFn)="preparePoolUsage($event[0], $event[1])"></cd-health-pie>
            </div>
          </td>
        </tr>
        <tr>
          <td i18n>Objects</td>
          <td>
            <ng-container i18n>Raw capacity</ng-container>
            <br>
            <ng-container i18n="disk used">({{ contentData.df.stats.total_used_bytes | dimlessBinary }} used)</ng-container>
          </td>
          <td i18n>Usage by pool</td>
        </tr>
      </table>
    </cd-info-card>

    <cd-info-card title="Pools"
                  *ngIf="contentData.pools">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th i18n>Name</th>
          <th i18n>PG status</th>
          <th i18n>Usage</th>
          <th colspan="2"
              i18n>Read</th>
          <th colspan="2"
              i18n>Write</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pool of contentData.pools">
          <td>{{ pool.pool_name }}</td>
          <td [ngStyle]="pool.pg_status | pgStatusStyle">
            {{ pool.pg_status | pgStatus }}
          </td>
          <td>
            <cd-usage-bar [totalBytes]="pool.stats.bytes_used.latest +  pool.stats.max_avail.latest" [usedBytes]="pool.stats.bytes_used.latest"></cd-usage-bar>
          </td>
          <td>
            {{ pool.stats.rd_bytes.rate | dimless }}
          </td>
          <td>
            {{ pool.stats.rd.rate | dimless }} ops
          </td>
          <td>
            {{ pool.stats.wr_bytes.rate | dimless }}
          </td>
          <td>
            {{ pool.stats.wr.rate | dimless }} ops
          </td>
        </tr>
        </tbody>
      </table>
    </cd-info-card>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- LOGS -->
      <div class="well"
           *ngIf="contentData.clog || contentData.audit_log">
        <fieldset>
          <legend i18n>Logs</legend>

          <tabset>
            <tab heading="Cluster log"
                 class="text-monospace"
                 *ngIf="contentData.clog"
                 i18n-heading>
              <span *ngFor="let line of contentData.clog">
                {{ line.stamp }}&nbsp;{{ line.priority }}&nbsp;
                <span [ngStyle]="line | logColor">
                  {{ line.message }}
                  <br>
                </span>
              </span>
            </tab>
            <tab heading="Audit log"
                 class="text-monospace"
                 *ngIf="contentData.audit_log"
                 i18n-heading>
              <span *ngFor="let line of contentData.audit_log">
                {{ line.stamp }}&nbsp;{{ line.priority }}&nbsp;
                <span [ngStyle]="line | logColor">
                  <span style="font-weight: bold;">
                    {{ line.message }}
                  </span>
                  <br>
                </span>
              </span>
            </tab>
          </tabset>
        </fieldset>
      </div>
    </div>
  </div>
</div>
