@import 'styles';

cd-info-card {
  padding: 0 0.5vw 0 0.5vw;
  @extend .d-flex;
  @extend .flex-column;
  @extend .mb-4;
}

::ng-deep .pg-status-popover-wrapper {
  position: relative;

  .popover {
    position: absolute;
    width: 116%;
    max-height: 20vh;
    min-width: unset !important;
    max-width: unset !important;

    .popover-body {
      max-width: 100%;
      max-height: 19vh;
      font-size: 12px;
    }
  }
}

.logs-link {
  text-align: center;
}

.card-text-error {
  display: inline;
  color: $color-solid-red;
}

.card-text-line-break:after {
  content: '\A';
  white-space: pre;
}

.mgr-active-name:hover {
  cursor: pointer;
}

::ng-deep cd-info-card {
  @extend .col-12;
  @extend .col-sm-12;
  @extend .col-md-6;
  @extend .col-lg-4;

  &.cd-status-card {
    @extend .col-xl-3;
  }

  &.cd-performance-card,
  &.cd-capacity-card {
    @extend .col-xl;
  }
}
