@use './src/styles/vendor/variables' as vv;

cd-info-card {
  padding: 0 0.5vw;
}

::ng-deep cd-health .pg-status-popover-wrapper {
  position: relative;

  .popover {
    max-height: 20vh;
    max-width: unset !important;
    min-width: unset !important;
    position: absolute;
    width: 116%;

    .popover-body {
      font-size: 1rem;
      max-height: 19vh;
      max-width: 100%;
    }
  }
}

.logs-link {
  text-align: center;
}

.card-text-error {
  color: vv.$chart-danger;
  display: inline;
}

.card-text-line-break::after {
  content: '\A';
  white-space: pre;
}

.popover-info:hover {
  cursor: pointer;
}
