@import '../../../../defaults';

.cd-container-flex {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cd-col-5 {
  width: 20%;
}

@media (max-width: 1599px) {
  .cd-col-5 {
    width: 25%;
  }
}

@media (max-width: 1199px) {
  .cd-col-5 {
    width: 33%;
  }
}

@media (max-width: 991px) {
  .cd-col-5 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .cd-col-5 {
    width: 100%;
  }
}

.info-group {
  margin: 0;
  padding: 0;
}

cd-info-card {
  padding: 0 0.5vw 0 0.5vw;
}

::ng-deep .pg-status-popover-wrapper {
  position: relative;

  .popover {
    position: absolute;
    width: 116%;
    max-height: 20vh;
    min-width: unset !important;
    max-width: unset !important;

    .popover-body {
      max-width: 100%;
      max-height: 19vh;
      font-size: 12px;
    }
  }
}

.logs-link {
  text-align: center;
}

.card-text-error {
  display: inline;
  color: $color-solid-red;
}

.card-text-line-break:after {
  content: '\A';
  white-space: pre;
}
