@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/layer' as *;
@use '@carbon/styles/scss/type' as *;

.cds--toast-notification-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-width: $spacing-13 * 8;
  pointer-events: none;
  position: fixed;
  right: $spacing-04;
  top: $spacing-10;
  z-index: 9000;

  cds-toast {
    margin-bottom: $spacing-03;
    pointer-events: all;
    transform-origin: top right;

    ::ng-deep {
      .cds--toast-notification__title,
      .cds--toast-notification__subtitle,
      .cds--toast-notification__caption {
        color: $text-primary;
      }

      .cds--toast-notification__close-button {
        color: $icon-primary;
      }

      .cds--toast-notification__close-button:hover {
        background-color: transparent;
      }

      .cds--toast-notification__close-icon {
        fill: currentcolor;
      }

      .toast-caption-container {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }

      .toast-caption-container .date {
        flex-shrink: 0;
      }
    }
  }
}

@keyframes toast-slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toast-slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
