# ceph data no dmcrypt
ACTION=="add", SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  ENV{ID_PART_ENTRY_TYPE}=="4fbd7e29-9d25-41b8-afd0-062c0ceff05d", \
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="ceph-disk-activate@/dev/$name.service"

# ceph journal no dmcrypt
ACTION=="add", SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  ENV{ID_PART_ENTRY_TYPE}=="45b0969e-9b03-4f30-b4c6-b4b80ceff106", \
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="ceph-disk-activate-journal@/dev/$name.service"

# ceph data dmcrypt + luks
ACTION=="add" SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  ENV{ID_PART_ENTRY_TYPE}=="4fbd7e29-9d25-41b8-afd0-35865ceff05d", \
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="ceph-disk-activate@/dev/$name.service"

# ceph journal dmcrypt + luks
ACTION=="add" SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  ENV{ID_PART_ENTRY_TYPE}=="45b0969e-9b03-4f30-b4c6-35865ceff106", \
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="ceph-disk-activate-journal@/dev/$name.service"

# ceph data dmcrypt without luks
ACTION=="add" SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  ENV{ID_PART_ENTRY_TYPE}=="4fbd7e29-9d25-41b8-afd0-5ec00ceff05d", \
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="ceph-disk-activate@/dev/$name.service"

# ceph journal dmcrypt without luks
ACTION=="add" SUBSYSTEM=="block", \
  ENV{DEVTYPE}=="partition", \
  ENV{ID_PART_ENTRY_TYPE}=="45b0969e-9b03-4f30-b4c6-5ec00ceff106", \
  TAG+="systemd", \
  ENV{SYSTEMD_WANTS}+="ceph-disk-activate-journal@/dev/$name.service"
