<ng-container *ngIf="!!selection">
  <cds-tabs type="contained"
            theme="light">
    <cds-tab heading="Details">
      <table
        class="cds--data-table--sort cds--data-table--no-border cds--data-table cds--data-table--md"
        data-testid="rgw-storage-details"
      >
        <tbody>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.LOCAL">
            <td class="bold"
                i18n>
              Zone Group
              <cd-helper class="text-pre-wrap">
                <span>
                  A Zone Group is a logical grouping of one or more zones that share the same data
                  and metadata, allowing for multi-site replication and geographic distribution of
                  data.
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.zonegroup_name }}</td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.LOCAL">
            <td class="bold"
                i18n>
              Placement Target
              <cd-helper class="text-pre-wrap">
                <span>
                  Placement Target defines the destination and rules for moving objects between
                  storage tiers.
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.placement_target }}</td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Target Path
              <cd-helper class="text-pre-wrap">
                <span>
                 {{ targetPathText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.target_path }}</td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Access key
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ targetAccessKeyText }}
                </span>
              </cd-helper>
            </td>
            <td>
              <div cdsCol
                   [columnNumbers]="{ md: 4 }"
                   class="d-flex">
                <input
                  cdsPassword
                  type="password"
                  readonly
                  id="access_key"
                  [value]="selection?.access_key"
                />
                <button type="button"
                        class="btn btn-light"
                        cdPasswordButton="access_key"></button>
                <cd-copy-2-clipboard-button source="access_key"> </cd-copy-2-clipboard-button>
              </div>
            </td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Secret key
              <cd-helper class="text-pre-wrap">
                <span> {{ targetSecretKeyText }} </span>
              </cd-helper>
            </td>
            <td>
              <div cdsCol
                   [columnNumbers]="{ md: 4 }"
                   class="d-flex">
                <input
                  cdsPassword
                  type="password"
                  readonly
                  id="secret"
                  [value]="selection?.secret"
                />
                <button type="button"
                        class="btn btn-light"
                        cdPasswordButton="secret"></button>
                <cd-copy-2-clipboard-button source="secret"> </cd-copy-2-clipboard-button>
              </div>
            </td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Host Style
              <cd-helper class="text-pre-wrap">
                <span>{{ hostStyleText }}</span>
              </cd-helper>
            </td>
            <td>{{ selection?.host_style }}</td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Multipart Minimum Part Size
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ multipartMinPartText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.multipart_min_part_size }}</td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Multipart Sync Threshold
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ multipartSyncThreholdText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.multipart_sync_threshold }}</td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Retain Head Object
              <cd-helper class="text-pre-wrap">
                <span>
                  Retain object metadata after transition to the cloud (default: false).
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.retain_head_object }}</td>
          </tr>
          <tr *ngIf="selection.tier_type === TIER_TYPE_DISPLAY.CLOUD_TIER">
            <td class="bold"
                i18n>
              Allow Read Through
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ allowReadThroughText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.allow_read_through }}</td>
          </tr>
        </tbody>
      </table>
    </cds-tab>
  </cds-tabs>
</ng-container>
