<ng-container *ngIf="!!selection">
  <cds-tabs type="contained"
            theme="light">
    <cds-tab heading="Details">
      <table
        class="cds--data-table--sort cds--data-table--no-border cds--data-table cds--data-table--md"
        data-testid="rgw-storage-details"
      >
        <tbody>
          @if( isTierMatch(
            TIER_TYPE_DISPLAY.LOCAL
          )){
          <tr>
            <td class="bold"
                i18n>
              Zone Group
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ zoneGroupText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.zonegroup_name }}</td>
          </tr>
        }
        @if(isTierMatch(
            TIER_TYPE_DISPLAY.LOCAL
          )){
          <tr>
            <td class="bold"
                i18n>
              Placement Target
              <cd-helper class="text-pre-wrap">
                <span>
                  Placement Target defines the destination and rules for moving objects between
                  storage tiers.
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.placement_target }}</td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Target Path
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ targetPathText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.target_path }}</td>
          </tr>
        }
        @if(isTierMatch(TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Access key
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ targetAccessKeyText }}
                </span>
              </cd-helper>
            </td>
            <td>
              <div cdsCol
                   [columnNumbers]="{ md: 4 }"
                   class="d-flex">
                <input
                  cdsPassword
                  type="password"
                  readonly
                  id="access_key"
                  [value]="selection?.access_key"
                />
                <button type="button"
                        class="btn btn-light"
                        cdPasswordButton="access_key"></button>
                <cd-copy-2-clipboard-button source="access_key"> </cd-copy-2-clipboard-button>
              </div>
            </td>
          </tr>
        }
        @if(isTierMatch(TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Secret key
              <cd-helper class="text-pre-wrap">
                <span> {{ targetSecretKeyText }} </span>
              </cd-helper>
            </td>
            <td>
              <div cdsCol
                   [columnNumbers]="{ md: 4 }"
                   class="d-flex">
                <input
                  cdsPassword
                  type="password"
                  readonly
                  id="secret"
                  [value]="selection?.secret"
                />
                <button type="button"
                        class="btn btn-light"
                        cdPasswordButton="secret"></button>
                <cd-copy-2-clipboard-button source="secret"> </cd-copy-2-clipboard-button>
              </div>
            </td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Host Style
              <cd-helper class="text-pre-wrap">
                <span>{{ hostStyleText }}</span>
              </cd-helper>
            </td>
            <td>{{ selection?.host_style }}</td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Head Object (Stub File)
              <cd-helper class="text-pre-wrap">
                <span> {{ retainHeadObjectText }}</span>
              </cd-helper>
            </td>
            <td>{{ selection?.retain_head_object ? 'Enabled' : 'Disabled' }}</td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Allow Read Through
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ allowReadThroughText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.allow_read_through ? 'Enabled' : 'Disabled' }}</td>
          </tr>
        }
        @if(isTierMatch(TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER) && (selection?.allow_read_through)) {
          <tr *ngIf="isTierMatch(TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER) && (selection?.allow_read_through)">
            <td class="bold"
                i18n>
              Read through Restore Days
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ readthroughrestoreDaysText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.read_through_restore_days }}</td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Glacier Restore Days
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ glacierRestoreDayText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.glacier_restore_days }}</td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.GLACIER)) {
          <tr>
            <td class="bold"
                i18n>
              Glacier Restore Tier Type
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ glacierRestoreTiertypeText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.glacier_restore_tier_type }}</td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Restore Storage Class
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ restoreStorageClassText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.restore_storage_class }}</td>
          </tr>
        }
          @if(isTierMatch( TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Multipart Minimum Part Size
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ multipartMinPartText }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.multipart_min_part_size | dimlessBinary }}</td>
          </tr>
        }
        @if(isTierMatch( TIER_TYPE_DISPLAY.CLOUD_TIER, TIER_TYPE_DISPLAY.GLACIER)){
          <tr>
            <td class="bold"
                i18n>
              Multipart Sync Threshold
              <cd-helper class="text-pre-wrap">
                <span>
                  {{ multipartSyncThreholdText  }}
                </span>
              </cd-helper>
            </td>
            <td>{{ selection?.multipart_sync_threshold | dimlessBinary }}</td>
          </tr>
        }
        </tbody>
      </table>
    </cds-tab>
  </cds-tabs>
</ng-container>
