<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item active">Hosts</li>
  </ol>
</nav>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>
      Hostname
    </th>
    <th>
      Services
    </th>
    <th>
      Version
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let host of hosts">
    <td>
      {{ host.hostname }}
    </td>
    <td>
      {{ host.services | serviceList }}
    </td>
    <td>
      {{ host.ceph_version | cephShortVersion }}
    </td>
  </tr>
  </tbody>
</table>
