<cds-modal size="lg"
           [open]="open"
           [hasScrollingContent]="true"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>{{ action | titlecase }} RGW Encryption Configurations</h3>
    <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
  </cds-modal-header>

  <form name="configForm"
        #frm="ngForm"
        [formGroup]="configForm"
        novalidate>
    <div cdsModalContent>
      <div class="form-item">
        <label class="cds--label fw-bold"
               i18n>Encryption Type</label>
        <cds-radio-group formControlName="encryptionType"
                         orientation="horizontal"
                         helperText="Choose which encryption workflow this configuration should enable."
                         i18n-helperText>
          <cds-radio [value]="ENCRYPTION_TYPE.SSE_S3"
                     [disabled]="editing && configForm.getValue('encryptionType') !== ENCRYPTION_TYPE.SSE_S3"
                     (change)="checkKmsProviders()"
                     i18n>SSE-S3</cds-radio>
          <cds-radio [value]="ENCRYPTION_TYPE.SSE_KMS"
                     [disabled]="editing && configForm.getValue('encryptionType') !== ENCRYPTION_TYPE.SSE_KMS"
                     (change)="checkKmsProviders()"
                     i18n>SSE-KMS</cds-radio>
        </cds-radio-group>
      </div>

      <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
           class="form-item">
        <cds-select id="kms_provider"
                    formControlName="kms_provider"
                    label="Key management service provider"
                    helperText="Where the encryption keys are stored."
                    invalidText="This field is required."
                    i18n-label
                    i18n-helperText
                    i18n-invalidText
                    [invalid]="configForm.showError('kms_provider', frm, 'required')"
                    (change)="setKmsProvider()">
          <option *ngIf="kmsProviders !== null && kmsProviders.length === 0"
                  ngValue="null"
                  i18n>-- No kms providers available --</option>
          <option *ngIf="kmsProviders !== null && kmsProviders.length > 0"
                  ngValue=""
                  i18n>-- Select a provider --</option>
          <option *ngFor="let provider of kmsProviders"
                  [value]="provider">{{ provider }}</option>
        </cds-select>
      </div>

      <div *ngIf="kmsProviders.length !== 0 && configForm.getValue('kms_provider') !== ''">
        <div *ngIf="(configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.VAULT) || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-select id="auth"
                      formControlName="auth"
                      label="Authentication Method"
                      helperText="Type of authentication method to be used with Vault."
                      invalidText="This field is required."
                      i18n-label
                      i18n-helperText
                      i18n-invalidText
                      [invalid]="configForm.showError('auth', frm, 'required')">
            <option *ngFor="let auth of authMethods"
                    [value]="auth">{{ auth }}</option>
          </cds-select>
        </div>

        <div *ngIf="(configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.VAULT) || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-select id="secret_engine"
                      formControlName="secret_engine"
                      label="Secret Engine"
                      helperText="Vault Secret Engine to be used to retrieve encryption keys."
                      invalidText="This field is required."
                      i18n-label
                      i18n-helperText
                      i18n-invalidText
                      [invalid]="configForm.showError('secret_engine', frm, 'required')">
            <option *ngFor="let secret_engine of secretEngines"
                    [value]="secret_engine">{{ secret_engine }}</option>
          </cds-select>
        </div>

        <div *ngIf="(configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.VAULT) || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-text-label for="secret_path"
                          helperText="Vault secret URL prefix, which can be used to restrict access to a particular subset of the Vault secret space."
                          i18n
                          i18n-helperText>Secret Path
            <input cdsText
                   type="text"
                   id="secret_path"
                   placeholder="/v1/secret/data"
                   i18n-placeholder
                   formControlName="secret_path">
          </cds-text-label>
        </div>

        <div *ngIf="(configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.VAULT) || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-text-label for="namespace"
                          helperText="Vault Namespace to be used to select your tenant."
                          i18n
                          i18n-helperText>Namespace
            <input cdsText
                   type="text"
                   id="namespace"
                   placeholder="tenant1"
                   formControlName="namespace">
          </cds-text-label>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-text-label for="addr"
                          [invalid]="configForm.showError('addr', frm, 'required')"
                          [invalidText]="addressError"
                          [helperText]="configForm.getValue('kms_provider') === KMS_PROVIDER.VAULT ? 'Vault server base address.' : 'Kmip server base address.'">
            {{ configForm.getValue('kms_provider') === KMS_PROVIDER.VAULT ? 'Vault Address' : 'KMIP Address' }}
            <input cdsText
                   id="addr"
                   formControlName="addr"
                   placeholder="http://127.0.0.1:8000"
                   i18n-placeholder
                   [invalid]="configForm.showError('addr', frm, 'required')">
          </cds-text-label>
          <ng-template #addressError>
            <span class="invalid-feedback"
                  *ngIf="configForm.showError('addr', frm, 'required')"
                  i18n>This field is required.</span>
          </ng-template>
        </div>

        <div *ngIf="((configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.VAULT) || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3) && configForm.getValue('auth') === 'token'"
             class="form-item">
          <cds-text-label for="token"
                          [invalid]="configForm.showError('token', frm, 'required')"
                          [invalidText]="tokenError"
                          helperText="Provide the path to the Vault token file on the RGW host."
                          i18n
                          i18n-helperText>Token file path
            <input cdsText
                   type="text"
                   id="token"
                   placeholder="/path/to/token"
                   i18n-placeholder
                   formControlName="token"
                   [invalid]="configForm.showError('token', frm, 'required')">
          </cds-text-label>
          <ng-template #tokenError>
            <span class="invalid-feedback"
                  *ngIf="configForm.showError('token', frm, 'required')"
                  i18n>This field is required.</span>
          </ng-template>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.KMIP"
             class="form-item">
          <cds-text-label for="kms_key_template"
                          helperText="sse-kms; kmip key names"
                          i18n
                          i18n-helperText>KMS Key Template
            <input cdsText
                   id="kms_key_template"
                   placeholder="$keyid"
                   formControlName="kms_key_template">
          </cds-text-label>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.KMIP"
             class="form-item">
          <cds-text-label for="s3_key_template"
                          helperText="sse-s3; kmip key template"
                          i18n
                          i18n-helperText>S3 Key Template
            <input cdsText
                   id="s3_key_template"
                   placeholder="$keyid"
                   formControlName="s3_key_template">
          </cds-text-label>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.KMIP"
             class="form-item">
          <cds-text-label for="username"
                          helperText="When authenticating via username."
                          i18n
                          i18n-helperText>Username
            <input cdsText
                   id="username"
                   formControlName="username">
          </cds-text-label>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS && configForm.getValue('kms_provider') === KMS_PROVIDER.KMIP"
             class="form-item">
          <cds-password-label for="password"
                              helperText="Optional with username."
                              i18n
                              i18n-helperText>Password
            <input cdsPassword
                   id="password"
                   type="password"
                   label="Password"
                   formControlName="password">
          </cds-password-label>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-text-label for="ssl_cert"
                          helperText="Path for custom CA certificate used when accessing the server."
                          i18n
                          i18n-helperText>CA Certificate Path
            <input cdsText
                   type="text"
                   id="ssl_cert"
                   formControlName="ssl_cert"
                   placeholder="/path/to/ca_cert.pem"
                   i18n-placeholder>
          </cds-text-label>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-text-label for="client_cert"
                          helperText="Path for the client certificate used when accessing the server."
                          i18n
                          i18n-helperText>Client Certificate Path
            <input cdsText
                   type="text"
                   id="client_cert"
                   formControlName="client_cert"
                   placeholder="/path/to/client_cert.pem"
                   i18n-placeholder>
          </cds-text-label>
        </div>

        <div *ngIf="configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_KMS || configForm.getValue('encryptionType') === ENCRYPTION_TYPE.SSE_S3"
             class="form-item">
          <cds-text-label for="client_key"
                          helperText="Path for the private key required for the client certificate."
                          i18n
                          i18n-helperText>Client Private Key Path
            <input cdsText
                   type="text"
                   id="client_key"
                   formControlName="client_key"
                   placeholder="/path/to/client_key.pem"
                   i18n-placeholder>
          </cds-text-label>
        </div>
      </div>
    </div>

    <cd-form-button-panel (submitActionEvent)="onSubmit()"
                          [form]="configForm"
                          [submitText]="actionLabels.SUBMIT"
                          [modalForm]="true"></cd-form-button-panel>
  </form>
</cds-modal>
