<div class="container-fluid">
  <div class="row mx-0">
    <cd-card title="Details"
             i18n-title
             class="col-sm-3 px-3">
      <dl class="ms-4 me-4">
        <dt>FSID</dt>
        <dd>{{ detailsCardData.fsid }}</dd>
        <dt>Orchestror</dt>
        <dd>{{ detailsCardData.orchestrator }}</dd>
        <dt>Ceph version</dt>
        <dd>{{ detailsCardData.cephVersion }}</dd>
      </dl>
    </cd-card>

    <cd-card title="Status"
             i18n-title
             class="col-sm-6 px-3">
      <div class="d-flex ms-4 me-4 mb-5"
           *ngIf="healthData$ | async as healthData">
        <i *ngIf="healthData.health?.status"
           [ngClass]="[healthData.health.status | healthIcon, icons.large]"
           [ngStyle]="healthData.health.status | healthColor"
           [title]="healthData.health.status"></i>
        <span class="ms-2 mt-n1"
              i18n>Cluster</span>
      </div>
      <section class="border-top mt-5"
               *ngIf="isAlertmanagerConfigured && (crticialActiveAlerts || warningActiveAlerts)">
        <div class="d-flex flex-wrap ms-4 me-4">
          <span class="pt-2"
                i18n>Alerts</span>
          <!-- Potentially make widget component -->
          <button class="btn btn-outline-danger rounded-pill ms-2"
                  [ngClass]="{'active': showAlerts && alertType === 'critical'}"
                  title="Danger"
                  (click)="toggleAlertsWindow('danger')"
                  id="dangerAlerts"
                  i18n-title
                  *ngIf="crticialActiveAlerts">
            <i [ngClass]="[icons.danger]"></i>
            <span>{{ crticialActiveAlerts }}</span>
          </button>

          <button class="btn btn-outline-warning rounded-pill ms-2"
                  [ngClass]="{'active': showAlerts && alertType === 'warning'}"
                  title="Warning"
                  (click)="toggleAlertsWindow('warning')"
                  id="warningAlerts"
                  i18n-title
                  *ngIf="warningActiveAlerts">
            <i [ngClass]="[icons.infoCircle]"></i>
            <span>{{ warningActiveAlerts }}</span>
          </button>

          <div class="pt-0 position-right">
            <button class="btn btn-block dropdown-toggle"
                    data-toggle="collapse"
                    aria-label="toggle alert window"
                    [attr.aria-expanded]="showAlerts"
                    (click)="toggleAlertsWindow('danger')"></button>

          </div>
        </div>
        <div class="alerts pt-0"
             *ngIf="showAlerts">
          <hr class="mt-4">
          <ngx-simplebar [options]="simplebar">
            <div class="card-body ps-0 pe-1 pt-1">
              <ng-container *ngTemplateOutlet="alertsCard"></ng-container>
            </div>
          </ngx-simplebar>
        </div>
      </section>
    </cd-card>

    <cd-card title="Capacity"
             i18n-title
             class="col-sm-3 px-3">
      <ng-container class="ms-4 me-4"
                    *ngIf="{osdSettings: osdSettings$ | async, capacity: capacity$ | async} as values">
        <ng-container *ngIf="values.osdSettings && values.capacity">
          <cd-dashboard-pie [data]="{max: values.capacity.total_bytes, current: values.capacity.total_used_raw_bytes}"
                            [lowThreshold]="values.osdSettings.nearfull_ratio"
                            [highThreshold]="values.osdSettings.full_ratio">
          </cd-dashboard-pie>
        </ng-container>
      </ng-container>
    </cd-card>
  </div>

  <div class="row mx-0">
    <cd-card title="Inventory"
             i18n-title
             class="col-sm-3 px-3">
      <div class="ms-4 me-4">
        Text
      </div>
    </cd-card>

    <cd-card title="Capacity utilization"
             i18n-title
             class="col-sm-6 px-3">
      <div class="ms-4 me-4">
        Text
      </div>
    </cd-card>

    <cd-card title="Events"
             i18n-title
             class="col-sm-3 px-3">
      <div class="ms-4 me-4">
        Text
      </div>
    </cd-card>
  </div>
</div>

<ng-template #alertsCard>
  <ng-container *ngFor="let alert of alerts; let i = index">
    <div [ngClass]="borderClass"
         *ngIf="alertType === alert.labels.severity">
      <div class="card tc_alerts border-0 pt-3">
        <div class="row no-gutters">
          <div class="col-sm-1 text-center">
            <span [ngClass]="[icons.stack, icons.large, textClass]">
              <i [ngClass]="[icons.circle, icons.stack2x]"></i>
              <i [ngClass]="[icons.stack1x, icons.inverse, icons.warning]"></i>
            </span>
          </div>
          <div class="col-md-11">
            <div class="card-body ps-0 pe-1 pt-1">
              <h6 class="card-title bold">{{ alert.labels.alertname }}</h6>
              <p class="card-text me-3"
                 [innerHtml]="alert.annotations.summary"></p>
              <p class="card-text text-muted me-3">
                <small class="date"
                       [title]="alert.startsAt | cdDate"
                       i18n>Active since: {{ alert.startsAt  | relativeDate }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </ng-container>
</ng-template>
