<div class="container-fluid">
  <div class="row mx-0">
    <cd-card title="Details"
             i18n-title
             class="col-sm-3 px-3">
      <dl>
        <dt>FSID</dt>
        <dd>{{ detailsCardData.fsid }}</dd>
        <dt>Orchestror</dt>
        <dd>{{ detailsCardData.orchestrator }}</dd>
        <dt>Ceph version</dt>
        <dd>{{ detailsCardData.cephVersion }}</dd>
      </dl>
    </cd-card>

    <cd-card title="Status"
             i18n-title
             class="col-sm-6 px-3">
      <div class="d-flex ml-2">
        <i *ngIf="healthData?.health?.status"
           [ngClass]="[healthData.health.status | healthIcon, icons.large]"
           [ngStyle]="healthData.health.status | healthColor"
           [title]="healthData.health.status"></i>
        <span class="ml-2 mt-n1"
              i18n>Cluster</span>
      </div>
      <section class="border-top mt-5">
        <div class="d-flex flex-wrap">
          <span class="pt-2"
                i18n>Notifications</span>
          <!-- Potentially make widget component -->
          <button class="btn btn-outline-danger rounded-pill ml-2"
                  (click)="toggleSidebar('Prometheus', type.error)"
                  id="dangerNotification">
            <i [ngClass]="[icons.danger]"></i>
            <span *ngIf="notificationCountTest$ | async as count">{{ count?.error }}</span>
          </button>

          <button class="btn btn-outline-success rounded-pill ml-2"
                  (click)="toggleSidebar('Prometheus', type.success)"
                  id="successNotification">
            <i [ngClass]="[icons.success]"></i>
            <span *ngIf="notificationCountTest$ | async as count">{{ count.success }}</span>
          </button>
          <button class="btn btn-outline-primary rounded-pill ml-2"
                  (click)="toggleSidebar('Prometheus', type.info)"
                  id="infoNotification">
            <i [ngClass]="[icons.infoCircle]"></i>
            <span *ngIf="notificationCountTest$ | async as count">{{ count?.info }}</span>
          </button>
          <button class="btn btn-outline-info rounded-pill ml-2"
                  (click)="toggleSidebar('Ceph')"
                  id="cephNotification">
            <i [ngClass]="[icons.bell]"></i>
            <span *ngIf="notificationCountTest$ | async as count">{{ count?.cephNotifications }}</span>
          </button>
        </div>
      </section>
    </cd-card>

    <cd-card title="Capacity"
             i18n-title
             class="col-sm-3 px-3">
      <ng-container *ngIf="{osdSettings: osdSettings$ | async, capacity: capacity$ | async} as values">
        <ng-container *ngIf="values.osdSettings && values.capacity">
          <cd-dashboard-pie [data]="{max: values.capacity.total_bytes, current: values.capacity.total_used_raw_bytes}"
                            [lowThreshold]="values.osdSettings.nearfull_ratio"
                            [highThreshold]="values.osdSettings.full_ratio">
          </cd-dashboard-pie>
        </ng-container>
      </ng-container>
    </cd-card>
  </div>

  <div class="row mx-0">
    <cd-card title="Inventory"
             i18n-title
             class="col-sm-3 px-3">
             Text
    </cd-card>

    <cd-card title="Capacity utilization"
             i18n-title
             class="col-sm-6 px-3">
             Text
    </cd-card>

    <cd-card title="Events"
             i18n-title
             class="col-sm-3 px-3">
             Text
    </cd-card>
  </div>
</div>
