<cd-modal [modalRef]="activeModal">
  <ng-container class="modal-title"
                i18n>{{ actionDescription }} {{ itemDescription }}</ng-container>

  <ng-container class="modal-content">
    <div class="modal-body">
      <cd-orchestrator-doc-panel></cd-orchestrator-doc-panel>
    </div>
    <div class="modal-footer">
      <cd-back-button [back]="activeModal.close"
                      name="Close"
                      i18n-name>
      </cd-back-button>
    </div>
  </ng-container>
</cd-modal>
