<tabset>
  <tab i18n-heading
       heading="OSDs List">

    <cd-table [data]="osds"
              (fetchData)="getOsdList()"
              [columns]="columns"
              selectionType="multi"
              (updateSelection)="updateSelection($event)"
              [updateSelectionOnRefresh]="'never'">

      <div class="table-actions btn-toolbar">
        <cd-table-actions [permission]="permissions.osd"
                          [selection]="selection"
                          class="btn-group"
                          id="osd-actions"
                          [tableActions]="tableActions">
        </cd-table-actions>
        <cd-table-actions [permission]="{read: true}"
                          [selection]="selection"
                          dropDownOnly="Cluster-wide configuration"
                          btnColor="light"
                          class="btn-group"
                          id="cluster-wide-actions"
                          [tableActions]="clusterWideActions">
        </cd-table-actions>
      </div>

      <cd-osd-details cdTableDetail
                      [selection]="selection">
      </cd-osd-details>
    </cd-table>

    <ng-template #statusColor
                 let-value="value">
      <span *ngFor="let state of value; last as last">
        <span class="badge"
              [ngClass]="{'badge-success': ['in', 'up'].includes(state), 'badge-danger': ['down', 'out'].includes(state)}">{{ state }}</span>
        <span *ngIf="!last">&nbsp;</span>
      </span>
    </ng-template>

    <ng-template #osdUsageTpl
                 let-row="row">
      <cd-usage-bar [totalBytes]="row.stats.stat_bytes"
                    [usedBytes]="row.stats.stat_bytes_used">
      </cd-usage-bar>
    </ng-template>
  </tab>
  <tab i18n-heading
       *ngIf="permissions.grafana.read"
       heading="Overall Performance">
    <cd-grafana [grafanaPath]="'osd-overview?'"
                uid="lo02I1Aiz"
                grafanaStyle="three">
    </cd-grafana>
  </tab>
</tabset>

<ng-template #markOsdConfirmationTpl
             let-markActionDescription="markActionDescription">
  <ng-container i18n><strong>OSD(s) {{  getSelectedIds() | list }}</strong> will be marked
<strong>{{ markActionDescription }}</strong> if you proceed.</ng-container>
</ng-template>

<ng-template #criticalConfirmationTpl
             let-safeToDestroyResult="result"
             let-actionDescription="actionDescription">
  <div *ngIf="!safeToDestroyResult['is_safe_to_destroy']"
       class="danger">
  <cd-warning-panel i18n>The {selection.hasSingleSelection, select, 1 {OSD is} 0 {OSDs are}} not safe to destroy!</cd-warning-panel>
  </div>
  <ng-container i18n><strong>OSD {{ getSelectedIds() | list }}</strong> will be
<strong>{{ actionDescription }}</strong> if you proceed.</ng-container>
</ng-template>
