<cd-prometheus-tabs></cd-prometheus-tabs>

<cd-alert-panel *ngIf="!isAlertmanagerConfigured"
                type="info"
                i18n>To see all active Prometheus alerts, please provide
  the URL to the API of Prometheus' Alertmanager as described
  in the&nbsp;<cd-doc section="prometheus"></cd-doc>.</cd-alert-panel>

<cd-table *ngIf="isAlertmanagerConfigured"
          [data]="prometheusAlertService.alerts"
          [columns]="columns"
          identifier="fingerprint"
          [forceIdentifier]="true"
          [customCss]="customCss"
          selectionType="single"
          [hasDetails]="true"
          (setExpandedRow)="setExpandedRow($event)"
          (updateSelection)="updateSelection($event)">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [selection]="selection"
                    [tableActions]="tableActions">
  </cd-table-actions>

  <ng-container *ngIf="expandedRow">
    <cd-table-key-value *cdTableDetail
                        [renderObjects]="true"
                        [hideEmpty]="true"
                        [appendParentKey]="false"
                        [data]="expandedRow"
                        [customCss]="customCss"
                        [autoReload]="false">
    </cd-table-key-value>
  </ng-container>
</cd-table>

<ng-template #externalLinkTpl
             let-row="data.row"
             let-value="data.value">
  <a [href]="value"
     target="_blank"><i [ngClass]="[icons.lineChart]"></i> Source</a>
</ng-template>
