<cd-modal size="md"
          [open]="open"
          title="Attach commands">

  <ng-container class="modal-content">
    <h5 class="fw-bold"
        i18n>
      Using Mount command
    </h5>
    <cd-code-block textWrap="true"
                   [codes]="[mount]"></cd-code-block>

    <h5 class="fw-bold"
        i18n>
      Using FUSE command
    </h5>
    <cd-code-block textWrap="true"
                   [codes]="[fuse]"></cd-code-block>

    <h5 class="fw-bold"
        i18n>
        Using NFS Command
    </h5>
    <cd-code-block textWrap="true"
                   [codes]="[nfs]"></cd-code-block>
  </ng-container>

  <ng-container class="modal-footer">
    <cd-form-button-panel [modalForm]="true"
                          [showSubmit]="false"
                          (backAction)="cancel()"
                          i18n></cd-form-button-panel>
  </ng-container>
</cd-modal>
