*.substvars
*.debhelper.log
/ceph-client-tools-dbg
/ceph-client-tools
/ceph-dbg
/ceph-fuse-dbg
/ceph-fuse
/ceph.init
/ceph.logrotate
/ceph.*.debhelper
/ceph
/files
/libceph1-dbg
/libceph1-dev
/libceph1
/librados2-dbg
/librados2-dev
/librados2
/librbd1-dbg
/librbd1-dev
/librbd1
/radosgw-dbg
/radosgw
/python-ceph
/tmp
