/*.substvars
/*.debhelper.log
/ceph-client-tools-dbg
/ceph-client-tools
/ceph-dbg
/ceph-fuse-dbg
/ceph-fuse
/ceph.init
/ceph.logrotate
/*.debhelper
/ceph
/files
/libceph1-dbg
/libceph-dev
/libceph1
/librados2-dbg
/librados-dev
/librados2
/librbd1-dbg
/librbd-dev
/librbd1
/radosgw-dbg
/radosgw
/python-ceph
/tmp
