/*.substvars
/*.debhelper.log
/ceph-common-dbg
/ceph-common
/ceph-fuse-dbg
/ceph-fuse
/ceph-fs-common-dbg
/ceph-fs-common
/ceph-mds-dbg
/ceph-mds
/ceph-mon-dbg
/ceph-mon
/ceph-osd-dbg
/ceph-osd
/ceph-resource-agents
/ceph.init
/radosgw.init
/ceph.logrotate
/*.debhelper
/ceph
/files
/libcephfs1-dbg
/libcephfs-dev
/libcephfs1
/librados2-dbg
/librados-dev
/librados2
/librbd1-dbg
/librbd-dev
/librbd1
/radosgw-dbg
/radosgw
/python-ceph
/python-rados
/python-rbd
/python-cephfs
/libcephfs-java
/libcephfs-jni
/tmp
