<div cdsGrid
     [useCssGrid]="true"
     [narrow]="true"
     [fullWidth]="true">
<div cdsCol
     [columnNumbers]="{sm: 4, md: 8}">
  <div class="form-item cds-mt-5"
       cdsRow>
    <cds-combo-box
        type="single"
        label="Selected Gateway Group"
        i18n-label
        [placeholder]="placeholder"
        [items]="items"
        (selected)="onSelected($event)"
        (clear)="onClear()"
        [disabled]="disabled">
      <cds-dropdown-list></cds-dropdown-list>
    </cds-combo-box>
  </div>
</div>
</div>
