<cds-modal size="sm"
           [open]="open"
           [hasScrollingContent]="false"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>Create Realm/Zone Group/Zone</h3>
    <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
  </cds-modal-header>
  <form
    name="createMultisiteEntitiesForm"
    #formDir="ngForm"
    [formGroup]="createMultisiteEntitiesForm"
    novalidate>

    <div cdsModalContent>
      <cd-alert-panel type="info"
                      spacingClass="mt-3"
                      i18n>The realm/zone group/zone created will be set as default and master.
      </cd-alert-panel>
      <div class="form-item">
        <cds-text-label
          labelInputID="realmName"
          [invalid]="createMultisiteEntitiesForm.hasError('realmName')"
          [invalidText]="this.INVALID_TEXTS[createMultisiteEntitiesForm.getErrorName('realmName', ['required'])]"
          i18n
          >Realm Name
          <input
            cdsText
            type="text"
            id="realmName"
            formControlName="realmName"
            [invalid]="createMultisiteEntitiesForm.hasError('realmName')"
            [autofocus]="true"
            modal-primary-focus
          />
        </cds-text-label>
      </div>

      <div class="form-item">
        <cds-text-label
          labelInputID="zonegroupName"
          [invalid]="createMultisiteEntitiesForm.hasError('zonegroupName')"
          [invalidText]="this.INVALID_TEXTS[createMultisiteEntitiesForm.getErrorName('zonegroupName', ['required'])]"
          i18n
          >Zone Group Name
          <input
            cdsText
            type="text"
            placeholder="Zone group name..."
            id="zonegroupName"
            name="zonegroupName"
            formControlName="zonegroupName"
            [invalid]="createMultisiteEntitiesForm.hasError('zonegroupName')"
          />
        </cds-text-label>
      </div>

      <div class="form-item">
        <cds-text-label
          labelInputID="zoneName"
          [invalid]="createMultisiteEntitiesForm.hasError('zoneName')"
          [invalidText]="this.INVALID_TEXTS[createMultisiteEntitiesForm.getErrorName('zoneName', ['required'])]"
          i18n
          >Zone Name
          <input
            cdsText
            type="text"
            placeholder="Zone name..."
            id="zoneName"
            name="zoneName"
            formControlName="zoneName"
            [invalid]="createMultisiteEntitiesForm.hasError('zoneName')"
          />
        </cds-text-label>
      </div>
    </div>

    <cd-form-button-panel
      (submitActionEvent)="submit()"
      [form]="createMultisiteEntitiesForm"
      [modalForm]="true"
    >
    </cd-form-button-panel>
  </form>
</cds-modal>
