<cds-modal size="sm"
           [open]="open"
           [hasScrollingContent]="false"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>Create Realm/Zone Group/Zone</h3>
    <cd-help-text [formAllFieldsRequired]="true"></cd-help-text>
  </cds-modal-header>
  <form
    name="createMultisiteEntitiesForm"
    #formDir="ngForm"
    [formGroup]="createMultisiteEntitiesForm"
    novalidate
  >
    <div cdsModalContent>
      <cd-alert-panel type="info"
                      spacingClass="mt-3"
                      i18n>The realm/zone group/zone created will be set as default and master.
      </cd-alert-panel>
      <div class="form-item">
        <cds-text-label
          labelInputID="realmName"
          [invalid]="createMultisiteEntitiesForm.controls.realmName.invalid &&
                     createMultisiteEntitiesForm.controls.realmName.dirty"
          [invalidText]="realmNameError"
          i18n
          >Realm Name
          <input
            cdsText
            type="text"
            id="realmName"
            formControlName="realmName"
            [invalid]="
              createMultisiteEntitiesForm.controls.realmName.invalid &&
              createMultisiteEntitiesForm.controls.realmName.dirty"
            [autofocus]="true"
            modal-primary-focus
          />
        </cds-text-label>
        <ng-template #realmNameError>
          <span
            class="invalid-feedback"
            *ngIf="createMultisiteEntitiesForm.showError('realmName', formDir, 'required')"
            i18n
            >This field is required.</span
          >
        </ng-template>
      </div>

      <div class="form-item">
        <cds-text-label
          labelInputID="zonegroupName"
          [invalid]="createMultisiteEntitiesForm.controls.zonegroupName.invalid &&
                     createMultisiteEntitiesForm.controls.zonegroupName.dirty"
          [invalidText]="zoneGroupNameError"
          i18n
          >Zone Group Name
          <input
            cdsText
            type="text"
            placeholder="Zone group name..."
            id="zonegroupName"
            name="zonegroupName"
            formControlName="zonegroupName"
            [invalid]="createMultisiteEntitiesForm.controls.zonegroupName.invalid &&
                       createMultisiteEntitiesForm.controls.zonegroupName.dirty"
          />
        </cds-text-label>
        <ng-template #zoneGroupNameError>
          <span
            class="invalid-feedback"
            *ngIf="createMultisiteEntitiesForm.showError('zonegroupName', formDir, 'required')"
            i18n
            >This field is required.</span
          >
        </ng-template>
      </div>

      <div class="form-item">
        <cds-text-label
          labelInputID="zoneName"
          [invalid]="createMultisiteEntitiesForm.controls.zoneName.invalid &&
                     createMultisiteEntitiesForm.controls.zoneName.dirty"
          [invalidText]="zoneNameError"
          i18n
          >Zone Name
          <input
            cdsText
            type="text"
            placeholder="Zone name..."
            id="zoneName"
            name="zoneName"
            formControlName="zoneName"
            [invalid]="createMultisiteEntitiesForm.controls.zoneName.invalid &&
                       createMultisiteEntitiesForm.controls.zoneName.dirty"
          />
        </cds-text-label>
        <ng-template #zoneNameError>
          <span
            class="invalid-feedback"
            *ngIf="createMultisiteEntitiesForm.showError('zoneName', formDir, 'required')"
            i18n
            >This field is required.</span
          >
        </ng-template>
      </div>
    </div>

    <cd-form-button-panel
      (submitActionEvent)="submit()"
      [form]="createMultisiteEntitiesForm"
      [modalForm]="true"
    >
    </cd-form-button-panel>
  </form>
</cds-modal>
