<cds-modal size="sm"  [open]="open" [hasScrollingContent]="false">
  
  <cds-modal-header >
    <h3 cdsModalHeaderHeading i18n>Create Realm/Zone Group/Zone</h3>
  </cds-modal-header>


  <ng-container class="modal-content">
  <section cdsModalContent hasForm="true">
    <form name="createMultisiteEntitiesForm"
          #formDir="ngForm"
          [formGroup]="createMultisiteEntitiesForm"
          novalidate>
    <div class="modal-body">
      <cd-alert-panel type="info"
                      spacingClass="mb-3">The realm/zone group/zone created will be set as default and master.
      </cd-alert-panel>
      <div class="form-group row">
        <cds-text-label for="realmName" i18n cdRequiredField="Realm Name" 
        [invalid]="createMultisiteEntitiesForm.showError('realmName', formDir, 'required')" [invalidText]="realmRequired">
        <input cdsText type="text" id="realmName" name="realmName" formControlName="realmName"  placeholder="Realm name..."
          [invalid]="createMultisiteEntitiesForm.showError('realmName', formDir, 'required')">
      </cds-text-label>

                 <ng-template #realmRequired>
                  <span class="invalid-feedback"
                        *ngIf="createMultisiteEntitiesForm.showError('realmName', formDir, 'required')"
                        i18n>This field is required.</span>
              </ng-template>
        </div>
      </div>
      <div class="form-group row">


      <cds-text-label for="zonegroupName" i18n cdRequiredField="Zone Group Name"  
        [invalid]="createMultisiteEntitiesForm.showError('zonegroupName', formDir, 'required')" [invalidText]="zonegroupNameRequired">
        <input cdsText type="text" id="zonegroupName" name="zonegroupName" formControlName="zonegroupName" placeholder="Zone group name..."
          [invalid]="createMultisiteEntitiesForm.showError('zonegroupName', formDir, 'required')">
      </cds-text-label>
      <ng-template #zonegroupNameRequired>
        <span class="invalid-feedback"
              *ngIf="createMultisiteEntitiesForm.showError('zonegroupName', formDir, 'required')"
              i18n>This field is required.</span>
      </ng-template>

      </div>
      <div class="form-group row">


        <cds-text-label for="zoneName" i18n cdRequiredField="Zone Name" 
        [invalid]="createMultisiteEntitiesForm.showError('zoneName', formDir, 'required')" [invalidText]="zoneNameRequired">
        <input cdsText type="text" id="zoneName" name="zoneName" formControlName="zoneName"  placeholder="Zone name..."
          [invalid]="createMultisiteEntitiesForm.showError('zoneName', formDir, 'required')">
      </cds-text-label>
      <ng-template #zoneNameRequired>
        <span class="invalid-feedback"
              *ngIf="createMultisiteEntitiesForm.showError('zoneName', formDir, 'required')"
              i18n>This field is required.</span>
      </ng-template>


    </div>
      <cds-modal-footer>
        <button class="cds--btn cds--btn--secondary" (click)="closeModal()">Cancel</button>
        <button class="cds--btn cds--btn--primary" modal-primary-focus form="createMultisiteEntitiesForm">abcd</button>
      </cds-modal-footer>
    </form>
  </section>
  </ng-container>
</cds-modal>