<ng-container *ngIf="selection">
  <nav ngbNav
       #nav="ngbNav"
       id="tabset-osd-details"
       class="nav-tabs"
       cdStatefulTab="osd-details">
    <ng-container ngbNavItem="devices">
      <a ngbNavLink
         i18n>Devices</a>
      <ng-template ngbNavContent>
        <cd-device-list [osdId]="osd?.id"></cd-device-list>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="attributes">
      <a ngbNavLink
         i18n>Attributes (OSD map)</a>
      <ng-template ngbNavContent>
        <cd-table-key-value [data]="osd?.details?.osd_map">
        </cd-table-key-value>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="metadata">
      <a ngbNavLink
         i18n>Metadata</a>
      <ng-template ngbNavContent>
        <cd-table-key-value *ngIf="osd?.details?.osd_metadata; else noMetaData"
                            (fetchData)="refresh()"
                            [data]="osd?.details?.osd_metadata">
        </cd-table-key-value>
        <ng-template #noMetaData>
          <cd-alert-panel type="warning"
                          i18n>Metadata not available</cd-alert-panel>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="device-health">
      <a ngbNavLink
         i18n>Device health</a>
      <ng-template ngbNavContent>
        <cd-smart-list [osdId]="osd?.id"></cd-smart-list>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="performance-counter">
      <a ngbNavLink
         i18n>Performance counter</a>
      <ng-template ngbNavContent>
        <cd-table-performance-counter *ngIf="osd?.details"
                                      serviceType="osd"
                                      [serviceId]="osd?.id">
        </cd-table-performance-counter>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="performance-details"
                  *ngIf="grafanaPermission.read">
      <a ngbNavLink
         i18n>Performance Details</a>
      <ng-template ngbNavContent>
        <cd-grafana i18n-title
                    title="OSD details"
                    [grafanaPath]="'osd-device-details?var-osd=osd.' + osd['id']"
                    [type]="'metrics'"
                    uid="CrAHE0iZz"
                    grafanaStyle="three">
        </cd-grafana>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav"></div>
</ng-container>
