<cds-modal size="sm"
           [open]="open"
           [hasScrollingContent]="false"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        modal-primary-focus
        i18n>Individual OSD flags</h3>
  </cds-modal-header>

  <div cdsModalContent>
    <form name="osdFlagsForm"
          [formGroup]="osdFlagsForm"
          novalidate>
      <div>
        @for (flag of flags; track flag.code; let last = $last) {
        <div>
          <cds-checkbox
            [checked]="flag.value"
            [indeterminate]="flag.indeterminate"
            (checkedChange)="changeValue(flag)"
            [name]="flag.code"
            [id]="flag.code"
          >
            <strong>{{ flag.name }}</strong>
            @if (flag.clusterWide) {
            <cds-tag class="cds-ml-3"
                     [cdsTooltip]="clusterWideTooltip"
                     trigger="hover"
                     i18n>Cluster-wide</cds-tag>
            }

            <div class="cds-mt-4">
              <cd-help-text>{{ flag.description }}</cd-help-text>
            </div>
          </cds-checkbox>
          @if (!last) {
          <hr class="cds-m-1" />
          }
        </div>
        }
      </div>
    </form>
  </div>

  <cds-modal-footer>
    <button [cdsButton]="'ghost'"
            (click)="closeModal()"
            type="button"
            i18n>
      Cancel
    </button>
    <button [cdsButton]="'secondary'"
            (click)="resetSelection()"
            type="button"
            i18n>
      Restore previous selection
    </button>
    @if (permissions.osd.update) {
    <cd-submit-button
      (submitAction)="submitAction()"
      [form]="osdFlagsForm"
      [submitText]="actionLabels.UPDATE"
    >{{ actionLabels.UPDATE }}</cd-submit-button>
    }
  </cds-modal-footer>
</cds-modal>
