<hr>
<li class="list-group-item">
  <div class="d-flex pl-1 pb-2 pt-2">
    <div class="ms-4 me-auto">
      <a [routerLink]="link"
         *ngIf="link && data.total; else noLinkTitle"
         [ngPlural]="data.total"
         i18n> {{ data.total }}
        <ng-template ngPluralCase="=0">{{ title }}</ng-template>
        <ng-template ngPluralCase="=1">{{ title }}</ng-template>
        <ng-template ngPluralCase="other">{{ title }}s</ng-template>
      </a>
    </div>
    <span class="me-3">
      <span *ngFor="let item of statusList">
        <span ngbTooltip="{{item?.tooltip}}">
          {{ item.value }}
          <i [ngClass]="[item.class, item.icon]">
          </i>
          <span *ngIf="!item?.icon"
                [ngClass]="[item.class, 'fw-bold']">
                {{item?.tooltip}}
          </span>
        </span>
      </span>
    </span>
  </div>
</li>
<ng-template #noLinkTitle>
  <span *ngIf="data.total || data.total === 0"
        [ngPlural]="data.total">
    {{ data.total }}
    <ng-template ngPluralCase="=0">{{ title }}</ng-template>
    <ng-template ngPluralCase="=1">{{ title }}</ng-template>
    <ng-template ngPluralCase="other">{{ title }}s</ng-template>
  </span>
</ng-template>
