@use './src/styles/defaults' as *;
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/type';

:host {
  flex: 1;
  min-block-size: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.notification-section-heading {
  @include type.type-style('heading-compact-01');
  background-color: $layer-01;
  color: $text-primary;
  display: block;

  margin: 0;
  padding: $spacing-05 $spacing-05 $spacing-03;
  position: sticky;
  top: 0;
  z-index: 2;
}

.task-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: var(--cds-spacing-02);
}

.task-progress {
  @include type.type-style('label-01');

  color: var(--cds-text-secondary);
  text-align: right;
}

.notification-timestamp {
  @include type.type-style('label-01');

  color: $text-secondary;
  display: block;
  line-height: 1;
  margin-top: 0;
}

.notification-title {
  @include type.type-style('body-short-01');
  color: $text-primary;
  display: block;
  line-height: 1.25;

  margin: 0;
  overflow-wrap: break-word;
}

.notification-message {
  @include type.type-style('body-short-01');

  /* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
  -webkit-box-orient: vertical;
  color: $text-helper;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */
  line-height: 1.4;
  margin: 0;
  margin-top: -$spacing-01;
  overflow: hidden;
  overflow-wrap: break-word;
}

.notification-empty {
  @include type.type-style('body-short-01');
  color: $text-secondary;
  margin: 0;
  padding: $spacing-05;
  text-align: center;
}

.notification-wrapper {
  background-color: $layer-01;
  padding: 0 $spacing-05;
  position: relative;
  z-index: 1;

  &:last-child {
    padding-bottom: $spacing-05;
  }
}

.notification-item {
  align-items: flex-start;
  display: flex;
  gap: $spacing-05;
  padding: $spacing-03 0;
  position: relative;

  > cd-icon {
    margin-top: -$spacing-03;
  }

  .notification-close {
    color: $text-helper;
    min-height: 0;
    opacity: 0;
    padding: $spacing-02;
    position: absolute;
    right: 0;
    top: $spacing-03;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      background-color: $layer-hover;
    }
  }

  &:hover {
    .notification-close {
      opacity: 1;
    }
  }
}

.notification-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: $spacing-02;
  min-width: 0;
  padding-right: $spacing-06;
}

.notification-divider {
  border-bottom: 1px solid $border-subtle-01;
}

.notification-area {
  background-color: $layer-01;
}
