<div class="container h-75"
     *ngIf="!startClusterCreation">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="blank-page">
      <!-- htmllint img-req-src="false" -->
      <img [src]="projectConstants.cephLogo"
           alt="Ceph"
           class="img-fluid mx-auto d-block">
      <h3 class="text-center m-2"
          i18n>Welcome to {{ projectConstants.projectName }}</h3>

      <div class="m-4">
        <h4 class="text-center"
            i18n>Please proceed to complete the cluster creation</h4>
        <div class="offset-md-3">
          <button class="btn btn-accent m-3"
                  name="create-cluster"
                  (click)="createCluster()"
                  i18n>Create Cluster</button>
          <button class="btn btn-light"
                  name="skip-cluster-creation"
                  (click)="skipClusterCreation()"
                  i18n>Skip</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card"
     *ngIf="startClusterCreation">
  <div class="card-header"
       i18n>Create Cluster</div>
  <div class="container-fluid">
    <cd-wizard [stepsTitle]="stepTitles"></cd-wizard>
    <div class="card-body vertical-line">
      <ng-container [ngSwitch]="currentStep?.stepIndex">
        <div *ngSwitchCase="'1'"
             class="ml-5">
          <h4 class="title"
              i18n>Add Hosts</h4>
          <br>
          <cd-hosts [clusterCreation]="true"></cd-hosts>
        </div>
        <div *ngSwitchCase="'2'"
             class="ml-5">
          <h4 class="title"
              i18n>Review</h4>
          <br>
          <p>To be implemented</p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-accent m-2 float-right"
            (click)="onNextStep()"
            aria-label="Next"
            i18n>{{ showSubmitButtonLabel() }}</button>
    <cd-back-button class="m-2 float-right"
                    aria-label="Close"
                    (backAction)="onPreviousStep()"
                    [name]="showCancelButtonLabel()"></cd-back-button>
  </div>
</div>
