.cd-nvmeof-subsystem-step-two {
  --host-input-width: 62%;

  &-manual-hosts {
    display: flex;
    align-items: flex-start;
  }

  &-manual-hosts-input {
    flex: 0 0 var(--host-input-width);
    margin-right: var(--cds-spacing-05);
  }

  &-added-hosts-text {
    color: var(--cds-text-secondary);
  }

  &-specific-hosts-tag {
    max-inline-size: 17rem;
  }

  &-csv-container {
    inline-size: var(--host-input-width);
  }

  &-csv-input {
    display: block;
    inline-size: 100%;

    .cds--file,
    .cds--file-browse-btn,
    .cds--file-container,
    .cds--file__drop-container {
      width: 100% !important;
      max-width: 100% !important;
      display: block;
    }

    .cds--file__drop-container {
      min-block-size: 7rem !important;
    }
  }

  &-csv-error-panel {
    .cds--inline-notification,
    .cds--actionable-notification {
      width: 100%;
    }
  }

  &-influencer {
    .cds--contained-list-item__content {
      max-inline-size: 18rem !important;
      padding-left: 0 !important;
    }

    .cds--contained-list__header {
      padding: 0 !important;
    }
  }
}
