<cd-alert-panel type="info"
                *ngIf="status === vcs.ValueNone">
  <ng-container i18n>Retrieving data<span *ngIf="statusFor"> for
  <span [innerHtml]="statusFor"></span></span>. Please wait...</ng-container>
</cd-alert-panel>

<cd-alert-panel *ngIf="status === vcs.ValueStale"
                type="warning">
  <ng-container i18n>Displaying previously cached data<span *ngIf="statusFor">
  for <span [innerHtml]="statusFor"></span></span>.</ng-container>
</cd-alert-panel>

<cd-alert-panel type="error"
                *ngIf="status === vcs.ValueException">
  <ng-container i18n>Could not load data<span *ngIf="statusFor"> for
  <span [innerHtml]="statusFor"></span></span>.
  Please check the cluster health.</ng-container>
</cd-alert-panel>
