<cd-info-panel *ngIf="status === vcs.ValueNone">
  <ng-container i18n>Retrieving data<span *ngIf="statusFor"> for
  <span [innerHtml]="statusFor"></span></span>. Please wait...</ng-container>
</cd-info-panel>

<cd-warning-panel *ngIf="status === vcs.ValueStale">
  <ng-container i18n>Displaying previously cached data<span *ngIf="statusFor">
  for <span [innerHtml]="statusFor"></span></span>.</ng-container>
</cd-warning-panel>

<cd-error-panel *ngIf="status === vcs.ValueException">
  <ng-container i18n>Could not load data<span *ngIf="statusFor"> for
  <span [innerHtml]="statusFor"></span></span>.
  Please check the cluster health.</ng-container>
</cd-error-panel>
