<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item active"
        aria-current="page">Configuration Documentation</li>
  </ol>
</nav>
<cd-table [data]="data | filter:filters"
          (fetchData)="getConfigurationList()"
          [columns]="columns"
          selectionType="single"
          (updateSelection)="updateSelection($event)">
  <div class="table-actions form-inline">
    <div class="form-group filter"
         *ngFor="let filter of filters">
      <label>{{ filter.label }}: </label>
      <select class="form-control input-sm"
              [(ngModel)]="filter.value"
              (ngModelChange)="updateFilter()">
        <option *ngFor="let opt of filter.options">{{ opt }}</option>
      </select>
    </div>
  </div>
  <tabset cdTableDetail *ngIf="selection.hasSingleSelection">
    <tab i18n-heading
         heading="Details">
      <cd-table-key-value [data]="selection.first()" [autoReload]="false">
      </cd-table-key-value>
    </tab>
  </tabset>
</cd-table>
