.filter {
  padding-right: 8px;
}

.fa-stack {
  font-size: 0.79rem;

  .fa-stack-1x {
    margin-left: 8px;
    margin-top: 5px;
  }
}

::ng-deep datatable-body-cell.wrap {
  word-break: break-all;
}
