# created by cephadm
/var/log/ceph/{{ fsid }}/*.log {
    rotate 7
    daily
    compress
    sharedscripts
    postrotate
        {{ systemd_run|shellquote }} --wait --collect --quiet {{ helper_script|shellquote }} || true
        killall -q -1 {{ targets|join(' ') }} || pkill -1 -x '{{ targets|join('|') }}' || true
    endscript
    missingok
    notifempty
    su root root
}
