@import '../../../../defaults';

.login {
  height: 100%;

  .row {
    color: $color-login-row-text;
    background-color: $color-login-row-bg;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .btn-password,
  .form-control {
    color: $color-password-toggle-text;
    background-color: $color-password-toggle-bg;
  }

  .btn-password:focus {
    outline-color: $color-password-toggle-focus;
  }

  .checkbox-primary input[type="checkbox"]:checked + label::before,
  .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: $color-login-checkbox-bg;
    border-color: $color-login-checkbox-border;
  }
}
