@import 'defaults.scss';

::ng-deep cd-login {
  h1 {
    margin: 0 0 30px 0;
  }

  .form-group {
    border-left: 4px solid $color-solid-white;
    background-color: $color-password-toggle-bg;
    height: auto;
    margin-bottom: 2rem;

    &:focus-within {
      border-left: 4px solid $color-accent;
    }

    .invalid-feedback {
      display: inline;
    }
  }

  .btn-password,
  .btn-password:focus,
  .form-control,
  .form-control:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $color-password-toggle-text;
    background-color: $color-password-toggle-bg;
  }

  .placeholder {
    color: $color-password-toggle-placeholder-text;
  }

  .btn-password:focus {
    outline-color: $color-password-toggle-focus;
  }
}

// This will override the colors applied by chrome
@keyframes autofill {
  to {
    color: $color-password-toggle-text;
    background-color: $color-password-toggle-bg;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
