@use './src/styles/defaults/bootstrap-defaults' as bd;

::ng-deep cd-login {
  h1 {
    margin: 0 0 30px;
  }

  .form-group {
    background-color: bd.$color-password-toggle-bg;
    border-left: 4px solid bd.$color-solid-white;
    height: auto;
    margin-bottom: 2rem;

    &:focus-within {
      border-left: 4px solid bd.$color-accent;
    }

    .invalid-feedback {
      display: inline;
    }
  }

  .btn-password,
  .btn-password:focus,
  .form-control,
  .form-control:focus {
    background-color: bd.$color-password-toggle-bg;
    border: 0;
    box-shadow: none;
    color: bd.$color-password-toggle-text;
    filter: none;
    outline: none;
  }

  .placeholder {
    color: bd.$color-password-toggle-placeholder-text;
  }

  .btn-password:focus {
    outline-color: bd.$color-password-toggle-focus;
  }
}

// This will override the colors applied by chrome
@keyframes autofill {
  to {
    background-color: bd.$color-password-toggle-bg;
    color: bd.$color-password-toggle-text;
  }
}

input:-webkit-autofill {
  animation-fill-mode: both;
  animation-name: autofill;
  border-radius: 0;
  box-shadow: 0 0 0 1000px bd.$color-password-toggle-bg inset;
  -webkit-text-fill-color: bd.$color-password-toggle-text;
  transition-property: none;
}
