@if (isLoginActive){
<div class="login-container">
  <form
       [formGroup]="loginForm"
       (ngSubmit)="login()"
       novalidate>
    <div
       cdsGrid
       [useCssGrid]="true"
       [narrow]="true"
       [fullWidth]="true">

      <div
      cdsCol
      [columnNumbers]="{sm: 4, md: 8, lg: 8, xlg: 6}"
      class="login-grid-column">

        <div
        cdsRow
        class="form-heading">
          <h1
          class="sr-only"
          i18n>
              Ceph login
          </h1>
        </div>

        <div
        cdsRow
        class="form-item input-box">
          <div class="ceph-input-block">
            <label
              for="username"
              class="cds--label ceph-label"
              i18n>
              Username
            </label>
            <input ibmText
                   id="username"
                   name="username"
                   formControlName="username"
                   type="text"
                   class="ceph-input"
                   required
                   autofocus>
    @if (loginForm.controls['username'].invalid &&
        (loginForm.controls['username'].touched || submitted)) {
            <div class="cds--form-requirement">
              Username is required
            </div>
    }
          </div>
        </div>

        <div
        cdsRow
        class="form-item input-box">
          <div class="ceph-input-block">
            <label
            for="password"
            class="cds--label ceph-label"
            i18n>Password</label>
            <div class="pwd-wrapper">
              <input ibmText
                     id="password"
                     name="password"
                     formControlName="password"
                     type="password"
                     class="ceph-input"
                     required>
              <button
              type="button"
              cdPasswordButton="password"
              class="pwd-toggle-btn"
              aria-label="toggle-password"></button>
            </div>
    @if (loginForm.controls['password'].invalid &&
        (loginForm.controls['password'].touched || submitted)) {
            <div class="cds--form-requirement">
              Password is required
            </div>
    }
          </div>
        </div>

        <div
        cdsRow
        class="form-actions">
          <button
          ibmButton="primary"
          type="submit"
          class="ceph-submit-btn"
          i18n>
            Log in
          </button>
        </div>

      </div>
    </div>
  </form>

</div>
}
