@import 'defaults';

::ng-deep cd-login {
  h1 {
    margin: 0 0 30px 0;
  }

  .btn-password,
  .btn-password:focus,
  .form-control,
  .form-control:focus {
    color: $color-password-toggle-text;
    background-color: $color-password-toggle-bg;
  }

  .form-control::placeholder {
    color: $color-password-toggle-placeholder-text;
  }

  .btn-password:focus {
    outline-color: $color-password-toggle-focus;
  }
}

// This will override the colors applied by chrome
@keyframes autofill {
  to {
    color: $color-password-toggle-text;
    background-color: $color-password-toggle-bg;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}
