<cd-nvmeof-tabs></cd-nvmeof-tabs>

<div class="pb-3"
     cdsCol
     [columnNumbers]="{md: 4}">
  <cds-combo-box
      type="single"
      label="Selected Gateway Group"
      i18n-label
      [placeholder]="gwGroupPlaceholder"
      [items]="gwGroups"
      (selected)="onGroupSelection($event)"
      (clear)="onGroupClear()"
      [disabled]="gwGroupsEmpty">
    <cds-dropdown-list></cds-dropdown-list>
  </cds-combo-box>
</div>

<legend i18n>
  Subsystems
  <cd-help-text>
    A subsystem provides access control to which hosts can access the namespaces within the subsystem.
  </cd-help-text>
</legend>
<cd-table [data]="subsystems"
          columnMode="flex"
          (fetchData)="getSubsystems()"
          [columns]="subsystemsColumns"
          selectionType="single"
          [hasDetails]="true"
          (setExpandedRow)="setExpandedRow($event)"
          (updateSelection)="updateSelection($event)">

  <div class="table-actions">
    <cd-table-actions [permission]="permissions.nvmeof"
                      [selection]="selection"
                      class="btn-group"
                      [tableActions]="tableActions">
    </cd-table-actions>
  </div>

  <cd-nvmeof-subsystems-details *cdTableDetail
                                [selection]="expandedRow"
                                [permissions]="permissions"
                                [group]="group">
  </cd-nvmeof-subsystems-details>
</cd-table>
<router-outlet name="modal"></router-outlet>
