<div class="pb-3"
     cdsCol
     [columnNumbers]="{md: 6}">
  <cds-combo-box
      type="single"
      label="Selected Gateway Group"
      i18n-label
      [placeholder]="gwGroupPlaceholder"
      [items]="gwGroups"
      (selected)="onGroupSelection($event)"
      (clear)="onGroupClear()"
      [disabled]="gwGroupsEmpty">
    <cds-dropdown-list></cds-dropdown-list>
  </cds-combo-box>
</div>

<cd-table #table
          [data]="subsystems"
          [columns]="subsystemsColumns"
          columnMode="flex"
          selectionType="single"
          [hasDetails]="true"
          (setExpandedRow)="setExpandedRow($event)"
          (updateSelection)="updateSelection($event)"
          emptyStateTitle="No subsystems created"
          i18n-emptyStateTitle
          emptyStateMessage="Subsystems group NVMe namespaces and manage host access. Create a subsystem to start mapping NVMe volumes to hosts."
          i18n-emptyStateMessage>

  <div class="table-actions">
    <cd-table-actions [permission]="permissions.nvmeof"
                      [selection]="selection"
                      class="btn-group"
                      [tableActions]="tableActions">
    </cd-table-actions>
  </div>

  <cd-nvmeof-subsystems-details *cdTableDetail
                                [selection]="expandedRow"
                                [permissions]="permissions"
                                [group]="expandedRow?.gw_group">
  </cd-nvmeof-subsystems-details>
</cd-table>

<ng-template #authenticationTpl
             let-row="data.row">
  <div [cdsStack]="'horizontal'"
       gap="4">
  @if (row.enable_ha === false) {
    <cd-icon type="warning"></cd-icon>
    <span class="cds-ml-3"
          i18n>No authentication</span>
  } @else if (row.allow_any_host) {
    <cd-icon type="success"></cd-icon>
    <span class="cds-ml-3"
          i18n>Unidirectional</span>
  } @else {
    <cd-icon type="success"></cd-icon>
    <span class="cds-ml-3"
          i18n>Bidirectional</span>
  }
  </div>
</ng-template>

<ng-template #encryptionTpl
             let-row="data.row">
  <div [cdsStack]="'horizontal'"
       gap="4">
  @if (row.enable_ha) {
    <cd-icon type="success"></cd-icon>
    <span class="cds-ml-3"
          i18n>Enabled</span>
  } @else {
    <cd-icon type="error"></cd-icon>
    <span class="cds-ml-3"
          i18n>Disabled</span>
  }
  </div>
</ng-template>

<router-outlet name="modal"></router-outlet>
