<cd-table #table
          [autoReload]="false"
          [data]="buckets"
          [columns]="columns"
          columnMode="flex"
          selectionType="multiClick"
          (updateSelection)="updateSelection($event)"
          identifier="bid"
          (fetchData)="getBucketList($event)">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [selection]="selection"
                    [tableActions]="tableActions">
  </cd-table-actions>
  <cd-rgw-bucket-details cdTableDetail
                         [selection]="selection">
  </cd-rgw-bucket-details>
</cd-table>
