<cd-alert-panel *ngIf="isStale"
                type="warning"
                size="slim"
                i18n>The bucket list data might be stale. If needed, you can manually reload it.</cd-alert-panel>
<cd-table #table
          [autoReload]="false"
          [data]="buckets"
          [columns]="columns"
          columnMode="flex"
          selectionType="multiClick"
          [hasDetails]="true"
          (setExpandedRow)="setExpandedRow($event)"
          (updateSelection)="updateSelection($event)"
          identifier="bid"
          (fetchData)="getBucketList($event)">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [selection]="selection"
                    [tableActions]="tableActions">
  </cd-table-actions>
  <cd-rgw-bucket-details cdTableDetail
                         [selection]="expandedRow">
  </cd-rgw-bucket-details>
</cd-table>

<ng-template #bucketSizeTpl
             let-row="row">
  <cd-usage-bar *ngIf="row.bucket_quota.max_size > 0 && row.bucket_quota.enabled; else noSizeQuota"
                [total]="row.bucket_quota.max_size"
                [used]="row.bucket_size">
  </cd-usage-bar>

  <ng-template #noSizeQuota>No Limit</ng-template>
</ng-template>

<ng-template #bucketObjectTpl
             let-row="row">
  <cd-usage-bar *ngIf="row.bucket_quota.max_objects > 0 && row.bucket_quota.enabled; else noObjectQuota"
                [total]="row.bucket_quota.max_objects"
                [used]="row.num_objects"
                [isBinary]="false">
  </cd-usage-bar>

  <ng-template #noObjectQuota>No Limit</ng-template>
</ng-template>
