<cd-modal [modalRef]="activeModal">
  <ng-container i18n="form title"
                class="modal-title">{{ action | titlecase }} {{ resource | upperFirst }}</ng-container>

  <ng-container class="modal-content">
    <div class="modal-body">
      <form novalidate>
        <!-- Username -->
        <div class="form-group row">
          <label class="cd-col-form-label"
                 for="user"
                 i18n>Username</label>
          <div class="cd-col-form-input">
            <input id="user"
                   name="user"
                   class="form-control"
                   type="text"
                   [readonly]="true"
                   [(ngModel)]="user">
          </div>
        </div>

        <!-- Secret key -->
        <div class="form-group row">
          <label class="cd-col-form-label"
                 for="secret_key"
                 i18n>Secret key</label>
          <div class="cd-col-form-input">
            <div class="input-group">
              <input id="secret_key"
                     name="secret_key"
                     class="form-control"
                     type="password"
                     [(ngModel)]="secret_key"
                     [readonly]="true">
              <button type="button"
                      class="btn btn-light"
                      cdPasswordButton="secret_key">
              </button>
              <cd-copy-2-clipboard-button source="secret_key">
              </cd-copy-2-clipboard-button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <cd-back-button (backAction)="activeModal.close()"></cd-back-button>
    </div>
  </ng-container>
</cd-modal>
