@use '@carbon/colors';
@use '@carbon/layout';

.nvme-shell {
  min-height: calc(100vh - #{layout.rem(157px)});
  background-color: colors.$gray-10;
  transform: translate(0);
  position: relative;
}

.nvme-main {
  margin-left: layout.rem(272px);
}
