<cd-iscsi-tabs></cd-iscsi-tabs>

<cd-table title="Gateways"
          [data]="gateways"
          (fetchData)="refresh()"
          [columns]="gatewaysColumns">
</cd-table>

<cd-table title="Images"
          [data]="images"
          [columns]="imagesColumns">
</cd-table>

<ng-template #iscsiSparklineTpl
             let-row="row"
             let-value="value">
  <span *ngIf="row.backstore === 'user:rbd'">
    <cd-sparkline [data]="value"
                  [isBinary]="row.cdIsBinary"></cd-sparkline>
  </span>
  <span *ngIf="row.backstore !== 'user:rbd'"
        class="text-muted">
    n/a
  </span>
</ng-template>

<ng-template #iscsiPerSecondTpl
             let-row="row"
             let-value="value">
  <span *ngIf="row.backstore === 'user:rbd'">
    {{ value }} /s
  </span>
  <span *ngIf="row.backstore !== 'user:rbd'"
        class="text-muted">
    n/a
  </span>
</ng-template>

<ng-template #iscsiRelativeDateTpl
             let-row="row"
             let-value="value">
  <span *ngIf="row.backstore === 'user:rbd'">
    {{ value | relativeDate }}
  </span>
  <span *ngIf="row.backstore !== 'user:rbd'"
        class="text-muted">
    n/a
  </span>
</ng-template>
