<div class="overlay"
     (click)="close()"
     *ngIf="expanded && overlay"></div>

<cds-panel [expanded]="expanded"
           [attr.panel-size]="size">
  <ng-container *ngIf="headerText">
    <span class="panel-header cds--type-heading-03">{{ headerText }}</span>
    <cds-icon-button kind="ghost"
                     class="close-btn"
                     title="Close"
                     (click)="close()">
      <svg cdsIcon="close"></svg>
    </cds-icon-button>
  </ng-container>

  <ng-content select=".panel-content"></ng-content>
  <ng-content select=".panel-footer"></ng-content>
</cds-panel>
