@use '../../../../styles/vendor/variables' as vv;
@use '@carbon/layout';
@use '@carbon/styles/scss/theme';

:host ::ng-deep cds-panel {
  .cds--header-panel--expanded {
    display: flex;
    flex-direction: column;
  }

  &[panel-size='sm'] .cds--header-panel--expanded {
    inline-size: 20rem;
  }

  &[panel-size='md'] .cds--header-panel--expanded {
    inline-size: 30rem;
  }

  &[panel-size='lg'] .cds--header-panel--expanded {
    inline-size: 40rem;
  }

  &[panel-size='xl'] .cds--header-panel--expanded {
    inline-size: 60rem;
  }

  &[panel-size='2xl'] .cds--header-panel--expanded {
    inline-size: 80rem;
  }

  .panel-header {
    flex-direction: row;
    margin: layout.$spacing-04;
  }

  .close-btn {
    position: absolute;
    right: 0;
  }

  .panel-content {
    flex: 1;
    overflow: auto;
    padding: 0 layout.$spacing-04 0 layout.$spacing-04;
  }

  .panel-footer {
    display: flex;
    justify-content: flex-end;
    width: 100% ;
    border-top: 1px solid theme.$border-subtle-02;
  }
}

.overlay {
  background-color: vv.$side-panel-overlay-bg;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
