<div class="overlay"
     (click)="close()"
     *ngIf="expanded && overlay"></div>

<cds-panel [expanded]="expanded"
           [attr.panel-size]="size">
  <cds-icon-button
    kind="ghost"
    class="float-end"
    title="Close"
    (click)="close()">
    <svg
      cdsIcon="close"></svg>
  </cds-icon-button>
  <div class="cds-h-100">
    <div
      class="panel-header spacing-04"
      *ngIf="headerText">
        {{ headerText }}
    </div>

    <div class="cd-flex-space-between"
         [ngClass]="{ 'with-footer': hasFooter }">
      <ng-content select=".panel-content"></ng-content>
      <ng-content select=".panel-footer"></ng-content>
    </div>
  </div>
</cds-panel>
