<cd-prometheus-tabs></cd-prometheus-tabs>

<cd-alert-panel *ngIf="!isAlertmanagerConfigured"
                type="info"
                i18n>To enable Silences, please provide the URL to
  the API of the Prometheus' Alertmanager as described in the&nbsp;
  <cd-doc section="prometheus"></cd-doc>.</cd-alert-panel>

<cd-table *ngIf="isAlertmanagerConfigured"
          [data]="silences"
          [columns]="columns"
          [forceIdentifier]="true"
          [customCss]="customCss"
          [sorts]="sorts"
          selectionType="single"
          [hasDetails]="true"
          (setExpandedRow)="setExpandedRow($event)"
          (fetchData)="refresh()"
          (updateSelection)="updateSelection($event)">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [selection]="selection"
                    [tableActions]="tableActions">
  </cd-table-actions>
  <ng-container *ngIf="expandedRow">
    <cd-table-key-value *cdTableDetail
                        [renderObjects]="true"
                        [hideEmpty]="true"
                        [appendParentKey]="false"
                        [data]="expandedRow"
                        [customCss]="customCss"
                        [autoReload]="false">
    </cd-table-key-value>
  </ng-container>
</cd-table>
