<ng-container *ngIf="!loading; else isLoading">
  <ng-container *ngIf="incompatible; else isCompatible">
    <cd-warning-panel i18n>The data received has the JSON format version 2.x and is currently incompatible with the dashboard.</cd-warning-panel>
  </ng-container>
  <ng-template #isCompatible>
    <tabset *ngFor="let device of data | keyvalue">
      <tab [heading]="device.value.device + ' (' + device.value.identifier + ')'">
        <ng-container *ngIf="device.value.error; else noError">
          <cd-warning-panel>{{ device.value.userMessage }}</cd-warning-panel>
        </ng-container>
        <ng-template #noError>
          <tabset>
            <tab i18n-heading
                 heading="Device Information">
              <cd-table-key-value [renderObjects]="true"
                                  [data]="device.value.info"></cd-table-key-value>
            </tab>

            <tab i18n-heading
                 heading="S.M.A.R.T">
              <cd-table [data]="device.value.smart.table"
                        updateSelectionOnRefresh="never"
                        [columns]="columns"></cd-table>
            </tab>
          </tabset>
        </ng-template>
      </tab>
    </tabset>
  </ng-template>
</ng-container>
<ng-template #isLoading>
  <cd-loading-panel i18n>S.M.A.R.T data is loading.</cd-loading-panel>
</ng-template>
