<div class="nvmeof-content-layout">
  <div class="nvmeof-content-main">
    <ng-container *ngIf="namespaces$ | async as namespaces">
      <cd-table
        [data]="namespaces"
        [compactSearchField]="true"
        columnMode="flex"
        (fetchData)="fetchData()"
        [columns]="namespacesColumns"
        identifier="unique_id"
        [forceIdentifier]="true"
        selectionType="single"
        (updateSelection)="updateSelection($event)"
        emptyStateTitle="No namespaces created."
        i18n-emptyStateTitle
        emptyStateMessage="Namespaces are storage volumes mapped to subsystems for host access. Create a namespace to start provisioning storage within a subsystem."
        i18n-emptyStateMessage
      >
        <div class="table-filter">
          <cd-nvmeof-gateway-group-filter (groupChange)="groupHandler.onGroupChange($event)">
          </cd-nvmeof-gateway-group-filter>
        </div>

        <div class="table-actions">
          <cd-table-actions
            [permission]="permission"
            [selection]="selection"
            class="btn-group"
            [tableActions]="tableActions"
          >
          </cd-table-actions>
        </div>
      </cd-table>
    </ng-container>
  </div>
</div>

<router-outlet name="modal"></router-outlet>
