<div cdsGrid
     [narrow]="true"
     [condensed]="false"
     [fullWidth]="true"
     class="overview">
  <div cdsRow
       [narrow]="true"
       class="overview-row">
    <div cdsCol
         [columnNumbers]="{md: 16, lg: 11}">
      <cds-tile>Health card</cds-tile>
    </div>
    <div cdsCol
         [columnNumbers]="{md: 16, lg: 5}">
      <cds-tile>Alerts card</cds-tile>
    </div>
  </div>
  <div cdsRow
       [narrow]="true"
       class="overview-row">
    <div cdsCol
         [columnNumbers]="{md: 16, lg: 11}">
      <cds-tile>Storage card</cds-tile>
    </div>
    <div cdsCol
         [columnNumbers]="{md: 16, lg: 5}">
      <cds-tile>Docs card</cds-tile>
    </div>
  </div>
  <div cdsRow>
    <div cdsCol
         [columnNumbers]="{md: 16, lg: 16}">
      <cds-tile>Performance card</cds-tile>
    </div>
  </div>
</div>
