<div cdsGrid
     [narrow]="true"
     [condensed]="false"
     [fullWidth]="true"
     class="cds-mt-5 cds-mb-5">
  <div cdsRow
       [narrow]="true">
    <div cdsCol
         class="cds-mb-5"
         [columnNumbers]="{lg: 11}">
      <cds-tile>Health card</cds-tile>
    </div>
    <div cdsCol
         class="cds-mb-5"
         [columnNumbers]="{lg: 5}">
      <cds-tile>Alerts card</cds-tile>
    </div>
  </div>
  <div cdsRow
       [narrow]="true">
    <div cdsCol
         class="cds-mb-5"
         [columnNumbers]="{lg: 11}">
      <cds-tile>Storage card</cds-tile>
    </div>
    <div cdsCol
         class="cds-mb-5"
         [columnNumbers]="{lg: 5}">
      <cds-tile>Docs card</cds-tile>
    </div>
  </div>
  <div cdsRow>
    <div cdsCol
         class="cds-mb-5"
         [columnNumbers]="{lg: 16}">
      <cds-tile>Performance card
            <app-area-chart
              [chartKey]="performanceTypes.Throughput"
              chartTitle="Throughput"
              [dataUnit]="metricUnitMap.throughput"
              [rawData]="chartData.throughput">
            </app-area-chart>
      </cds-tile>
    </div>
  </div>
</div>
