<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-end">
      <form class="form-inline">
        <label for="refreshInterval"
               class="col-form-label my-0 mx-2"
               i18n>Refresh</label>
        <select id="refreshInterval"
                name="refreshInterval"
                class="form-control"
                (change)="changeRefreshInterval($event.target.value)"
                [(ngModel)]="selectedInterval">
          <option *ngFor="let key of intervalKeys"
                  [value]="intervalList[key]">{{ key }}</option>
        </select>
      </form>
    </div>
  </div>
</div>
