<div class="container-fluid">
  <div class="row">
    <form>
      <div class="col-sm-1 d-flex float-end">
        <label for="refreshInterval"
               class="col-form-label my-0 mx-2 float-end"
               i18n>Refresh</label>
        <select id="refreshInterval"
                name="refreshInterval"
                class="form-select float-end"
                (change)="changeRefreshInterval($event.target.value)"
                [(ngModel)]="selectedInterval">
          <option *ngFor="let key of intervalKeys"
                  [value]="intervalList[key]">{{ key }}</option>
        </select>
      </div>
    </form>
  </div>
</div>
