<cd-alert-panel *ngIf="displayNotification"
                class="no-margin-bottom"
                [showTitle]="false"
                size="slim"
                [type]="notificationSeverity"
                [dismissible]="notificationSeverity !== 'danger'"
                [actionName]="'Configure Telemetry'"
                (action)="onConfigure()"
                (dismissed)="onDismissed()">
  <span i18n>Activate
    <a href="https://docs.ceph.com/en/latest/mgr/telemetry/"
       target="_blank"
       rel="noopener"> Telemetry
    </a>: The Ceph community welcomes your support in enhancing our efforts. Please activate the telemetry module.
  </span>
</cd-alert-panel>
