@use './src/styles/defaults/bootstrap-defaults' as bd;

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-top: 8px;
  padding: 8px 0;
}

.breadcrumb > li + li::before {
  color: bd.$color-breadcrumb;
  content: '\f101';
  font-family: 'ForkAwesome';
  padding: 0 5px 0 7px;
}

.breadcrumb > li > span {
  color: bd.$color-breadcrumb;
}
