<cd-modal>
  <ng-container i18n
                class="modal-title">Purge Trash</ng-container>

  <ng-container class="modal-content">
    <form name="purgeForm"
          class="form"
          #formDir="ngForm"
          [formGroup]="purgeForm"
          novalidate>
      <div class="modal-body">
        <p>
          <ng-container i18n>To purge, select one or All images and click</ng-container>&nbsp;
          <kbd i18n>Purge Trash</kbd>.&nbsp;
        </p>

        <div class="form-group">
          <label class="center-block"
                 i18n>Pool:
          </label>
          <input class="form-control"
                 type="text"
                 placeholder="Pool name..."
                 i18n-placeholder
                 formControlName="poolName"
                 *ngIf="!poolPermission.read">
          <select class="form-control"
                  formControlName="poolName"
                  *ngIf="poolPermission.read">
            <option value=""
                    i18n>All</option>
            <option *ngFor="let pool of pools"
                    [value]="pool">{{ pool }}</option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <div class="button-group text-right">
          <cd-submit-button i18n
                            [form]="purgeForm"
                            (submitAction)="purge()">
            Purge Trash
          </cd-submit-button>
          <button i18n
                  type="button"
                  class="btn btn-sm btn-default"
                  (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>
    </form>
  </ng-container>
</cd-modal>
