@if (showDocPanel) {
  <cd-orchestrator-doc-panel></cd-orchestrator-doc-panel>
}

@if (flag === 'hostDetails') {
  <div>
    <ng-container *ngTemplateOutlet="serviceDaemonDetailsTpl"></ng-container>
  </div>
} @else {
  @switch (mode) {
    @case ('daemons') {
      <ng-container *ngTemplateOutlet="serviceDaemonDetailsTpl"></ng-container>
    }
    @case ('events') {
      @if (hasOrchestrator) {
        <cd-table
          #serviceTable
          [data]="services"
          [columns]="serviceColumns"
          columnMode="flex"
          (fetchData)="getServices($event)"
        >
        </cd-table>
      }
    }
  }
}

<ng-template
  #statusTpl
  let-row="data.row"
>
  @if (row.status_desc) {
    <cds-tag [class]="row | pipeFunction: getStatusClass">
      {{ row.status_desc }}
    </cds-tag>
  }
</ng-template>

<ng-template
  #listTpl
  let-events="data.value"
>
  @if (events?.length) {
    <ul class="list-group list-group-flush">
      @for (event of events; track trackByFn($index, event)) {
        <li class="list-group-item">
          <b>{{ event.created | relativeDate }} - </b>
          <cds-tag class="tag-info">{{ event.subject }}</cds-tag
          ><br />
          @if (event.level === 'INFO') {
            <span>
              <svg
                [cdsIcon]="icons.infoCircle"
                [size]="icons.size16"
                class="cds-info-color"
              ></svg>
            </span>
          }
          @if (event.level === 'ERROR') {
            <span>
              <svg
                [cdsIcon]="icons.warning"
                [size]="icons.size16"
                class="cds-warning-color"
              ></svg>
            </span>
          }
          {{ event.message }}
        </li>
      }
    </ul>
  } @else {
    <div class="list-group-item">
      <span>No data available</span>
    </div>
  }
</ng-template>

<ng-template #serviceDaemonDetailsTpl>
  @if (hasOrchestrator) {
    <cd-table
      #daemonsTable
      [data]="daemons"
      selectionType="single"
      [columns]="columns"
      columnMode="flex"
      identifier="daemon_name"
      (fetchData)="getDaemons($event)"
      (updateSelection)="updateSelection($event)"
    >
      <cd-table-actions
        id="service-daemon-list-actions"
        class="table-actions"
        [selection]="selection"
        [permission]="permissions.hosts"
        [tableActions]="tableActions"
      >
      </cd-table-actions>
    </cd-table>
  }
</ng-template>

<ng-template
  #cpuTpl
  let-row="data.row"
>
  <cd-usage-bar
    [total]="total"
    [calculatePerc]="false"
    [used]="row.cpu_percentage"
    [isBinary]="false"
  >
  </cd-usage-bar>
</ng-template>
