@use './src/styles/vendor/variables' as vv;

h4 {
  color: vv.$gray-700;
}

i {
  font-size: 6em;
  margin-top: 120px;
}

.text-center {
  background-color: vv.$body-bg-alt;
}

.dashboard {
  background-color: vv.$body-bg-alt;
  height: 100%;
  position: relative;
}

.content {
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.row {
  display: block;
  margin-left: -29px;
  margin-right: -29px;
  padding-top: 10em;
}

.fa-exclamation-triangle {
  color: vv.$danger;
}

.fa-lock {
  color: vv.$danger;
}

.fa-wrench {
  color: vv.$info;
}
