@use './src/styles/vendor/variables' as vv;

.chart {
  height: 9vh;
}

.box {
  background-color: vv.$chart-color-strong-blue;
  border: 2px double vv.$chart-color-light-gray;
  height: 13px;
  width: 13px;
}
