#passwordStrengthLevel {
  height: 13px;
  display: block;
}
.passwordStrengthLevel0 {
  width: 250px;
  background: #ffffff;
}
.passwordStrengthLevel1 {
  width: 40px;
  background: #b80a0a;
}
.passwordStrengthLevel2 {
  width: 75px;
  background: #e6cc08;
}
.passwordStrengthLevel3 {
  width: 150px;
  background: #46a30d;
}
.passwordStrengthLevel4 {
  width: 250px;
  background: #245e03;
}
