.overview-storage-card {
  &-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .cds--label {
      padding-right: var(--cds-spacing-03);
    }

    .cds--dropdown {
      flex: 0 0 40%;
    }
  }

  &-usage-text {
    display: flex;
    justify-content: space-between;
  }

  // Hiding the native chart title
  &-chart {
    .meter-title {
      display: none !important;
    }

    .spacer {
      display: none !important;
    }
  }
}

.avg-consumption-wrapper {
  display: inline-flex;   // shrink to text width
  width: fit-content;     // prevent full-width stretching
}

.avg-consumption-wrapper cds-tooltip-definition {
  display: inline-block;  // prevent block expansion
  width: auto;
}
