<cds-tabs
  type="contained"
  followFocus="true"
  isNavigation="true"
  [cacheActive]="false">
  <cds-tab
    heading="Images"
    i18n-heading
    [tabIndex]="null"
    [active]="activeTab === Tabs.images"
    (selected)="onSelected(Tabs.images)">
  </cds-tab>
  <cds-tab
    heading="Namespaces"
    i18n-heading
    [tabIndex]="null"
    [active]="activeTab === Tabs.namespaces"
    (selected)="onSelected(Tabs.namespaces)">
  </cds-tab>
  <cds-tab
    heading="Trash"
    i18n-heading
    [tabIndex]="null"
    [active]="activeTab === Tabs.trash"
    (selected)="onSelected(Tabs.trash)">
  </cds-tab>
  @if (grafanaPermission.read) {
    <cds-tab
      heading="Overall Performance"
      i18n-heading
      [tabIndex]="null"
    [active]="activeTab === Tabs.performance"
      (selected)="onSelected(Tabs.performance)">
    </cds-tab>
  }
</cds-tabs>
