<ul class="pb-5">
  <li><i [ngClass]="[icons.large2x, icons.reweight]"
         class="pt-2"></i></li>
  <li class="badge badge-info mt-2">{{realm}}</li>
  <li><i [ngClass]="[icons.large2x, icons.down]"
         class="mt-2"></i></li>
  <li><i [ngClass]="[icons.large2x, icons.cubes]"
         class="mt-2"></i></li>
  <p class="badge badge-info mt-2">{{zonegroup}}</p>
  <li><i [ngClass]="[icons.large2x, icons.down]"
         class="mt-2"></i></li>
  <li><i [ngClass]="[icons.large2x, icons.deploy]"
         class="mt-2"></i></li>
  <li class="badge badge-info mt-2">{{zone}}</li>
</ul>
