<ul class="pb-5">
  <li>
    <cd-icon type="scales"
             [size]="iconSize.size20"></cd-icon>
  </li>
  <li class="mt-2"><cds-tag class="tag-info">{{realm}}</cds-tag></li>
  <li>
    <cd-icon type="arrowDown"></cd-icon>
  </li>
  <li>
    <cd-icon type="dataClass"
             [size]="iconSize.size24"></cd-icon>
  </li>
  <p class="mt-2"> <cds-tag class="tag-info">{{zonegroup}}</cds-tag></p>
  <li>
    <cd-icon type="arrowDown"
             [size]="iconSize.size20"></cd-icon>
  </li>
  <li>
    <cd-icon type="deploy"
             [size]="iconSize.size20"></cd-icon>
  </li>
  <li class="mt-2"><cds-tag class="tag-info">{{zone}}</cds-tag></li>
</ul>
