@use './src/styles/vendor/variables' as vv;

.rgw-overview-card-popover {
  max-height: 600px;
  max-width: 400px;
  word-break: break-all;

  .popover-body {
    font-size: 1rem;
    max-height: 600px;
    max-width: 400px;
    overflow: auto;

    li {
      span {
        font-size: 1.1em;
      }
    }
  }
}
