@use './src/styles/vendor/variables' as vv;
@use './src/styles/ceph-custom/grid'  as *;

hr {
  margin-bottom: 2px;
  margin-top: 2px;
}

.list-group-item {
  border: 0;
}

.align-replica-zones {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.align-primary-zone {
  padding-left: 4em;
}

.border-left {
  border-left: 1px solid vv.$chart-color-border;
}

.rgw-overview-card-popover {
  max-height: 600px;
  max-width: 400px;
  word-break: break-all;

  .popover-body {
    font-size: 1rem;
    max-height: 600px;
    max-width: 400px;
    overflow: auto;

    li {
      span {
        font-size: 1.1em;
      }
    }
  }
}
