<cd-productive-card>
  <ng-template #header>
    @if (cardTitle) {
    <h3 class="cds--type-heading-03" i18n>{{ cardTitle }}</h3>
    }
  </ng-template>

  <div [cdsStack]="'vertical'"
       [gap]="0">
    @if (details && details.length > 0) {
    <div [cdsStack]="'horizontal'"
         [gap]="5">
      @for (detail of getVisibleDetails(); track detail.label) {
      <div [cdsStack]="'vertical'"
           [gap]="2">
        <label class="cds--type-label-01">{{ detail.label }}</label>
        <div class="cds--type-body-01">
          @switch (detail.type) {
            @case ('status') {
              <div [cdsStack]="'horizontal'" [gap]="3">
                <cd-icon [type]="getStatusIcon(detail)"></cd-icon>
                <span>{{ getDisplayValue(detail.value) }}</span>
              </div>
            }

            @default {
              <span>{{ getDisplayValue(detail.value) }}</span>
            }
          }
        </div>
      </div>
      }
    </div>
    }
    <ng-content></ng-content>
  </div>
</cd-productive-card>
