@use '@carbon/layout';

.details-card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: layout.$spacing-05;
  position: relative;
}

.details-card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: layout.$spacing-07;
}
