<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Cluster</li>
    <li class="breadcrumb-item active">
      <a [routerLink]="['/monitor']">Monitors</a>
    </li>
    <li class="breadcrumb-item active">{{ serviceType }}.{{ serviceId }} </li>
  </ol>
</nav>

<fieldset>
  <legend>Performance Counters</legend>

  <cd-table-performance-counter [serviceType]="serviceType"
                                [serviceId]="serviceId">
  </cd-table-performance-counter>
</fieldset>
