# mod_proxy_fcgi config, using TCP 

<IfModule !proxy_module>
  LoadModule proxy_module {mod_path}/mod_proxy.so
</IfModule>
<IfModule !proxy_fcgi_module>
  LoadModule proxy_fcgi_module {mod_path}/mod_proxy_fcgi.so
</IfModule>

RewriteEngine On

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{{HTTP:Authorization}},L]

SetEnv proxy-nokeepalive 1

ProxyPass / fcgi://0.0.0.0:9000/
