# generic entries
Makefile

# local directory specific entries
/.git_version
/.libs
/acconfig.h*
/ceph
/cephfs
/crushtool
/ceph-authtool
/ceph-client-debug
/cephfs-journal-tool
/ceph-conf
/ceph-coverage
/ceph-crush-location
/ceph-debugpack
/ceph-post-file
/ceph-dencoder
/ceph-fuse
/ceph-mds
/ceph-mon
/ceph-osd
/ceph-syn
/ceph.conf
/ceph_bench_log
/ceph_objectstore_tool
/ceph_mon_store_converter
/ceph_multi_stress_watch
/ceph_erasure_code
/ceph_erasure_code_benchmark
/ceph_erasure_code_non_regression
/ceph_psim
/ceph_radosacl
/ceph_rgw_jsonparser
/ceph_rgw_multiparser
/ceph_scratchtool
/ceph_scratchtoolpp
/ceph_streamtest
/ceph_test_*
/ceph_tpbench
/ceph_xattr_bench
/ceph_kvstorebench
/ceph_omapbench
/ceph_smalliobench
/ceph_smalliobenchdumb
/ceph_smalliobenchfs
/ceph_smalliobenchrbd
/ceph-monstore-tool
/ceph-osdomap-tool
/ceph-kvstore-tool
/ceph_ver.h
/dev
/init-ceph
/keyring
/librados-config
/massif.out.*
/mnt
/monmaptool
/mount.ceph
/osdmaptool
/out
/rados
/radosgw
/radosgw-admin
/rbd
/rbd-fuse
/rbd-replay
/rbd-replay-prep
/rest-bench
/sample.fetch_config
/TAGS
/tags
/testmsgr
/test_*
/test-suite.log
/cls_test_*
/unittest_*
/get_command_descriptions

# old dir, may in use by older branches
/leveldb
/mkcephfs
