# generic entries
Makefile
*.csv

# local directory specific entries
/.git_version
/.libs
/acconfig.h*
/build
/ceph
/cephfs
/crushtool
/ceph-authtool
/ceph-client-debug
/cephfs-journal-tool
/cephfs-table-tool
/cephfs-data-scan
/ceph-conf
/ceph-coverage
/ceph-crush-location
/ceph-debugpack
/ceph-post-file
/ceph-dencoder
/ceph-fuse
/ceph-mds
/ceph-mon
/ceph-osd
/ceph-syn
/ceph.tmpe
/ceph.conf
/ceph_bench_log
/ceph-objectstore-tool
/ceph_multi_stress_watch
/ceph_erasure_code
/ceph_erasure_code_benchmark
/ceph_erasure_code_non_regression
/ceph_perf_local
/ceph_perf_msgr_server
/ceph_perf_msgr_client
/ceph_perf_objectstore
/ceph_psim
/ceph_radosacl
/ceph_rgw_jsonparser
/ceph_rgw_multiparser
/ceph_scratchtool
/ceph_scratchtoolpp
/ceph_test_*
/ceph_tpbench
/ceph_xattr_bench
/ceph_kvstorebench
/ceph_omapbench
/ceph_objectstore_bench
/ceph_smalliobench
/ceph_smalliobenchdumb
/ceph_smalliobenchfs
/ceph_smalliobenchrbd
/ceph-monstore-tool
/ceph-osdomap-tool
/ceph-kvstore-tool
/ceph-bluefs-tool
/ceph_ver.h
/dev
/get_command_descriptions
/init-ceph
/keyring
/librados-config
/librgw_file*
/massif.out.*
/mnt
/monmaptool
/mount.ceph
/osdmaptool
/out
/rados
/radosgw
/radosgw-admin
/radosgw-token
/radosgw-object-expirer
/rbd
/rbd-mirror
/rbd-nbd
/rbd-fuse
/rbd-replay
/rbd-replay-prep
/sample.fetch_config
/simple_client
/simple_server
/TAGS
/tags
/testmsgr
/test_*
/test-suite.log
/cls_test_*
/unittest_*
/xio_client
/xio_server

# old dir, may in use by older branches
/leveldb
/mkcephfs
/.ceph_port
/store_test_temp_dir

# not sure what generates this...
/ceph.tmpe
