@use '@carbon/layout';
@use '../../shared/resource-page-card' as resource-page-card;

@include resource-page-card.base();

.resource-page-chart {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-03;
}

.resource-page-panel cd-area-chart {
  display: block;
}
