<div cdsCol
     [columnNumbers]="{ md: 4 }">
  <form #frm="ngForm"
        [formGroup]="serviceForm"
        novalidate>
    <div i18n="form title"
         class="form-header">
      {{ action | titlecase }} {{ resource }}
    </div>
    @if (serviceForm.controls.service_type.value === 'rgw' && showRealmCreationForm) {
    <cd-alert-panel type="info"
                    spacingClass="mb-3"
                    i18n>
      <a class="text-decoration-underline"
         (click)="createMultisiteSetup()">
        Click here</a> to create a new Realm/Zone Group/Zone
    </cd-alert-panel>
    }

    @if (serviceForm.controls.service_type.value === 'oauth2-proxy') {
    <cd-alert-panel type="info"
                    spacingClass="mb-3"
                    i18n>
      Authentication must be enabled in an active `mgmt-gateway` service to enable Single Sign-On(SSO) with
      `oauth2-proxy`
    </cd-alert-panel>
    }
    @if (serviceForm.controls.service_type.value === 'mgmt-gateway') {
    <cd-alert-panel type="info"
                    spacingClass="mb-3"
                    i18n>
      With an active mgmt-gateway service, the dashboard will continue to be served on {{currentURL}}:{{port}} and all
      other services will be accessible from {{currentURL}}:{{port}}/service_name
    </cd-alert-panel>
    }

    @if (serviceForm.controls.service_type.value === 'smb') {
    <cd-alert-panel type="warning"
                    spacingClass="mb-3"
                    i18n>
      SMB service management is intended for advanced users only.
      For most scenarios, it is recommended to use the SMB module instead.
      To manage SMB clusters and shares, please visit the <a routerLink="/cephfs/smb">SMB page</a>.
    </cd-alert-panel>
    }

    <!-- Service type -->
    <!-- check if id is needed TODO-->
    <div class="form-item">
      <cds-select formControlName="service_type"
                  label="Type"
                  cdRequiredField="Type"
                  id="service_type"
                  [invalid]="serviceForm.controls.service_type.invalid && serviceForm.controls.service_type.dirty"
                  [invalidText]="requiredField"
                  (change)="onServiceTypeChange($event.target.value)">
        <option i18n
                [ngValue]="null">
          -- Select a service type --
        </option>
        @for (serviceType of serviceTypes; track serviceType) {
        <option [value]="serviceType">
          {{ serviceType }}
        </option>
        }
      </cds-select>

      <ng-template #requiredField>
        @if (serviceForm.showError('service_type', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </ng-template>
    </div>

    <!-- backend_service -->
    <!-- [ngClass]="{'cdRequiredField': ['ingress'].includes(serviceForm.controls.service_type.value) ? 'Backend service' : null}" -->
    @if (serviceForm.controls.service_type.value === 'ingress') {
    <div class="form-item">
      <cds-select id="backend_service"
                  formControlName="backend_service"
                  label="Backend service"
                  cdRequiredField="Backend service"
                  [invalid]="serviceForm.controls.backend_service.invalid && serviceForm.controls.backend_service.dirty"
                  [invalidText]="requiredField"
                  (change)="prePopulateId()">
        @if (services === null) {
        <option [ngValue]="null"
                i18n>Loading...</option>
        }
        @if (services !== null && services.length === 0) {
        <option [ngValue]="null"
                i18n>-- No service available --</option>
        }
        @if (services !== null && services.length > 0) {
        <option [ngValue]="null"
                i18n>-- Select an existing service --</option>
        }
        @for (service of services; track service) {
        <option [value]="service.service_name">{{ service.service_name }}</option>
        }
      </cds-select>
      <ng-template #requiredField>
        @if (serviceForm.showError('backend_service', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </ng-template>
    </div>
    }

    <!-- NVMe/TCP -->
    <!-- Block Pool -->
    @if (serviceForm.controls.service_type.value === 'nvmeof') {
    <div class="form-item">
      <cds-select id="pool"
                  formControlName="pool"
                  label="Block Pool"
                  cdRequiredField="Block Pool"
                  helperText="An RBD application-enabled pool in which the gateway configuration can be managed."
                  i18n-helperText
                  [invalid]="serviceForm.controls.pool.invalid && serviceForm.controls.pool.dirty"
                  [invalidText]="requiredFieldPool"
                  (change)="setNvmeServiceId()">
        @if (rbdPools === null) {
        <option [ngValue]="null"
                i18n>Loading...</option>
        }
        @if (rbdPools && rbdPools.length === 0) {
        <option [ngValue]="null"
                i18n>-- No block pools available --</option>
        }
        @if (rbdPools && rbdPools.length > 0) {
        <option [ngValue]="null"
                i18n>-- Select a pool --</option>
        }
        @for (pool of rbdPools; track pool) {
        <option [value]="pool.pool_name">{{ pool.pool_name }}</option>
        }
      </cds-select>
      <ng-template #requiredFieldPool>

        @if (serviceForm.showError('pool', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </ng-template>
    </div>
    }

    <!-- Group Name -->
    @if (serviceForm.controls.service_type.value === 'nvmeof') {
    <div class="form-item">
      <cds-text-label helperText="The name of the gateway group."
                      i18n-helperText
                      label="Group name"
                      cdRequiredField="Group name"
                      (change)="setNvmeServiceId()"
                      [invalid]="serviceForm.controls.group.invalid && serviceForm.controls.group.dirty"
                      [invalidText]="requiredFieldGroup">
        <input cdsText
               type="text"
               id="group"
               formControlName="group"
               [invalid]="serviceForm.controls.group.invalid && serviceForm.controls.group.dirty" />
      </cds-text-label>
      <ng-template #requiredFieldGroup>
        @if (serviceForm.showError('service_id', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </ng-template>
    </div>
    }

    <!-- Service id -->
    @if (serviceForm.controls.service_type.value !== 'snmp-gateway') {
    <div class="form-item">
      @if (isPrefixedNamedService) {
      <div class="cds-input-group">
        <div class="fit-content">
          <cds-text-label cdRequiredField="Service name"
                          i18n>
            <input cdsText
                   type="text"
                   [value]="serviceForm.controls.service_type.value + '.'"
                   readonly="true">
          </cds-text-label>
        </div>
        <cds-text-label [invalid]="serviceForm.controls.service_id.invalid && serviceForm.controls.service_id.dirty"
                        [invalidText]="serviceIdError">
          <input cdsText
                 type="text"
                 id="service_id"
                 formControlName="service_id"
                 [invalid]="serviceForm.controls.service_id.invalid && serviceForm.controls.service_id.dirty" />
        </cds-text-label>
      </div>
      } @else {
      <cds-text-label cdRequiredField="Service name"
                      [invalid]="serviceForm.controls.service_id.invalid && serviceForm.controls.service_id.dirty"
                      [invalidText]="serviceIdError">
        <input cdsText
               type="text"
               id="service_id"
               formControlName="service_id"
               [invalid]="serviceForm.controls.service_id.invalid && serviceForm.controls.service_id.dirty" />
      </cds-text-label>
      }

      <ng-template #serviceIdError>
        @if (serviceForm.showError('service_id', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
        @if (serviceForm.showError('service_id', frm, 'uniqueName')) {
        <span class="invalid-feedback"
              i18n>This service id is already in use.</span>
        }
        @if (serviceForm.showError('service_id', frm, 'mdsPattern')) {
        <span class="invalid-feedback"
              i18n>MDS service id must start with a letter and contain alphanumeric characters or '.', '-', and
          '_'</span>
        }
      </ng-template>
    </div>
    }

    @if (serviceForm.controls.service_type.value === 'rgw') {
    <div class="form-item">
      <cds-select formControlName="realm_name"
                  label="Realm"
                  [invalid]="serviceForm.controls.realm_name.invalid && serviceForm.controls.realm_name.dirty"
                  [invalidText]="authModeError"
                  helperText="Active-directory authentication for domain member servers and User authentication for
              Stand-alone servers configuration."
                  i18n-helperText
                  [disabled]="realmList.length === 0  || editing ? true : false">
        @if (realmList.length === 0) {
        <option i18n
                selected>-- No realm available --
        </option>
        }
        @for (realm of realmList; track realm) {
        <option [value]="realm.name">
          {{ realm.name }}
        </option>
        }
      </cds-select>
      <ng-template #authModeError>
        <span class="invalid-feedback"
              *ngIf="smbForm.showError('auth_mode', formDir, 'required')"
              i18n>This field is required.</span>
      </ng-template>
    </div>

    <div class="form-item">
      <cds-select id="zonegroup_name"
                  formControlName="zonegroup_name"
                  label="Zonegroup"
                  [disabled]="zonegroupList.length === 0  || editing ? true : null">
        @for (zonegroup of zonegroupList; track zonegroup) {
        <option [value]="zonegroup.name">
          {{ zonegroup.name }}
        </option>
        }
      </cds-select>
    </div>

    <div class="form-item">
      <cds-select id="zone_name"
                  formControlName="zone_name"
                  label="Zone"
                  [disabled]="zoneList.length === 0  || editing ? true : null">
        @for (zone of zoneList; track zone) {
        <option [value]="zone.name">
          {{ zone.name }}
        </option>
        }
      </cds-select>
    </div>
    }

    <!-- unmanaged -->
    <div class="form-item">
      <fieldset>
        <label class="cds--label"
               for="unmanaged"
               i18n>Unmanaged</label>
        <cds-checkbox i18n-label
                      id="unmanaged"
                      name="unmanaged"
                      formControlName="unmanaged">
          Enable
          <cd-help-text i18n>
            If Unmanaged is selected, the orchestrator will not start or stop any daemons associated with this service.
            Placement and all other properties will be ignored.
          </cd-help-text>
        </cds-checkbox>
      </fieldset>
    </div>

    <!-- Placement -->
    @if (!serviceForm.controls.unmanaged.value) {
    <div class="form-item">
      <cds-select id="placement"
                  formControlName="placement"
                  label="Placement"
                  (change)="onPlacementChange($event.target.value)">
        <option i18n
                value="hosts">Hosts</option>
        <option i18n
                value="label">Label</option>
      </cds-select>
    </div>
    }

    <!-- Label -->
    @if (!serviceForm.controls.unmanaged.value && serviceForm.controls.placement.value === 'label') {

    <cds-text-label i18n>
      Label
      <input cdsText
             type="text"
             id="label"
             formControlName="label"
             [ngbTypeahead]="searchLabels"
             (focus)="labelFocus.next($any($event).target.value)"
             (click)="labelClick.next($any($event).target.value)" />
    </cds-text-label>
    @if (serviceForm.showError('label', frm, 'required')) {
    <span class="invalid-feedback"
          i18n>This field is required.</span>
    }
    }

    <!-- Hosts -->
    @if (!serviceForm.controls.unmanaged.value && serviceForm.controls.placement.value === 'hosts') {

    <!-- <div class="form-item">
            <cds-combo-box type="multi"
                           label="Hosts"
                           selectionFeedback="top-after-reopen"
                           formControlName="hosts"
                           id="hosts"
                           placeholder="Select hosts..."
                           [appendInline]="true"
                           [items]="hostsNames"
                           i18n-placeholder
                           i18n>
              <cds-dropdown-list></cds-dropdown-list>
            </cds-combo-box>
          </div> -->
    <!-- 
          <div
            class="form-group row">
            <label class="cd-col-form-label"
              for="hosts"
            i18n>Hosts</label>
            <div class="cd-col-form-input">
              <cd-select-badges id="hosts"
                [data]="serviceForm.controls.hosts.value"
                [options]="hosts.options"
                [messages]="hosts.messages">
              </cd-select-badges>
            </div>
          </div> -->
    }

    <!-- Count -->
    @if (!serviceForm.controls.unmanaged.value && serviceForm.controls.service_type.value !== 'nvmeof') {

    <div class="form-item">
      <cds-number label="Count"
                  formControlName="count"
                  id="count"
                  min="1"
                  helperText="Number of deamons that will be deployed"
                  i18n-helperText>
        @if (serviceForm.showError('count', frm, 'min')) {
        <span class="invalid-feedback"
              i18n>The value must be at least 1.</span>
        }
      </cds-number>
    </div>
    }

    <!-- RGW -->
    @if (!serviceForm.controls.unmanaged.value && serviceForm.controls.service_type.value === 'rgw') {
    <!-- rgw_frontend_port -->
    <div class="form-item">
      <cds-number label="Port"
                  formControlName="rgw_frontend_port"
                  id="rgw_frontend_port"
                  min="1"
                  max="65535"
                  helperText="Number of deamons that will be deployed"
                  i18n-helperText>
        @if (serviceForm.showError('rgw_frontend_port', frm, 'min')) {
        <span class="invalid-feedback"
              i18n>The value must be at least 1.</span>
        }
        @if (serviceForm.showError('rgw_frontend_port', frm, 'max')) {
        <span class="invalid-feedback"
              i18n>The value cannot exceed 65535.</span>
        }
      </cds-number>
    </div>
    }

    <!-- iSCSI -->
    <!-- pool -->
    @if (serviceForm.controls.service_type.value === 'iscsi') {

    <div class="form-item">
      <cds-select label="Pool"
                  formControlName="pool"
                  cdRequiredField="Pool"
                  id="pool"
                  [invalid]="serviceForm.controls.pool.invalid && serviceForm.controls.pool.dirty"
                  [invalidText]="requiredFieldPool">
        @if (pools === null) {
        <option [ngValue]="null"
                i18n>Loading...</option>
        }
        @if (pools && pools.length === 0) {
        <option [ngValue]="null"
                i18n>-- No pools available --</option>
        }
        @if (pools && pools.length > 0) {
        <option [ngValue]="null"
                i18n>-- Select a pool --</option>
        }
        @for (pool of pools; track pool) {
        <option [value]="pool.pool_name">{{ pool.pool_name }}</option>
        }
      </cds-select>
      @if (serviceForm.showError('pool', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>
    }

    <!-- fields in iSCSI which are hidden when unmanaged is true -->
    @if (!serviceForm.controls.unmanaged.value && serviceForm.controls.service_type.value === 'iscsi') {
    <!-- trusted_ip_list -->
    <div class="form-group row">
      <label class="cd-col-form-label"
             for="trusted_ip_list">
        <span i18n>Trusted IPs</span>
        <cd-helper>
          <span i18n>Comma separated list of IP addresses.</span>
          <br>
          <span i18n>Please add the <b>Ceph Manager</b> IP addresses here, otherwise the iSCSI gateways can't be
            reached.</span>
        </cd-helper>
      </label>
      <div class="cd-col-form-input">
        <input id="trusted_ip_list"
               class="form-control"
               type="text"
               formControlName="trusted_ip_list">
      </div>
    </div>
    <!-- api_port -->
    <div class="form-item">
      <cds-number label="Port"
                  formControlName="api_port"
                  id="api_port"
                  min="1"
                  max="65535">
        @if (serviceForm.showError('api_port', frm, 'min')) {
        <span class="invalid-feedback"
              i18n>The value must be at least 1.</span>
        }
        @if (serviceForm.showError('api_port', frm, 'max')) {
        <span class="invalid-feedback"
              i18n>The value cannot exceed 65535.</span>
        }
      </cds-number>
    </div>
    <!-- api_user -->
    <div class="form-item">
      <cds-text-label cdRequiredField="User">
        <input cdsText
               type="text"
               id="api_user"
               formControlName="api_user" />
        @if (serviceForm.showError('api_user', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-text-label>
    </div>

    <!-- api_password -->
    <div class="form-item">
      <cds-password-label cdRequiredField="Password">
        <input cdsPassword
               type="password"
               id="api_password"
               formControlName="api_password" />
        @if (serviceForm.showError('api_password', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-password-label>
    </div>
    }

    <!-- smb -->
    @if (serviceForm.controls.service_type.value === 'smb') {
    <div class="form-item">
      <cds-text-label cdRequiredField="Cluster id"
                      helperText="A short name identifying the SMB “cluster”. In this case a cluster is simply a management unit of one or more Samba services sharing a common configuration,
                   and may not provide actual clustering or availability mechanisms."
                      i18n-helperText>
        <input cdsText
               type="text"
               id="cluster_id"
               formControlName="cluster_id"
               placeholder="foo" />
      </cds-text-label>
      @if (serviceForm.showError('cluster_id', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>

    <div class="form-item">
      <cds-text-label cdRequiredField="Config URI"
                      helperText="Configuration source that should be loaded by the samba-container as the primary configuration file."
                      i18n-helperText>
        <input cdsText
               type="text"
               id="config_uri"
               formControlName="config_uri"
               placeholder="rados://.smb/foo/scc.toml" />
      </cds-text-label>
      @if (serviceForm.showError('config_uri', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
      @if (serviceForm.showError('config_uri', frm, 'configUriPattern')) {
      <span class="invalid-feedback"
            i18n>The value must start with either 'http:', 'https:', 'rados:' or 'rados:mon-config-key:'</span>
      }
    </div>
    <div class="form-item">
      <fieldset>
        <label class="cds--label"
               for="features"
               i18n>Features
          <!-- TODO check i18n -->
          <cd-help-text>
            Pre-defined terms enabling specific deployment characteristics.
          </cd-help-text>
        </label>
        <div class="cd-col-form-input">
          @for (feature of smbFeaturesList; track feature) {
          <cds-checkbox i18n-label
                        id="{{feature}}"
                        name="{{feature}}"
                        formControlName="{{feature}}">
            Enable
          </cds-checkbox>
          }
        </div>
      </fieldset>
    </div>

    <div class="form-item">
      <label class="cd-col-form-label"
             for="custom_dns">
        <span i18n>Custom DNS</span>
        <cd-helper i18n>
          <span>Comma separated list of DNSs.</span>
          <br>
          <span>A list of IP addresses that will be used as the DNS servers for a Samba container.</span>
        </cd-helper>
      </label>
      <div class="cd-col-form-input">
        <input id="custom_dns"
               class="form-control"
               type="text"
               formControlName="custom_dns"
               placeholder="192.168.76.204"
               i18n-placeholder>
      </div>
    </div>
    }

    <!-- Ingress -->
    @if (serviceForm.controls.service_type.value === 'ingress') {
    <!-- virtual_ip -->
    <div class="form-item">
      <cds-text-label cdRequiredField="Virtual IP"
                      helperText="The virtual IP address and subnet (in CIDR notation) where the ingress service will be
                available."
                      i18n-helperText>
        <input cdsText
               type="text"
               id="virtual_ip"
               formControlName="virtual_ip" />
      </cds-text-label>
      @if (serviceForm.showError('virtual_ip', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>
    <!-- frontend_port -->
    <div class="form-item">
      <cds-number cdRequiredField="Frontend port"
                  label="Frontend port"
                  formControlName="frontend_port"
                  id="frontend_port"
                  min="1"
                  max="65535"
                  helperText="The port used to access the ingress service."
                  i18n-helperText>
        @if (serviceForm.showError('frontend_port', frm, 'min')) {
        <span class="invalid-feedback"
              i18n>The value must be at least 1.</span>
        }
        @if (serviceForm.showError('frontend_port', frm, 'max')) {
        <span class="invalid-feedback"
              i18n>The value cannot exceed 65535.</span>
        }
        @if (serviceForm.showError('frontend_port', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-number>
    </div>
    <!-- monitor_port -->
    <div class="form-item">
      <cds-number cdRequiredField="Monitor port"
                  label="Monitor port"
                  formControlName="monitor_port"
                  id="monitor_port"
                  min="1"
                  max="65535"
                  helperText="The port used by haproxy for load balancer status."
                  i18n-helperText>
        @if (serviceForm.showError('monitor_port', frm, 'min')) {
        <span class="invalid-feedback"
              i18n>The value must be at least 1.</span>
        }
        @if (serviceForm.showError('monitor_port', frm, 'max')) {
        <span class="invalid-feedback"
              i18n>The value cannot exceed 65535.</span>
        }
        @if (serviceForm.showError('monitor_port', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-number>
    </div>
    <!-- virtual_interface_networks -->
    <!-- TODO use new cd-text-label-list component -->
    @if (!serviceForm.controls.unmanaged.value) {
    <div class="form-group row">
      <label class="cd-col-form-label"
             for="virtual_interface_networks">
        <span i18n>CIDR Networks</span>
        <cd-helper>
          <span i18n>A list of networks to identify which network interface to use for the virtual IP address.</span>
        </cd-helper>
      </label>
      <div class="cd-col-form-input">
        <input id="virtual_interface_networks"
               class="form-control"
               type="text"
               formControlName="virtual_interface_networks">
      </div>
    </div>
    }
    }

    <!-- SNMP-Gateway -->
    @if (serviceForm.controls.service_type.value === 'snmp-gateway') {
    <!-- snmp-version -->
    <div class="form-item">
      <cds-select formControlName="snmp_version"
                  id="snmp_version"
                  cdRequiredField="Version"
                  helperText="Active-directory authentication for domain member servers and User authentication for
              Stand-alone servers configuration."
                  i18n-helperText
                  (change)="clearValidations()">
        <option i18n
                [ngValue]="null">-- Select SNMP version --</option>
        @for (snmpVersion of ['V2c', 'V3']; track snmpVersion) {
        <option [value]="snmpVersion">{{ snmpVersion }}</option>
        }
      </cds-select>
      @if (serviceForm.showError('snmp_version', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>
    <!-- Destination -->
    <!-- TODO use better component currently input needs to be host:port -->
    <div class="form-item">
      <cds-text-label cdRequiredField="Destination"
                      helperText="Must be of the format hostname:port."
                      i18n-helperText>
        <input cdsText
               type="text"
               id="snmp_destination"
               formControlName="snmp_destination" />
        @if (serviceForm.showError('snmp_destination', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
        @if (serviceForm.showError('snmp_destination', frm, 'snmpDestinationPattern')) {
        <span class="invalid-feedback"
              i18n>The value does not match the pattern: <strong>hostname:port</strong></span>
        }
      </cds-text-label>
    </div>
    <!-- Engine id for snmp V3 -->
    @if (serviceForm.controls.snmp_version.value === 'V3') {
    <div class="form-item">
      <cds-text-label cdRequiredField="Engine Id"
                      helperText="Unique identifier for the device (in hex)."
                      i18n-helperText>
        <input cdsText
               type="text"
               id="engine_id"
               formControlName="engine_id" />
        @if (serviceForm.showError('engine_id', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
        @if (serviceForm.showError('engine_id', frm, 'snmpEngineIdPattern')) {
        <span class="invalid-feedback"
              i18n>The value does not match the pattern: <strong>Must be in hexadecimal and length must be multiple of 2
            with min value = 10 amd max value = 64.</strong></span>
        }
      </cds-text-label>
    </div>
    <!-- Auth protocol for snmp V3 -->
    <div class="form-item">
      <cds-select formControlName="auth_protocol"
                  id="auth_protocol"
                  cdRequiredField="Auth protocol">
        <option i18n
                [ngValue]="null">-- Select auth protocol --</option>
        @for (authProtocol of ['SHA', 'MD5']; track authProtocol) {
        <option [value]="authProtocol">
          {{ authProtocol }}
        </option>
        }
      </cds-select>
      @if (serviceForm.showError('auth_protocol', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>

    <!-- Privacy protocol for snmp V3 -->
    <div class="form-item">
      <cds-select formControlName="privacy_protocol"
                  id="privacy_protocol"
                  label="Privacy protocol">
        <option i18n
                [ngValue]="null">-- Select privacy protocol --</option>
        @for (privacyProtocol of ['DES', 'AES']; track privacyProtocol) {
        <option [value]="privacyProtocol">
          {{ privacyProtocol }}
        </option>
        }
      </cds-select>
    </div>
    }
    <!-- Credentials -->
    @if (['V2c', 'V3'].includes(serviceForm.controls.snmp_version?.value)) {
    <fieldset>
      <legend i18n>Credentials</legend>
      <!-- snmp v2c snmp_community -->
      @if (serviceForm.controls.snmp_version.value === 'V2c') {
      <div class="form-item">
        <cds-text-label cdRequiredField="SNMP community">
          <input cdsText
                 type="text"
                 id="snmp_community"
                 formControlName="snmp_community" />
          @if (serviceForm.showError('snmp_community', frm, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
          }
        </cds-text-label>
      </div>
      }
      <!-- snmp v3 auth username -->
      @if (serviceForm.controls.snmp_version.value === 'V3') {
      <div class="form-item">
        <cds-text-label cdRequiredField="Username">
          <input cdsText
                 type="text"
                 id="snmp_v3_auth_username"
                 formControlName="snmp_v3_auth_username" />
          @if (serviceForm.showError('snmp_v3_auth_username', frm, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
          }
        </cds-text-label>
      </div>
      }
      <!-- snmp v3 auth password -->
      @if (serviceForm.controls.snmp_version.value === 'V3') {
      <div class="form-item">
        <cds-password-label cdRequiredField="Password">
          <input cdsPassword
                 type="password"
                 id="snmp_v3_auth_password"
                 formControlName="snmp_v3_auth_password" />
          @if (serviceForm.showError('snmp_v3_auth_password', frm, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
          }
        </cds-password-label>
      </div>
      }
      <!-- snmp v3 priv password -->
      @if (serviceForm.controls.snmp_version.value === 'V3' && serviceForm.controls.privacy_protocol.value !== null &&
      serviceForm.controls.privacy_protocol.value !== undefined) {
      <div class="form-item">
        <cds-password-label cdRequiredField="Encryption">
          <input cdsPassword
                 type="password"
                 id="snmp_v3_priv_password"
                 formControlName="snmp_v3_priv_password" />
          @if (serviceForm.showError('snmp_v3_priv_password', frm, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
          }
        </cds-password-label>
      </div>
      }
    </fieldset>
    }
    }

    <!-- oauth2-proxy -->
    @if (serviceForm.controls.service_type.value === 'oauth2-proxy') {
    <!-- provider_display_name -->
    <div class="form-item">
      <cds-text-label cdRequiredField="Provider display name"
                      placeholder="My OIDC Provider"
                      i18n-placeholder>
        <input cdsText
               type="text"
               id="provider_display_name"
               formControlName="provider_display_name" />
        @if (serviceForm.showError('provider_display_name', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-text-label>
    </div>
    <!-- client_id -->
    <div class="form-item">
      <cds-text-label cdRequiredField="Provider display name"
                      placeholder="oauth2-client">
        <input cdsText
               type="text"
               id="client_id"
               formControlName="client_id" />
        @if (serviceForm.showError('client_id', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-text-label>
    </div>
    <!-- client_secret -->
    <div class="form-item">
      <cds-password-label cdRequiredField="Client secret">
        <div class="input-group">
          <input cdsPassword
                 type="text"
                 id="client_secret"
                 formControlName="client_secret" />
          @if (serviceForm.showError('client_secret', frm, 'required')) {
          <span class="invalid-feedback"
                i18n>This field is required.</span>
          }
          <cd-copy-2-clipboard-button source="client_secret">
          </cd-copy-2-clipboard-button>
        </div>
      </cds-password-label>
    </div>
    <!-- oidc_issuer_url -->
    <div class="form-item">
      <cds-text-label cdRequiredField="OIDC issuer URL">
        <input cdsText
               type="text"
               id="oidc_issuer_url"
               formControlName="oidc_issuer_url" />
        @if (serviceForm.showError('oidc_issuer_url', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
        @if (serviceForm.showError('oidc_issuer_url', frm, 'validUrl')) {
        <span class="invalid-feedback"
              i18n>Invalid url.</span>
        }
      </cds-text-label>
    </div>
    <!-- https_address -->
    <div class="form-item">
      <cds-text-label cdRequiredField="Https address"
                      helperText="The address for HTTPS connections as [IP|Hostname]:port."
                      i18n-helperText
                      placeholder="0.0.0.0:4180">
        <input cdsText
               type="text"
               id="https_address"
               formControlName="https_address" />
        @if (serviceForm.showError('https_address', frm, 'invalidAddress')) {
        <span class="invalid-feedback"
              i18n>Format must be [IP|Hostname]:port and the port between 0 and 65535</span>
        }
      </cds-text-label>
    </div>
    <!-- redirect_url -->
    <div class="form-item">
      <cds-text-label cdRequiredField="Redirect URL"
                      placeholder="https://<IP|Hostname>:4180/oauth2/callback"
                      helperText="The URL the oauth2-proxy service will redirect to after a successful login."
                      i18n-helperText>
        <input cdsText
               type="text"
               id="redirect_url"
               formControlName="redirect_url" />
        @if (serviceForm.showError('api_user', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-text-label>
    </div>
    <!-- Allowlist_domains -->
    <!-- TODO use new cd-text-label-list component -->
    <div class="form-group row">
      <label class="cd-col-form-label"
             for="allowlist_domains">
        <span i18n>Allowlist domains</span>
      </label>
      <div class="cd-col-form-input">
        <input id="allowlist_domains"
               class="form-control"
               type="text"
               formControlName="allowlist_domains"
               placeholder="domain1.com,192.168.100.1:8080">
        <cd-help-text i18n>Comma separated list of domains to be allowed to redirect to, used for login or
          logout.</cd-help-text>
      </div>
    </div>
    }

    @if (!serviceForm.controls.unmanaged.value && ['mgmt-gateway'].includes(serviceForm.controls.service_type.value)) {
    <!-- port -->
    <div class="form-item">
      <cds-number label="Port"
                  formControlName="port"
                  id="port"
                  min="1"
                  max="65535">
        @if (serviceForm.showError('port', frm, 'min')) {
        <span class="invalid-feedback"
              i18n>The value must be at least 1.</span>
        }
        @if (serviceForm.showError('port', frm, 'max')) {
        <span class="invalid-feedback"
              i18n>The value cannot exceed 65535.</span>
        }
      </cds-number>
    </div>
    <!-- enable_auth -->
    <div class="form-item">
      <fieldset>
        <label class="cds--label"
               for="pools"
               i18n>Authentication</label>
        <cds-checkbox i18n-label
                      id="enable_auth"
                      name="enable_auth"
                      formControlName="enable_auth">
          Enable
          <cd-help-text i18n>
            Allows to enable authentication through an external Identity Provider (IdP) using Single Sign-On (SSO)
          </cd-help-text>
        </cds-checkbox>
      </fieldset>
    </div>
    <!-- ssl_protocols -->
    <div class="form-item">
      <cds-combo-box type="multi"
                     label="SSL protocols"
                     selectionFeedback="top-after-reopen"
                     for="ssl_protocols"
                     name="ssl_protocols"
                     formControlName="ssl_protocols"
                     id="ssl_protocols"
                     placeholder="Select protocols..."
                     [appendInline]="true"
                     [items]="sslProtocolsItems"
                     i18n-placeholder
                     i18n>
        <cds-dropdown-list></cds-dropdown-list>
      </cds-combo-box>
    </div>
    <!-- ssl_ciphers -->
    <!-- TODO: add link to helper text `Default cipher list used: <a href="https://ssl-config.mozilla.org/#server=nginx"
             target="_blank">https://ssl-config.mozilla.org/#server=nginx</a>` -->
    <div class="form-item">
      <cds-text-label placeholder="ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256"
                      helperText="Cipher list used _LINK_"
                      i18n-helperText>
        SSL ciphers
        <input cdsText
               type="text"
               id="ssl_ciphers"
               formControlName="ssl_ciphers" />
        @if (serviceForm.showError('ssl_ciphers', frm, 'invalidPattern')) {
        <span class="invalid-feedback"
              i18n>Invalid cipher suite. Each cipher must be separated by '-' and each cipher suite must be separated by
          ':'</span>
        }
      </cds-text-label>
    </div>
    }
    <!-- RGW, Ingress, iSCSI, Oauth2-proxy & mgmt-gateway -->
    @if (!serviceForm.controls.unmanaged.value && ['rgw', 'iscsi', 'ingress', 'oauth2-proxy',
    'mgmt-gateway'].includes(serviceForm.controls.service_type.value)) {
    <!-- ssl -->
    @if (!['mgmt-gateway'].includes(serviceForm.controls.service_type.value)) {
    <div class="form-item">
      <cds-checkbox formControlName="ssl"
                    name="security_label"
                    id="ssl"
                    i18n>SSL
      </cds-checkbox>
    </div>
    }
    <!-- ssl_cert -->
    @if (serviceForm.controls.ssl.value || ['mgmt-gateway'].includes(serviceForm.controls.service_type.value)) {
    <div class="form-item">
      <cds-textarea-label helperText="The SSL certificate in PEM format."
                          i18n>Certificate
        <div class="cd-cl-form-input">
          <textarea cdsTextArea
                    id="ssl_cert"
                    formControlName="ssl_cert"
                    cols="100"
                    rows="4"></textarea>

          <cds-file-uploader buttonText="Choose file"
                             i18n-buttonText
                             buttonType="secondary"
                             [multiple]="false"
                             size="sm"
                             (filesChange)="fileUpload($event, 'ssl_cert')"
                             (removeFile)="clearText()"></cds-file-uploader>
        </div>
      </cds-textarea-label>
      @if (serviceForm.showError('ssl_cert', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
      @if (serviceForm.showError('ssl_cert', frm, 'pattern')) {
      <span class="invalid-feedback"
            i18n>Invalid SSL certificate.</span>
      }
    </div>
    }
    <!-- ssl_key -->
    @if ((serviceForm.controls.ssl.value && !(['rgw', 'ingress'].includes(serviceForm.controls.service_type.value))) ||
    ['mgmt-gateway'].includes(serviceForm.controls.service_type.value)) {
    <div class="form-item">
      <cds-textarea-label helperText="The SSL certificate in PEM format."
                          i18n>Private key
        <div class="cd-col-form-input">
          <textarea cdsTextArea
                    id="ssl_key"
                    formControlName="ssl_key"
                    cols="100"
                    rows="4"></textarea>

          <cds-file-uploader buttonText="Choose file"
                             i18n-buttonText
                             buttonType="secondary"
                             [multiple]="false"
                             size="sm"
                             (filesChange)="fileUpload($event, 'ssl_key')"
                             (removeFile)="clearText()"></cds-file-uploader>
        </div>
      </cds-textarea-label>
      @if (serviceForm.showError('ssl_key', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
      @if (serviceForm.showError('ssl_key', frm, 'pattern')) {
      <span class="invalid-feedback"
            i18n>Invalid SSL private key.</span>
      }
    </div>
    }
    }
    <!-- Grafana -->
    <!-- TODO verify required, property not set but message is -->
    @if (serviceForm.controls.service_type.value === 'grafana') {
    <div class="form-item">
      <cds-number label="Grafana port"
                  i18n-label
                  formControlName="grafana_port"
                  id="grafana_port"
                  min="1"
                  max="65535"
                  helperText="The default port used by grafana."
                  i18n-helperText>
        @if (serviceForm.showError('grafana_port', frm, 'min')) {
        <span class="invalid-feedback"
              i18n>The value must be at least 1.</span>
        }
        @if (serviceForm.showError('grafana_port', frm, 'max')) {
        <span class="invalid-feedback"
              i18n>The value cannot exceed 65535.</span>
        }
        @if (serviceForm.showError('grafana_port', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </cds-number>
    </div>
    <div class="form-item">
      <cds-password-label>
        <div class="input-group">
          Grafana password
          <input cdsPassword
                 type="password"
                 id="grafana_admin_password"
                 formControlName="grafana_admin_password"
                 [disabled]="editing ? true:null" />
          <cd-copy-2-clipboard-button source="grafana_admin_password">
          </cd-copy-2-clipboard-button>
        </div>
      </cds-password-label>
    </div>
    }

    @if (serviceForm.controls.service_type.value === 'mgmt-gateway' && showMgmtGatewayMessage) {
    <cd-alert-panel type="warning"
                    spacingClass="mb-3"
                    i18n>
      Modifying the default settings could lead to a weaker security configuration
    </cd-alert-panel>
    }

    <!-- NVMe/TCP -->
    <!-- mTLS -->
    @if (serviceForm.controls.service_type.value === 'nvmeof') {
    <div class="form-item">
      <fieldset class="cds--fieldset">
        <label class="cds--label"
               i18n>Encryption</label>
        <cds-checkbox i18n-label
                      id="enable_mtls"
                      formControlName="enable_mtls">
          Enable
          <cd-help-text i18n>
            Enables mutual TLS (mTLS) between the client and the gateway server.
          </cd-help-text>
        </cds-checkbox>
      </fieldset>
    </div>
    <!-- TODO add cdrequiredfield to textareas for nvmeof enable_mtls-->
    @if (serviceForm.controls.enable_mtls.value) {
    <!-- root_ca_cert -->
    <div class="form-item">
      <cds-textarea-label>Root CA certificate
        <div class="cd-col-form-input">
          <textarea cdsTextArea
                    id="root_ca_cert"
                    formControlName="root_ca_cert"
                    cols="100"
                    rows="4"></textarea>

          <cds-file-uploader buttonText="Choose file"
                             i18n-buttonText
                             buttonType="secondary"
                             [multiple]="false"
                             size="sm"
                             (filesChange)="fileUpload($event, 'root_ca_cert')"
                             (removeFile)="clearText()"></cds-file-uploader>
        </div>
      </cds-textarea-label>
      @if (serviceForm.showError('root_ca_cert', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>

    <!-- client_cert -->
    <div class="form-item">
      <cds-textarea-label>Client CA certificate
        <div class="cd-col-form-input">

        <textarea cdsTextArea
                  id="client_cert"
                  formControlName="client_cert"
                  cols="100"
                  rows="4"></textarea>
        <cds-file-uploader buttonText="Choose file"
                           i18n-buttonText
                           buttonType="secondary"
                           [multiple]="false"
                           size="sm"
                           (filesChange)="fileUpload($event, 'client_cert')"
                           (removeFile)="clearText()"></cds-file-uploader>
        </div>
      </cds-textarea-label>
      @if (serviceForm.showError('client_cert', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>

    <!-- client_key -->
    <div class="form-item">
      <cds-textarea-label>Client key
        <div class="cd-col-form-input">
          <textarea cdsTextArea
                    id="client_key"
                    formControlName="client_key"
                    cols="100"
                    rows="4"></textarea>

          <cds-file-uploader buttonText="Choose file"
                             i18n-buttonText
                             buttonType="secondary"
                             [multiple]="false"
                             size="sm"
                             (filesChange)="fileUpload($event, 'client_key')"
                             (removeFile)="clearText()"></cds-file-uploader>
        </div>
      </cds-textarea-label>
      @if (serviceForm.showError('client_key', frm, 'required')) {
      <span class="invalid-feedback"
            i18n>This field is required.</span>
      }
    </div>

    <!-- server_cert -->
      <div class="form-item">
        <cds-textarea-label>Gateway server certificate
          <div class="cd-col-form-input">
            <textarea cdsTextArea
                      id="server_cert"
                      formControlName="server_cert"
                      cols="100"
                      rows="4"></textarea>

            <cds-file-uploader buttonText="Choose file"
                              i18n-buttonText
                              buttonType="secondary"
                              [multiple]="false"
                              size="sm"
                              (filesChange)="fileUpload($event, 'server_cert')"
                              (removeFile)="clearText()"></cds-file-uploader>
          </div>
        </cds-textarea-label>
        @if (serviceForm.showError('server_cert', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </div>

    <!-- server_key -->
            <div class="form-item">
        <cds-textarea-label>Gateway server certificate
          <div class="cd-col-form-input">
            <textarea cdsTextArea
                      id="server_key"
                      formControlName="server_key"
                      cols="100"
                      rows="4"></textarea>

            <cds-file-uploader buttonText="Choose file"
                              i18n-buttonText
                              buttonType="secondary"
                              [multiple]="false"
                              size="sm"
                              (filesChange)="fileUpload($event, 'server_key')"
                              (removeFile)="clearText()"></cds-file-uploader>
          </div>
        </cds-textarea-label>
        @if (serviceForm.showError('server_key', frm, 'required')) {
        <span class="invalid-feedback"
              i18n>This field is required.</span>
        }
      </div>
    }
  }


    <div class="text-right">
      <cd-form-button-panel (submitActionEvent)="onSubmit()"
                            [form]="serviceForm"
                            [submitText]="(action | titlecase) + ' ' + (resource | upperFirst)"></cd-form-button-panel>
    </div>
  </form>
</div>