<ng-template #popTemplate>
  <form
    name="form"
    #formDir="ngForm"
    [formGroup]="form"
    novalidate
  >
    <div>
      <input
        type="text"
        formControlName="filter"
        i18n-placeholder
        [placeholder]="messages.filter"
        (keyup)="$event.keyCode === 13 ? selectOption() : updateFilter()"
        class="form-control text-center"
      />
      @for (error of Object.keys(messages.customValidations); track error) {
        @if (form.showError('filter', formDir) && filter.hasError(error)) {
          <span class="invalid-feedback text-center d-block">
            {{ messages.customValidations[error] }}
          </span>
        }
      }
    </div>
  </form>
  @for (option of filteredOptions; track option) {
    <div
      class="select-menu-item"
      [ngClass]="{
        'help-block disabled':
          (data.length === selectionLimit || !option.enabled) && !option.selected
      }"
      (click)="triggerSelection(option)"
      tabindex="0"
      (keydown.enter)="triggerSelection(option)"
    >
      <div class="select-menu-item-icon">
        @if (option.selected) {
          <i
            [ngClass]="[icons.check]"
            aria-hidden="true"
          ></i>
        }
        &nbsp;
      </div>
      <div class="select-menu-item-content">
        {{ option.name }}
        @if (option.description) {
          <br />
          <small class="form-text text-muted"> {{ option.description }}&nbsp; </small>
        }
      </div>
    </div>
  }
  @if (isCreatable()) {
    <div
      class="select-menu-item"
      (click)="addCustomOption()"
      tabindex="0"
      (keydown.enter)="addCustomOption()"
    >
      <div class="select-menu-item-icon">
        <i
          [ngClass]="[icons.tag]"
          aria-hidden="true"
        ></i>
        &nbsp;
      </div>
      <div class="select-menu-item-content">{{ messages.add }} '{{ filter.value }}'</div>
    </div>
  }
  @if (data.length === selectionLimit) {
    <div class="is-invalid">
      @if (data.length === selectionLimit) {
        <span
          class="form-text text-muted text-center text-warning"
          [ngbTooltip]="messages.selectionLimit.tooltip"
        >
          {{ messages.selectionLimit.text }}
        </span>
      }
    </div>
  }
</ng-template>

@if (customBadges || options.length > 0) {
  <a
    class="select-menu-edit float-start"
    [ngClass]="elemClass"
    [ngbPopover]="popTemplate"
    data-testid="select-menu-edit"
  >
    <ng-content></ng-content>
  </a>
}

@if (data.length === 0 && !(!customBadges && options.length === 0)) {
  <span class="form-text text-muted float-start">
    {{ messages.empty }}
  </span>
}

@if (!customBadges && options.length === 0) {
  <span class="form-text text-muted float-start">
    {{ messages.noOptions }}
  </span>
}
