@use './src/styles/vendor/variables' as vv;

.select-menu-item {
  border-bottom: 1px solid vv.$datatable-divider-color;
  cursor: pointer;
  display: block;
  font-size: 1rem;

  &:hover {
    background-color: vv.$gray-200;
  }
}

.select-menu-item-icon {
  float: left;
  padding: 0.5em;
  width: 3em;
}

.select-menu-item-content {
  padding: 0.5em;

  .form-text {
    display: flex;
  }
}
