@import 'defaults.scss';

.select-menu-item {
  border-bottom: 1px solid $color-transparent;
  cursor: pointer;
  display: block;
  font-size: 1rem;

  &:hover {
    background-color: $color-whitesmoke-gray;
  }
}

.select-menu-item-icon {
  float: left;
  padding: 0.5em;
  width: 3em;
}

.select-menu-item-content {
  padding: 0.5em;
}
