@import 'defaults';

.running i {
  color: $color-primary;
}

.running:hover i {
  color: white;
}

a {
  .dot {
    background-color: $color-primary;
    border: 2px solid $color-navbar-bg;
    border-radius: 50%;
    height: 11px;
    position: absolute;
    right: 17px;
    top: 10px;
    width: 10px;
  }

  &:hover .dot {
    background-color: $color-solid-white;
    border-color: $color-primary;
  }
}
