@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/RedHatText-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/RedHatText-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/RedHatText-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/RedHatText-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/RedHatText-Italic.woff2') format('woff2');
}
