/* Icons */
.prometheus-icon {
  background: url('../../assets/prometheus_logo.svg');
}

.custom-icon {
  margin-right: 8px;
  position: absolute;
  right: 0;
  bottom: 0;

  #ceph-logo {
    width: 2rem;
    height: 2rem;
  }
}
