/* Icons */
.ceph-icon {
  background: url('../../assets/Ceph_Logo.svg');
}

.prometheus-icon {
  background: url('../../assets/prometheus_logo.svg');
}

.custom-icon {
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
  padding: 10px;
}
