@if (permissions.log.read) {
  <p i18n>
    <cd-icon type="infoCircle"></cd-icon>
    See <a routerLink="/logs">Logs</a> for more details.
  </p>
}
<ul>
  @for (check of healthData | keyvalue; track check) {
    <li>
      <span
        [ngStyle]="check.value.severity | healthColor"
        [class.health-warn-description]="check.value.severity === 'HEALTH_WARN'"
      >
        @if (legacyHealthChecks) {
          {{ check.value.type }}
        } @else {
          {{ check.key }}
        }</span
      >: {{ check.value.summary.message }} <br />
    </li>
  }
</ul>
