<div class="row">
  <div class="info-group-title">
    <span data-testid="group-title">{{ groupTitle }}</span>
    <cd-helper iconClass="fa fa-info-circle fa-2xs">
      <div class="text-center"
           i18n>For an overview of {{ groupTitle|lowercase }} widgets click
        <cd-doc section="dashboard-landing-page-{{ groupTitle|lowercase }}"
                docText="here"
                i18n-docText></cd-doc>
      </div>
    </cd-helper>
  </div>
</div>

<div class="row">
  <ng-content></ng-content>
</div>
