<div class="row">
  <div class="info-group-title"
       [ngbPopover]="popInfoTemplate"
       #popInfo="ngbPopover"
       triggers="">
    <span>{{ groupTitle }}</span>
    <button type="button"
            class="popover-icon btn btn-link p-0"
            (click)="popInfo.toggle()"
            aria-label="learn more"
            i18n-aria-label>
      <i [ngClass]="[icons.infoCircle, icons.large]"></i>
    </button>
  </div>
</div>

<div class="row">
  <ng-content></ng-content>
</div>

<ng-template #popInfoTemplate>
  <div class="text-center"
       i18n>For an overview of {{ groupTitle|lowercase }} widgets click
    <cd-doc section="dashboard-landing-page-{{ groupTitle|lowercase }}"
            docText="here"
            i18n-docText></cd-doc>
  </div>
</ng-template>
