# {{ cephadm_managed }}
# See https://prometheus.io/docs/alerting/configuration/ for documentation.

global:
  resolve_timeout: 5m
{% if not secure %}
  http_config:
    tls_config:
      insecure_skip_verify: true
{% endif %}

route:
  receiver: 'default'
  routes:
    - group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
      receiver: 'ceph-dashboard'
{% if snmp_gateway_urls %}
      continue: true
    - receiver: 'snmp-gateway'
      repeat_interval: 1h
      group_interval: 10s
      group_by: ['alertname']
      match_re:
        oid: "(1.3.6.1.4.1.50495.).*"
{% endif %}

receivers:
- name: 'default'
  webhook_configs:
{% for url in default_webhook_urls %}
  - url: '{{ url }}'
{% endfor %}
- name: 'ceph-dashboard'
  webhook_configs:
{% for url in dashboard_urls %}
  - url: '{{ url }}/api/prometheus_receiver'
{% endfor %}
{% if snmp_gateway_urls %}
- name: 'snmp-gateway'
  webhook_configs:
{% for url in snmp_gateway_urls %}
  - url: '{{ url }}'
{% endfor %}
{% endif %}
