.setup-step-card {
  display: flex;
  flex-direction: column;
  gap: var(--cds-spacing-03);
  height: 100%;

  &--loading {
    opacity: 0.7;
    pointer-events: none;
  }

  &__step-row {
    display: flex;
    align-items: baseline;
    gap: var(--cds-spacing-03);
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: var(--cds-spacing-03);
  }
}
