.warning-panel-alert-icon {
  vertical-align: top;
  padding-right: 15px; // See @alert-padding in bootstrap/less/variables.less
}
.warning-panel-alert-title {
  font-weight: bold;
}
.warning-panel-alert-text {
}
