<cds-modal
  size="sm"
  [open]="open"
  [hasScrollingContent]="true"
  (overlaySelected)="closeModal()"
>
  <cds-modal-header
    (closeSelect)="closeModal()"
    i18n
  >
      Export multi-site realm token
  </cds-modal-header>

  <ng-container *cdFormLoading="loading">
    <form
      name="exportTokenForm"
      [formGroup]="exportTokenForm"
      novalidate
    >
      <div cdsModalContent>
        <div class="form-item">
          @if (!tokenValid) {
          <cd-alert-panel
            type="warning"
            i18n
          >
            @for (realminfo of realms; track realminfo) {
            <div>
              <b>{{ realminfo.realm }}</b> - {{ realminfo.token }}
            </div>
            }
          </cd-alert-panel>
          }
        </div>

        @for (realminfo of realms; track realminfo) {
        <div>
          <div class="form-item">
            <cds-text-label
              labelInputID="realmName"
              i18n
            >
              Realm Name
              <input
                cdsText
                readonly
                type="text"
                id="realmName"
                [value]="realminfo.realm"
                modal-primary-focus
                [autofocus]="true"
              />
            </cds-text-label>
          </div>

          <div class="form-item form-item-append">
            <cds-text-label
              labelInputID="realmToken"
              i18n
            >
              Token
              <input
                cdsText
                readonly
                type="text"
                id="realmToken"
                [value]="realminfo.token"
              />
            </cds-text-label>
            <cd-copy-2-clipboard-button
              class="clipboard"
              [source]="realminfo.token"
              [byId]="false"
              size="md"
            >
            </cd-copy-2-clipboard-button>
          </div>
        </div>
        }
      </div>
      <cd-form-button-panel
        [modalForm]="true"
        [showSubmit]="false"
        (backActionEvent)="closeModal()"
      >
      </cd-form-button-panel>
    </form>
  </ng-container>
</cds-modal>
