<cds-modal size="md"
           [open]="open"
           [hasScrollingContent]="true"
           (overlaySelected)="closeModal()">
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>
      Export Multi-site Realm Token
    </h3>
  </cds-modal-header>

  <div cdsModalContent>
    <form name="exportTokenForm"
          #frm="ngForm"
          [formGroup]="exportTokenForm">


    <ng-container *ngIf="!loading; else loadingTpl">
      <cd-alert-panel *ngIf="!tokenValid"
                      type="warning"
                      class="mx-3"
                      i18n>
      <div *ngFor="let realminfo of realms">
        <b>{{realminfo.realm}}</b> -
        {{realminfo.token}}
      </div>
      </cd-alert-panel>

      <div *ngFor="let realminfo of realms">
        <div class="form-item">
          <cds-text-label label="Realm Name"
                          for="realmName"
                          i18n>Realm Name
            <input cdsText
                   id="realmName"
                   name="realmName"
                   type="text"
                   value="{{ realminfo.realm }}"
                   readonly>
          </cds-text-label>
        </div>

        <div class="form-item">
          <cds-textarea-label label="Token"
                             for="token"
                             i18n>Token
            <textarea cdsTextarea
                      id="realmToken"
                      name="realmToken"
                      type="text"
                      value="{{ realminfo.token }}"
                      cols="200"
                      rows="5"
                      modal-primary-focus>
                      readonly>
            </textarea>
          </cds-textarea-label>
        </div>
        <div class="form-item">
          <cd-copy-2-clipboard-button
                    source="{{ realminfo.token }}"
                    [byId]="false"
                    modal-primary-focus>
          </cd-copy-2-clipboard-button>
          <label class="cd-col-form-label"
                 for="token"
                 i18n>Token
          </label>
        </div>
        <hr *ngIf="realms.length > 1">
      </div>
    </ng-container>
  </form>
</div>
  <cd-form-button-panel aria-label="Close"
                        (backAction)="activeModal.close()"
                        [showSubmit]="false"
                        cancelText="Close"
                        [modalForm]="true"></cd-form-button-panel>
</cds-modal>

<ng-template #loadingTpl>
  <cds-loading [isActive]="loading"
               size="sm"
               *ngIf="loading"></cds-loading>
</ng-template>