<cd-table #table
          [autoReload]="false"
          [data]="users"
          [columns]="columns"
          columnMode="flex"
          selectionType="multiClick"
          (updateSelection)="updateSelection($event)"
          identifier="uid"
          (fetchData)="getUserList($event)">
  <cd-table-actions class="table-actions"
                    [permission]="permission"
                    [selection]="selection"
                    [tableActions]="tableActions">
  </cd-table-actions>
  <cd-rgw-user-details cdTableDetail
                       [selection]="selection">
  </cd-rgw-user-details>
</cd-table>
