<cd-table
  #table
  [autoReload]="true"
  [data]="data$ | async"
  [columns]="columns"
  selectionType="single"
  columnMode="flex"
  [hasDetails]="true"
  (updateSelection)="updateSelection($event)"
  (setExpandedRow)="setExpandedRow($event)"
  identifier="RoleName"
>
  <cd-table-actions
    class="table-actions"
    [permission]="permission"
    [selection]="selection"
    [tableActions]="tableActions"
  >
  </cd-table-actions>

  <cd-rgw-account-role-details
    *cdTableDetail
    [selection]="expandedRow"
    [accountId]="accountId"
  >
  </cd-rgw-account-role-details>
</cd-table>
