@use './src/styles/vendor/variables' as vv;

.dashboard {
  background-color: vv.$body-bg-alt;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
}

.container-fluid {
  overflow: auto;
  padding-bottom: 100px;
  padding-top: 48px;
}

.rgw-dashboard {
  background-color: vv.$body-bg-alt;
}

.cd-alert-container {
  display: flex;
  flex-direction: column;
}
