@use './src/styles/vendor/variables' as vv;

.overview {
  background-color: vv.$body-bg-alt;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
}

.container-fluid {
  overflow: auto;
  padding-top: 48px;

  &:has(.tearsheet--full) {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    .breadcrumbs--padding {
      padding-left: var(--cds-spacing-07);
    }
  }
}

.rgw-dashboard {
  background-color: vv.$body-bg-alt;
}

.cd-alert-container {
  display: flex;
  flex-direction: column;
}
