<cds-modal
  size="md"
  [open]="open"
  [hasScrollingContent]="false"
  (overlaySelected)="closeModal()"
  >
  <cds-modal-header (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>Report an issue</h3>
  </cds-modal-header>

  <form name="feedbackForm"
        [formGroup]="feedbackForm"
        #formDir="ngForm">
    <div
      cdsModalContent
      class="modal-wrapper"
    >
      @if (!isFeedbackEnabled) {
      <cd-alert-panel type="info"
                      spacingClass="mb-3"
                      actionName="Enable feedback"
                      class="align-items-center"
                      (action)="enableFeedbackModule()"
                      i18n-actionName>
        Enable the feedback service to report issues.
      </cd-alert-panel>
      }
      <!-- api_key -->
      @if (!isAPIKeySet) {
      <div class="form-item">
        <cds-password-label
          labelInputID="api_key"
          [invalid]="!feedbackForm.controls.api_key.valid && feedbackForm.controls.api_key.dirty"
          [invalidText]="apiKeyError"
          [helperText]="apiKeyHelperTpl"
          [disabled]="!isFeedbackEnabled"
          i18n
        >
          API key
          <input
            cdsPassword
            id="api_key"
            type="password"
            formControlName="api_key"
          />
        </cds-password-label>

        <ng-template #apiKeyError>
          @if (feedbackForm.showError('api_key', formDir, 'required')) {
          <span class="invalid-feedback"
                i18n>API key is required.</span>
          } @if (feedbackForm.showError('api_key', formDir, 'invalidApiKey')) {
          <span class="invalid-feedback"
                i18n>API key is invalid.</span>
          }
        </ng-template>

        <ng-template #apiKeyHelperTpl>
          <ng-container i18n>
            Enter your Ceph Tracker API key. You can find your API key in your
            <a href="https://tracker.ceph.com/my/account"
               target="_blank">Ceph Tracker account</a>.
          </ng-container>
        </ng-template>
      </div>
      }

      <!-- project -->
      <div class="form-item">
        <cds-select
          label="Project name"
          id="project"
          formControlName="project"
          [invalid]="!feedbackForm.controls.project.valid && feedbackForm.controls.project.dirty"
          [invalidText]="projectError"
          i18n
        >
          @for (project of projects; track project) {
          <option [value]="project">{{ project }}</option>
          }
        </cds-select>

        <ng-template #projectError>
          @if (feedbackForm.showError('project', formDir, 'required')) {
          <span i18n>This field is required!</span>
          }
        </ng-template>
      </div>

      <!-- issue type -->
      <div class="form-item cds-select-label">
        <cds-select
          label="Issue type"
          id="tracker"
          formControlName="tracker"
          [invalid]="!feedbackForm.controls.tracker.valid && feedbackForm.controls.tracker.dirty"
          [invalidText]="trackerError"
          i18n
        >
          @for (issueType of issueTypes; track issueType.value) {
          <option [value]="issueType.value">{{ issueType.label }}</option>
          }
        </cds-select>

        <ng-template #trackerError>
          @if (feedbackForm.showError('tracker', formDir, 'required')) {
          <span i18n>Issue type is required.</span>
          }
        </ng-template>
      </div>

      <!-- subject -->
      <div class="form-item">
        <cds-text-label
          [invalid]="!feedbackForm.controls.subject.valid && feedbackForm.controls.subject.dirty"
          [invalidText]="subjectError"
          [disabled]="!isFeedbackEnabled"
          i18n
        >
          Issue title
          <input
            cdsText
            id="subject"
            type="text"
            formControlName="subject"
            placeholder="Enter a short summary of the issue"
            i18n-placeholder
          />
        </cds-text-label>

        <ng-template #subjectError>
          @if (feedbackForm.showError('subject', formDir, 'required')) {
          <span i18n>Issue title is required.</span>
          }
        </ng-template>
      </div>

      <!-- description -->
      <div class="form-item">
        <cds-text-label
          [invalid]="!feedbackForm.controls.description.valid && feedbackForm.controls.description.dirty"
          [invalidText]="descriptionError"
          [disabled]="!isFeedbackEnabled"
          i18n
        >
          Description
          <input
            cdsText
            id="description"
            type="text"
            formControlName="description"
            placeholder="Describe the issue and include steps to reproduce it, if applicable"
            i18n-placeholder
          />
        </cds-text-label>

        <ng-template #descriptionError>
          @if (feedbackForm.showError('description', formDir, 'required')) {
          <span i18n>Description is required.</span>
          }
        </ng-template>
      </div>
    </div>
    @if (isFeedbackEnabled) {
    <cd-form-button-panel
      (submitActionEvent)="onSubmit()"
      [form]="feedbackForm"
      [submitText]="submit"
      [modalForm]="true"
    ></cd-form-button-panel>
    }
    @else {
    <cd-form-button-panel
      [showSubmit]="false"
      [modalForm]="true"
    ></cd-form-button-panel>
    }
  </form>
</cds-modal>
