<cds-modal
  size="md"
  [open]="open"
  [hasScrollingContent]="false"
  (overlaySelected)="closeModal()"
>
  <cds-modal-header  (closeSelect)="closeModal()">
    <h3 cdsModalHeaderHeading
        i18n>Report an issue
    </h3>
  </cds-modal-header>

  <form name="feedbackForm"
        [formGroup]="feedbackForm"
        #formDir="ngForm">
    <div cdsModalContent>
      <cd-alert-panel *ngIf="!isFeedbackEnabled"
                      type="error"
                      i18n>
        Feedback module is not enabled. Please enable it from
        <a (click)="redirect()">Cluster-> Manager Modules.</a>
      </cd-alert-panel>

      <!-- api_key -->
      <div class="form-item"
           *ngIf="!isAPIKeySet">
        <cds-text-label
          label="Ceph Tracker API Key"
          for="api_key"
          cdRequiredField="Ceph Tracker API Key"
          [invalid]="!feedbackForm.controls.api_key.valid && feedbackForm.controls.api_key.dirty"
          [invalidText]="apiKeyError"
          i18n>
          Ceph Tracker API Key
          <input
            cdsText
            id="api_key"
            type="password"
            name="api_key"
            formControlName="api_key"
            [autofocus]="true"
            placeholder="Add Ceph tracker API key"
            [readonly]="!isFeedbackEnabled"/>
        </cds-text-label>

        <ng-template #apiKeyError>
          <span
            class="invalid-feedback"
            *ngIf="feedbackForm.showError('api_key', formDir, 'required')"
            i18n>
            Ceph Tracker API key is required.
          </span>
          <span
            class="invalid-feedback"
            *ngIf="feedbackForm.showError('api_key', formDir, 'invalidApiKey')"
            i18n>
            Ceph Tracker API key is invalid.
          </span>
        </ng-template>
      </div>

      <!-- project -->
      <div class="form-item">
        <cds-select
          label="Project name"
          name="project"
          id="project"
          [autofocus]="true"
          formControlName="project"
          cdRequiredField="Project name"
          [invalid]="!feedbackForm.controls.project.valid && feedbackForm.controls.project.dirty"
          [invalidText]="projectError"
          [readonly]="!isFeedbackEnabled">
          <option value="">--- Select a project ---</option>
          <option *ngIf="project.length === 0"
                  [ngValue]="null"
                  i18n>-- No project available --
          </option>
          <option *ngFor="let projectName of project"
                  [value]="projectName">{{ projectName }}
          </option>
        </cds-select>
        <ng-template #projectError>
          <span *ngIf="feedbackForm.showError('project', formDir, 'required')"
                i18n>This field is required!
          </span>
        </ng-template>
      </div>

      <!-- tracker -->
      <div class="form-item">
        <cds-select
          label="Tracker"
          name="tracker"
          id="tracker"
          [autofocus]="true"
          formControlName="tracker"
          cdRequiredField="Tracker"
          [invalid]="!feedbackForm.controls.tracker.valid && feedbackForm.controls.tracker.dirty"
          [invalidText]="trackerError"
          [readonly]="!isFeedbackEnabled"
          i18n
        >
          <option value="">--- Select a tracker ---</option>
          <option *ngFor="let trackerName of tracker"
                  [value]="trackerName">{{ trackerName }}
          </option>
        </cds-select>
        <ng-template #trackerError>
          <span *ngIf="feedbackForm.showError('tracker', formDir, 'required')"
                i18n>Tracker name is required.
          </span>
        </ng-template>
      </div>

      <!-- subject -->
      <div class="form-item">
        <cds-text-label
          label="Subject"
          for="subject"
          cdRequiredField="Subject"
          [invalid]="!feedbackForm.controls.subject.valid && feedbackForm.controls.subject.dirty"
          [invalidText]="subjectError"
          i18n>
          Subject
          <input
            cdsText
            id="subject"
            type="text"
            name="subject"
            formControlName="subject"
            [autofocus]="true"
            placeholder="Add issue title"
            [readonly]="!isFeedbackEnabled"
          />
        </cds-text-label>
        <ng-template #subjectError>
          <span *ngIf="feedbackForm.showError('subject', formDir, 'required')"
                i18n>Subject is required.
          </span>
        </ng-template>
      </div>

      <!-- description -->
      <div class="form-item">
        <cds-text-label
          label="Description"
          for="description"
          cdRequiredField="Description"
          [invalid]="!feedbackForm.controls.description.valid && feedbackForm.controls.description.dirty"
          [invalidText]="descriptionError"
          i18n>
          Description
          <input
            cdsText
            id="description"
            type="text"
            name="description"
            formControlName="description"
            [autofocus]="true"
            placeholder="Add issue description"
            [readonly]="!isFeedbackEnabled"/>
        </cds-text-label>
        <ng-template #descriptionError>
          <span *ngIf="feedbackForm.showError('description', formDir, 'required')"
                i18n>Description is required.
          </span>
        </ng-template>
      </div>
    </div>

    <cd-form-button-panel
      (submitActionEvent)="onSubmit()"
      [form]="feedbackForm"
      [submitText]="submit | upperFirst"
      [modalForm]="true"
    ></cd-form-button-panel>
  </form>
</cds-modal>
