name: integration
on:
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test using docker-compose
        run: ./start.sh
        working-directory: ./docs/docker-compose
