@import 'defaults.scss';

p {
  font-family: monospace;
}

.card {
  div p {
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .timestamp {
    flex-shrink: 0;
    font-weight: bold;
  }

  .priority {
    margin-left: 0.5rem;
  }

  .message {
    margin-left: 1rem;
  }

  .err {
    color: $color-pink;
  }

  .warn {
    color: $color-bright-yellow;
  }

  .info {
    color: $color-brand-teal;
  }
}

::ng-deep ngb-timepicker input.ngb-tp-input {
  width: 3.5rem !important;
}

.middle {
  padding-top: 7px;
}
