<cd-alert-panel class="no-margin-bottom"
                [type]="alertType"
                *ngIf="displayNotification"
                [showTitle]="false"
                size="slim"
                [dismissible]="alertType !== 'danger'"
                (dismissed)="onDismissed()">
  <div *ngIf="expirationDays === 0"
       i18n>Your password will expire in <strong>less than 1</strong> day. Click
    <a routerLink="/user-profile/edit"
       class="alert-link">here</a> to change it now.</div>
  <div *ngIf="expirationDays > 0"
       i18n>Your password will expire in <strong>{{ expirationDays }}</strong> day(s). Click
  <a routerLink="/user-profile/edit"
     class="alert-link">here</a> to change it now.</div>
</cd-alert-panel>
