html, body, table {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
#banner {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid #999999;
    font-family: Verdana, "Arial Black", Arial, sans-serif;
    color: white;
}
#banner div {
    margin: 0;
    border-bottom: 1px solid #333333;
}
#banner div h1 {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 40px;
}
small { font-size: 10px; }
#navcolumn {
    vertical-align: top;
    margin: 0;
    padding: 0 5px 0 8px;
}
.navsegment {
    padding: 0;
    border: 1px solid #C9D2DC;
    background-color: #EEEEFF;
    margin-bottom: 10px;
}
.navsegment h4 {
    margin: 0 0 5px 0;
    font-family: sans-serif, Arial;
    font-weight: bold;
    color: #000066;
    background-color: #C9D2EC;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #93A4B7;
    border-right: 0;
    padding: 2px 0 2px 5px;
}
.navsegment ul {
    list-style: none;
    margin: 0;
    padding: 0 1px 0 7px;
    font-size: 12px;
}
.navsegment ul li {
    white-space: nowrap;
    padding: 0;
    margin: 0 0 5px 0;
}
#maincolumn {
    width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0 8px 0 5px;
}
.mainsegment {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #93A4B7;
}
.mainsegment h3 {
    margin: 0;
    background-color: #7982BC;
    color: white;
    padding: 2px 1px 2px 6px;
    font-family: sans-serif, "Trebuchet MS", Tahoma, Arial;
    border-top: 1px solid #C9D2DC;
    border-left: 1px solid #C9D2DC;
    border-bottom: 1px solid #51657B;
    border-right: 0;
}
.mainsegment div {
    margin: 0;
    padding: 10px;
}
.mainsegment h4 {
    margin: 0;
    padding: 2px 1px 2px 6px;
    font-family: sans-serif, Arial, Tahoma;
    background-color: #DDDDEE;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #999999;
    border-right: 0;
}
pre, .programlisting {
    background-color: #EFEFEF;
    border: 1px solid #CCCCEE;
    padding: 10px;
}

/* Docbook formatting */
h3.SECT3, h3.AUTHOR {
    border: 0;
    font-family: sans-serif, serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    color: #51657B;
    text-decoration: none;
}
DD { padding-bottom: 0 }
.synopsis {
    background: #eeeeff;
    border: solid 1px #aaaaff;
    padding: 10px;
}


/* Diagram thinger */
td.kernel {text-align: center; background-color: pink}
td.entity {text-align: center; background-color: #4ae544}
td.lib {text-align: center; background-color: orange}
td.abstract {text-align: center; background-color: #dde244}
td.net {text-align: center; background-color: lightgray}

