worker_rlimit_nofile 8192;

events {
    worker_connections 4096;  ## Default: 1024
}

http {

    server {

{% if spec.disable_https %}
        listen {{ spec.port or 80 }};
{% else %}
        listen		    {{ spec.port or 443 }} ssl;
	listen		    [::]:{{ spec.port or 443 }} ssl;
	ssl_certificate	    /etc/nginx/ssl/nginx.crt;
	ssl_certificate_key /etc/nginx/ssl/nginx.key;
	{% if spec.ssl_protocols %}
	ssl_protocols	    {{ spec.ssl_protocols | join(' ') }};
	{% else %}
	ssl_protocols	    TLSv1.2 TLSv1.3;
	{% endif %}
	{% if spec.ssl_ciphers %}
	ssl_ciphers	    {{ spec.ssl_ciphers | join(':') }};
	{% endif %}
	ssl_prefer_server_ciphers {{ spec.ssl_prefer_server_ciphers }};
{% endif %}

{% if dashboard_urls %}
         {% for url in dashboard_urls %}
         location {% if loop.index0 == 0 %}/{% else %}@handle_redirects_{{ loop.index0 }}{% endif %} {
             proxy_pass {{ url }};
             {% if loop.index0 < dashboard_urls | length - 1 %}
             proxy_intercept_errors on;
             recursive_error_pages on;
             error_page 301 302 303 307 308 = @handle_redirects_{{ loop.index0 + 1 }};
             {% endif %}
         }
         {% endfor %}
{% endif %}

{% if grafana_url %}
        location /grafana {
            rewrite ^/grafana/(.*) /$1 break;
            proxy_pass {{ grafana_url }};
        }
{% endif %}

{% if prometheus_url %}
        location /prometheus {
            proxy_pass {{ prometheus_url }};
        }
{% endif %}

{% if alertmanager_url %}
        location /alertmanager {
            proxy_pass {{ alertmanager_url }};
        }
{% endif %}

    }
}
