-e ../../python-common
asyncmock
cherrypy
cryptography==45.0.4
jsonpatch
Jinja2
pecan
prettytable<3.4.0
pyfakefs
pyOpenSSL
pytest-cov==2.7.1
pyyaml==6.0.2
requests-mock
scipy==1.15.2
werkzeug
natsort
bcrypt
cheroot~=10.0
