<tabset *ngIf="selection.hasSingleSelection">
  <tab i18n-heading
       heading="Details">
    <cd-table-key-value [data]="metadata"
                        (fetchData)="getMetaData()">
    </cd-table-key-value>
  </tab>
  <tab i18n-heading
       heading="Performance Counters">
    <cd-table-performance-counter serviceType="rgw"
                                  [serviceId]="serviceId">
    </cd-table-performance-counter>
  </tab>
  <tab i18n-heading
       *ngIf="grafanaPermission.read"
       heading="Performance Details">
    <cd-grafana [grafanaPath]="'rgw-instance-detail?var-rgw_servers=rgw.' + this.selection.first().id"
                uid="x5ARzZtmk"
                grafanaStyle="one">
    </cd-grafana>
  </tab>
</tabset>
