<ng-container *ngIf="selection">
  <nav ngbNav
       #nav="ngbNav"
       class="nav-tabs"
       cdStatefulTab="rgw-daemon-details">
    <ng-container ngbNavItem="details">
      <a ngbNavLink
         i18n>Details</a>
      <ng-template ngbNavContent>
        <cd-table-key-value [data]="metadata"
                            (fetchData)="getMetaData()">
        </cd-table-key-value>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="performance-counters">
      <a ngbNavLink
         i18n>Performance Counters</a>
      <ng-template ngbNavContent>
        <cd-table-performance-counter serviceType="rgw"
                                      [serviceId]="serviceMapId">
        </cd-table-performance-counter>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="performance-details"
                  *ngIf="grafanaPermission.read">
      <a ngbNavLink
         i18n>Performance Details</a>
      <ng-template ngbNavContent>
        <cd-grafana i18n-title
                    title="RGW instance details"
                    [grafanaPath]="'rgw-instance-detail?var-rgw_servers=rgw.' + this.serviceId"
                    [type]="'metrics'"
                    uid="x5ARzZtmk"
                    grafanaStyle="one">
        </cd-grafana>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav"></div>
</ng-container>
