<ng-container *ngIf="selection">
  <ul ngbNav
      #nav="ngbNav"
      class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink
         i18n>Details</a>
      <ng-template ngbNavContent>
        <cd-table-key-value [data]="metadata"
                            (fetchData)="getMetaData()">
        </cd-table-key-value>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink
         i18n>Performance Counters</a>
      <ng-template ngbNavContent>
        <cd-table-performance-counter serviceType="rgw"
                                      [serviceId]="serviceId">
        </cd-table-performance-counter>
      </ng-template>
    </li>
    <li ngbNavItem
        *ngIf="grafanaPermission.read">
      <a ngbNavLink
         i18n>Performance Details</a>
      <ng-template ngbNavContent>
        <cd-grafana [grafanaPath]="'rgw-instance-detail?var-rgw_servers=rgw.' + this.serviceId"
                    uid="x5ARzZtmk"
                    grafanaStyle="one">
        </cd-grafana>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</ng-container>
